---
title: "About"
permalink: /about/
---
<p><a href="http://think-innovation.com/wp-content/uploads/2013/08/Pasfoto-SF-sept-2013.jpg"><img class="size-full wp-image-397 alignleft" src="http://think-innovation.com/wp-content/uploads/2013/08/Pasfoto-SF-sept-2013.jpg" alt="Pasfoto SF sept 2013" width="123" height="123" /></a>My name is Diderik van Wingerden and I am a high-energy entrepreneurial innovator with a strong track record in new product development. I work for a better world. "Think. Innovation." is the name of my company.</p>
<p>I love creating innovative products. Using my unique combination of skills and experience, I am able to direct technology-business strategy and quickly get breakthrough results in highly complex and dynamic environments.</p>
<p>Major accomplishments:<br />
✔ Developed 50+ Websites &amp; Mobile Apps in various roles<br />
✔ Software Architect of radically simple Energy Open API for Smart Meters<br />
✔ Coached 15+ early-stage entrepreneurs with Business Modeling and Lean Start-up<br />
✔ Mentor Business Modeling at Startup Weekend and Apps For The Planet Hackathons<br />
✔ Two-time winner of The Next Web Conference Hackathon<br />
✔ Cum laude Master's Degree in Economics &amp; Informatics and Bachelor's Degree in Computer Science<br />
✔ 15+ publications, guest lectures and presentations on Information Economics, IT Architecture and Sustainability</p>
<p>In recent years I worked in the start-up communities in Silicon Valley, Madrid and Amsterdam.</p>
<p>I am always on the look-out for inspiring ideas that have the potential for lasting impact. Passionate about: Open Knowledge &amp; Innovation, Free and Open Source Software, Open Hardware, Internet of Things, Business Model Canvas and Lean Start-up (and so much more).</p>
<p>I am a team player, a practical idealist and a product perfectionist.</p>
<h3>The meaning of "Think. Innovation."</h3>
<p>The word 'Innovation' in the name of my company refers to my passion for all that is innovation-related. Especially technology-based innovation that is disruptive and used for progressing mankind. The meaning of 'Think' is threefold: (1) it refers to my tendency to always think things through before 'doing', (2) it refers to my ability to be continuously reflective in any process or project and not lose sight of the overall objective and (3) it refers to: "Are you thinking of innovation? Then think of Diderik!", a way to connect to you!</p>
<p>The 2 periods in the name are on purpose: they emphasize the reflective pause that is always present in the work that I do. Stop and look up for a moment: do we still have the ultimate goal in sight and are our everyday actions laser focused towards achieving this?</p>
<p>A remark on the process of finding this name: this was not straightforward and came out of the interaction between my designer and me when I was doing the <a title="The Story of the Business Card" href="http://think-innovation.com/projects/the-story-of-the-business-card/">competition for a business card</a>.</p>
<h3>More about me</h3>
<p>I am a public speaker, was guest lecturer at Erasmus University and author of many published articles.</p>
<p>I have a Cum Laude Master's Degree in Economics and Informatics and a Degree in Computer Science. I was co-founder of Mr. Link and worked for Pebble Smartwatch while living in Silicon Valley. In 2004 I was the Lead Developer of Culture Around The Corner, the internationally recognized and press covered location based service for the Dutch cultural sector. The 'love for the Internet' I got from my colleagues at the award winning Delft-based company Zappwerk.</p>
<p>With clients and partners I develop innovative products with a strong positive impact. Roles: Entrepreneur, Coach, Mentor, Product Manager, Project Manager, Software Architect, Business Analyst and Consultant.</p>
<p>Read my <a href="http://nl.linkedin.com/in/diderikvanwingerden/">LinkedIn page</a>&nbsp;or <a title="Contact" href="/contact/">contact me</a> to find out more.</p>
<p>&nbsp;</p>
