---
title: "Contact"
permalink: /contact/
---
<p>Do you have a world-changing idea, project or product? Contact me when you also want to innovate faster!</p>
<p><a href="https://twitter.com/diderikvw"><img src="http://think-innovation.com/wp-content/uploads/2013/08/twitter.png" alt="twitter" width="31" height="32" /></a> <a href="http://nl.linkedin.com/in/diderikvanwingerden/"><img src="http://think-innovation.com/wp-content/uploads/2013/08/linkedin.png" alt="linkedin" width="31" height="32" /></a> <a href="http://about.me/diderik"><img src="http://think-innovation.com/wp-content/uploads/2013/08/aboutme.png" alt="aboutme" width="31" height="32" /></a> <a href="mailto:diderik@think-innovation.com"><img src="http://think-innovation.com/wp-content/uploads/2013/08/mail.png" alt="mail" width="31" height="32" /></a> <a href="skype:dvanwingerden?call"><img src="http://think-innovation.com/wp-content/uploads/2013/08/skype.png" alt="skype" width="31" height="32" /></a></p>
<h3>By phone</h3>
<p><a href="tel:+31621639148">+31(0)6 - 21 639 148</a></p>
<h3>Send a message</h3>
<p>(contact form disabled due to spamming, contact me via one of the buttons above)</p>
