---
title: "Now"
permalink: /now/
---
<p>By good example of <a href="https://yoeran.nl/now">Yoeran</a> and following <a href="http://nownownow.com/about">this initiative</a>, I also added a Now page!</p>
<p>Last update: 17 July 2018</p>
<p>Things I am busy with now:</p>
<ul>
<li>Mentoring a start-up for <a href="http://foodstars.net/">FoodStars</a>, a program of World Startup Factory</li>
<li>Kickstarting of a community-based effort to create the world's first (digital) magazine on Open Source Design</li>
<li>Continuing my work as Scrum Master and Information Analyst at the Ministry ofJustice and Security</li>
<li>Ideating and talking to people about starting a Lab, Institute or Hub of some sort around Open Source Design focused on developing technology that matters</li>
</ul>
<p>Things I recently did:</p>
<ul>
<li>Organizing <a href="https://www.enexisgroep.nl/nieuws/sonnet-wint-energy-hack-nl-en-4000/">Energy Hack NL</a>, an innovation competition (hackathon) themed around Flexible Energy, Smart Mobility and Sustainable Development</li>
<li>Mentoring a team for <a href="http://www.hortiheroes.com/">HortiHeroes</a>, a learning-by-doing innovation program in agri/food, 'my' team HortiCity won 1st prize</li>
<li>Mentoring 3 companies for <a href="https://danskdesigncenter.dk/en/remodel">REMODEL</a>, a Design Thinking-based course of Danish Design Center</li>
</ul>
