---
title: "Talks"
permalink: /talks/
---
<p>Some of my talks at various conferences and events, see my <a href="https://www.slideshare.net/DiderikvanWingerden">Slideshare profile</a> and <a href="https://www.youtube.com/channel/UCXHHoWVN6sk1bkul0BXDo2g">YouTube channel</a> for more.</p>
<h3>The Power of Open Source Innovation</h3>
<p>At <a href="https://www.thingscon.nl/">ThingsCon Amsterdam</a> 2017 I gave a workshop on Open Source Innovation. After a lively conversation on the possibilities, pros and cons of Open Business Models and Gongban, the participants chose to work on their own cases in groups using the <a href="http://openitagency.eu/open-platform-design-flowchart-tool/">Open Platform Design Flowchart</a> by Lars Zimmermann. View the slides on Slideshare below, or <a href="/media/downloads/talks/The-Power-of-Open-Soure-Innovation-Diderik-van-Wingerden_web.pdf" target="_blank" rel="noopener">download the slides as PDF</a>.&nbsp;Participants chose not to work on the 'standard' WasteBuster exercise, but the case description is <a href="/media/downloads/talks/WasteBuster-Case.pdf">available for download</a>.&nbsp;A possible 'solution' to that case is in my blogpost <a href="{% post_url 2017-05-28-no-time-to-waste %}">"No Time To Waste!"</a> (Spoiler Alert!).</p>
<p><iframe style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" src="//www.slideshare.net/slideshow/embed_code/key/8FFFswoyNsa68B" width="340" height="290" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" allowfullscreen="allowfullscreen"> </iframe></p>
<h3>Conquer the World with Open Source (in Dutch)</h3>
<p>On 30 November 2016 I gave a talk on how Open Source Software has conquered the world and Open Source Hardware may be about to do so, at the <a href="http://mikrocentrum.nl/evenementen/themabijeenkomsten/osshc2016/">Open Source Software &amp; Hardware Congres</a> in Den Bosch, NL.</p>
<p><iframe style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" src="//www.slideshare.net/slideshow/embed_code/key/2aOOMq0c5saP7X" width="340" height="290" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" allowfullscreen="allowfullscreen"> </iframe></p>
<h3>The Opportunity of Open</h3>
<p>On 28 September 2016 I gave a talk at the International Conference 'Innovation: Now is the Future', in Vilnius, Lithuania. In the talk I explored the influence of applying Open Source in cooperation between business and science, using Totem Open Health as case.</p>
<p><iframe style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" src="//www.slideshare.net/slideshow/embed_code/key/KSL38bijS8xhly" width="340" height="290" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" allowfullscreen="allowfullscreen"> </iframe></p>
<h3>Can Open Source benefit your Business Model?</h3>
<p>On 8 June 2016 I gave a talk at the IoT Event in Eindhoven on how applying Open Source is not only good for innovation, privacy and security, but can also result in highly profitable business.</p>
<p><iframe style="border: 1px solid #CCC; border-width: 1px; margin-bottom: 5px; max-width: 100%;" src="//www.slideshare.net/slideshow/embed_code/key/fo56N7aYxKFqYk" width="340" height="290" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" allowfullscreen="allowfullscreen"> </iframe></p>
<h3>Smart Energy Challenge</h3>
<p>In May 2016 I organized and facilitated the Business Marathon Energy at the Campus Party conference in Utrecht, NL. Before the pitch finals I briefly introduced the Smart Energy Challenge.</p>
<p><iframe src="https://www.youtube-nocookie.com/embed/Db412Uee_SQ?rel=0" width="400" height="225" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<h3>From Cool Hack to Sustainable Company</h3>
<p>In 2015 I gave a talk at Hacker Hotel, explaining the origins and motivations of the Totem initiative for creating open source and sustainable electronics products.</p>
<p><iframe src="https://www.youtube-nocookie.com/embed/Xy8l8ZQT7-I?rel=0" width="400" height="225" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<h3>Introducing Open Source Hardware</h3>
<p>At the T-DOSE 2015 Conference I gave an introductory talk on Open Source Hardware, also introducing the Totem initiative and linking Open Source Software to Internet of Things.</p>
<p><iframe src="https://www.youtube-nocookie.com/embed/XyUaI3NKE_k?rel=0" width="400" height="225" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<h3>Electric Vampires</h3>
<p>In 2012 my team won 2 prizes at the Hack Battle competition of The Next Web with this pitch and our 'hack' of a social game for children learning about energy and energy savings.</p>
<p><iframe src="https://www.youtube-nocookie.com/embed/H_yUnx235-g?rel=0" width="400" height="225" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
