---
title: Social game for Smart Energy "Electric Vampires"
header:
#  image: media/images/projects/
  teaser: media/images/projects/project-electric-vampires-teaser.jpg
categories:
- Work
tags: []
comments: []
---
<p>At the <a href="http://thenextweb.com/conference/europe/2012/hackbattle/">The Next Web conference's Hack Battle</a> we won 2 prizes with a prototype of the social game Electric Vampires. The game is aimed at children, helping them understand 'energy' and energy savings.</p>
<p>Our team won the 'most creative project' and the 3rd overall prize.</p>
<p><!--more-->Have a look at my pitch before the The Next Web audience and the Jury:<br />
<iframe src="//www.youtube.com/embed/8jSq9IWvshU?rel=0" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p>And some screen shots of the game:</p>
<p><a href="/media/images/projects/electric-vampires/photo.jpg"><img class="alignnone size-medium wp-image-320" src="/media/images/projects/electric-vampires/photo.jpg" alt="photo" width="200" height="300" /></a>&nbsp;<a href="/media/images/projects/electric-vampires/photo-4.jpg"><img class="alignnone size-medium wp-image-319" src="/media/images/projects/electric-vampires/photo-4.jpg" alt="photo-4" width="200" height="300" /></a>&nbsp;<a href="/media/images/projects/electric-vampires/photo-3.jpg"><img class="alignnone size-medium wp-image-318" src="/media/images/projects/electric-vampires/photo-3.jpg" alt="photo-3" width="200" height="300" /></a> <a href="/media/images/projects/electric-vampires/photo-2.jpg"><img class="alignnone size-medium wp-image-317" src="/media/images/projects/electric-vampires/photo-2.jpg" alt="photo-2" width="200" height="300" /></a> <a href="/media/images/projects/electric-vampires/photo-1.jpg"><img class="alignnone size-medium wp-image-316" src="/media/images/projects/electric-vampires/photo-1.jpg" alt="photo-1" width="200" height="300" /></a></p>
<p>&nbsp;</p>
