---
title: On-line platform DordtSport.nl
header:
#  image: media/images/projects/
  teaser: media/images/projects/project-dordtsport-teaser.jpg
categories:
- Work
tags: []
comments: []
---
<p>For my client <a href="http://www.blis.biz/">BLiS Web &amp; Mobile</a> I did Project and Technical Management of <a href="http://www.dordtsport.nl">DordtSport.nl</a>,&nbsp;the new on-line platform for sports in the city of Dordrecht area.</p>
<p>Besides the overall management of the project and coordinating with the client, the 'Sportbedrijf' Department of the Municipality of Dordrecht, I made the Software Architecture of the platform. This using BLiS' proprietary&nbsp;Content Management System called the BlisEngine, resembling Expression Engine and using HTML5, JavaScript, PHP and MySQL.</p>
