---
title: Proof-of-concept Open Street Map Front-end
header:
#  image: media/images/projects/
  teaser: media/images/projects/project-openstreetmap-teaser.jpg
categories:
- Work
tags: []
comments: []
---
<p>For the start-up <a href="http://socialintern.com/">Social Intern</a> I created a proof-of-concept for the front-end mapping interface, using JavaScript, jQuery and <a href="http://www.openstreetmap.org/">Open Street Map</a> (OSM).</p>
