---
title: Proof-of-concept Parse.com Back-end for Pebble Smartwatch
header:
#  image: media/images/projects/
  teaser: media/images/projects/project-pebble-teaser.jpg
categories:
- Work
tags: []
comments: []
---
<p>For <a href="http://getpebble.com/">Pebble Smartwatch</a> (former <a href="http://www.inpulsewatch.com/">inPulse Smartwatch</a>) I created a proof-of-concept of their new user account front-end and back-end, using the&nbsp;messaging and data persistence API of&nbsp;<a href="http://www.parse.com/">Parse.com</a>, Ruby on Rails and native Android.</p>
