---
title: Spotify Jukebox using NFC and RFID
header:
#  image: media/images/projects/
  teaser: media/images/projects/project-byom-teaser.jpg
categories:
- Work
tags: []
comments: []
---
<p>We won 2 prizes again at The Next Web Hack Battle. This time with "Bring Your Own Music": personalized Spotify Music Cards using NFC and RFID. We used a network-connected Arduino coupled with an NFC Reader, a custom Spotify App, the Spotify API, a PHP front-end and <a href="http://apigee.com/">Apigee</a> for the data back-end.</p>
<p><!--more--></p>
<p>Using Bring Your Own Music, you can use random RFID chip cards, including the one-time-use Public Transport ones, and configure them to contain their favorite Spotify Playlists. Then arriving at a party, you put this card on the scanner for a few seconds (NFC Reader) and wham! Your songs are added to the party's Spotify Playlist! The more a song is added, the more it is 'voted up' in the list. This is the innovative way of bringing your own music!</p>
<p>Since you can program any card that has an RFID chip to contain your music, including the ones that you normally throw away like the one-time Public Transport cards in Amsterdam, you can also exchange your favorite Spotify Playlists with friends, for example.</p>
<p><a href="/media/images/projects/byom/byom-updatecard-screenshot.jpg"><img class="alignnone size-full wp-image-208" src="/media/images/projects/byom/byom-updatecard-screenshot.jpg" alt="byom-updatecard-screenshot" width="524" height="315" /></a></p>
<p><a href="/media/images/projects/byom/byom-spotifyapp-screenshot.jpg"><img class="alignnone  wp-image-207" src="/media/images/projects/byom/byom-spotifyapp-screenshot.jpg" alt="byom-spotifyapp-screenshot" width="524" height="323" /></a></p>
