---
title: Ectual Smart Energy Monitor for Enexis
header:
  #image: media/images/projects/project-ectual.jpg
  teaser: media/images/projects/project-ectual-teaser.jpg
categories:
- Work
tags: []
comments: []
---
<p><a href="/media/images/projects/project-ectual.jpg"><img class="alignnone  wp-image-347" src="/media/images/projects/project-ectual.jpg" width="420" /></a></p>
<p>As Product Manager for <a href="http://www.enexis.nl/">Enexis</a> I coordinating the software development of the <a href="http://www.ectual.nl/">Ectual</a>, an electronic device that makes <a href="http://nl.wikipedia.org/wiki/Slimme_meter">Smart Meter</a> data available in the 'living room': on smartphones, tablets and computers through an <a href="http://en.wikipedia.org/wiki/Open_API">Open API</a>.</p>
<p>I designed&nbsp;the Open API for this new innovative platform, based on HTTP, REST and JSON. I defined&nbsp;specifications and RfP's, selected suppliers, managed development and release of the core software and performed tests on Android, iOS and Windows. I constructed the&nbsp;Software Development Kit (SDK) used by application developers of the API.</p>
