---
title: Social Game for Smart Energy "Ice Cream Ohmmeter"
header:
#  image: media/images/projects/
  teaser: media/images/projects/project-sfuncube-teaser.jpg
categories:
- Work
tags: []
comments: []
---
<p>In just 48 hours we put together a working prototype of the "Ice Cream Ohmmeter": an app that makes Energy Savings seriously fun. The Energy Data that is used in the app, is provided by the <a href="http://www.ectual.nl/">Ectual</a> P1-device that we created at <a href="http://www.enexis.nl/">Enexis</a>. The Ectual is a cheap device with an <a href="http://support.ectual.nl/wiki/download-sdk/">Open API</a> that makes Energy Data easily available to any app or website.</p>
<p><!--more--></p>
<p><a href="http://www.zonline.nu/">Zonline</a> invited <a href="http://nl.linkedin.com/in/rvtwestende/">Robbert van 't Westende</a>, Software Engineer at <a href="http://www.totalactivemedia.nl/">Total Active Media</a> and me to go to Oakland, CA, and participate in the <a href="http://sfuncube.com/hackathon/">SfunCube Solar Hackathon</a>. Robbert and me joined forces with <a href="http://www.linkedin.com/in/arthurscottiv/">Arthur Scott</a>, Manager of Visual Design at Sungevity, <a href="http://www.linkedin.com/in/teknolog/">Sebastian Brannstrom</a>, Lead Engineer at Lyft&nbsp; and Oliver Zhang.</p>
<p>See the pitch in the YouTube video below:</p>
<p><iframe src="//www.youtube.com/embed/4Lb5h88OgG0?rel=0" width="420" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p>And some screenshots of the app:</p>
<p><a href="/media/images/projects/sfuncube/screenshot2.jpg"><img class="alignnone  wp-image-347" src="/media/images/projects/sfuncube/screenshot2.jpg" alt="Ice-Cream-Ohmmeter_screenshot_2" width="420" height="450" /></a></p>
<p><a href="/media/images/projects/sfuncube/screenshot5.jpg"><img class="alignnone  wp-image-348" src="/media/images/projects/sfuncube/screenshot5.jpg" alt="Ice-Cream-Ohmmeter_screenshot_5" width="420" height="290" /></a></p>
<p><a href="/media/images/projects/sfuncube/screenshot6.jpg"><img class="alignnone size-full wp-image-349" src="/media/images/projects/sfuncube/screenshot6.jpg" alt="Ice-Cream-Ohmmeter_screenshot_6" width="231" height="425" /></a></p>
<p>At this moment we are putting together the next step, combining the strengths of Enexis, Zonline, Total Active Media and other parties.</p>
<p>Find out more about our app at the <a href="http://solarhackathon.challengepost.com/submissions/17333-ice-cream-ohmmeter">ChallengePost.com website</a>. Or <a title="Contact" href="/contact/">contact me</a>.</p>
<p>- Diderik</p>
