---
title: Apps for Energy Hackathon
header:
  image: media/images/projects/project-apps-for-energy-hackathon-group-1200px.jpg
  teaser: media/images/projects/project-apps-for-energy-hackathon-group-600-400px.jpg
categories:
- Work
- Blog
tags: []
comments: []

---
<p>Being one of the partner organizations of the <a href="http://doorbraakmetopendata.nl/agenda/detail/open-data-estafette-duurzame-energie">"Open Data Estafette"</a> conference on Renewable Energy, my client <a href="http://www.enexis.nl/">Enexis</a> together with Grid Operator <a href="http://liander.nl/">Liander</a> had the idea of organizing a <a href="https://sendgrid.com/blog/explained-hackathons-parents/">hackathon</a> on the subject. Meaning: going beyond the talks of the conference (mainly public servants) and towards creating innovative solutions with open data. For this idea Enexis asked for my help.</p>
<p><!--more--></p>
<p><a href="http://nl.linkedin.com/pub/fieke-janssen/65/296/83a">Fieke Janssen</a> of Liander, <a href="http://nl.linkedin.com/pub/frans-van-der-schrier/1/a64/952">Frans van der Schrier</a> of Enexis and me quickly decided to get assistance on the organizational and promotional part (organizing hackathons is not core business for Enexis and Liander), so we asked <a href="https://twitter.com/tijsmarkusse">Tijs Markusse</a> of <a href="http://www.utrechtinc.nl">UtrechtInc</a> for help. UtrechtInc and Tijs have a lot of experience in this area, so putting a plan together with them was easy. We named the hackathon "<a href="http://www.appsforenergy.nl">Apps for Energy</a>" and aimed for 50 hackers to participate. However in the week before the start date we needed to close down subscriptions as we went well beyond 70! Having a few no-shows we ended up with a good 65 hackers throughout the weekend. A very nice amount indeed!</p>
<p>You can find all the info about the hackathon, the program, the organizations, the teams and their hacks on these websites: <a href="http://www.appsforenergy.nl/">the official website</a>, the <a href="http://wiki.appsforenergy.nl/">wiki with all the details</a>, <a href="https://www.hackerleague.org/hackathons/apps-for-energy-hackathon/hacks">hackerleague.org</a> and the official <a href="https://twitter.com/appsforenergynl">Twitter account</a>.</p>
<p>As for my role: I set out the requirements and strategy for the hackathon (from my own hackathon experience), got UtrechtInc on board, promoted using my network, got several judges and mentors signed up, was the anchorman ("dagvoorzitter") and mentor for the <a href="http://www.ectual.nl">Ectual</a> during the weekend and did of course many small-hands-on-yet-important stuff. In short: make sure that the hackers would have a great experience!</p>
<p><em><strong>Apps for Energy was a huge success: the venue, the teams, the ideas, the pitches, the food, the mentors, everything was just amazing. We as the organizing team got highly positive feedback from the hackers. I honestly wouldn't know what to do different next time.</strong></em></p>
<p>Thinking of organizing your own hackathon? <a title="Contact" href="/contact/">Contact me</a>.</p>
<p>The rest of this post is about the hacks/apps the teams made. And some awesome hacks they were! Remark: the opinions expressed here are mine and mine alone, they are in no way related to Enexis, Liander or UtrechtInc.</p>
<p>I will not go through all 19 (!) hacks, only the ones that I found most interesting/innovating:</p>
<p>&nbsp;</p>
<h3>Annie-G, a game for young kids and their parents</h3>
<p><iframe src="//www.youtube-nocookie.com/embed/b7Bklbn4pgY?rel=0" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p>Besides the excellent pitch and the beautiful app this concept stands out on the simplicity of the paradigm: the energy that you save in your home, becomes available for Annie and her home. Also, Annie continues to live her life 24/7, also when you are not playing the game. So when you are playing, it is more like an opportunity to interact with Annie. Also, translating the energy saved to 'gems' that are valuable and can be used to make the game more interesting, is great.</p>
<p>Read: <a href="https://www.hackerleague.org/hackathons/apps-for-energy-hackathon/hacks/annie-g">info of Annie-G on hackerleague.org</a></p>
<p>&nbsp;</p>
<h3>Slurpers, join your kids to fight the vampire loads (1st prize winner)</h3>
<p><iframe src="//www.youtube-nocookie.com/embed/JX4j6iuE8SU?rel=0" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe><br />
This team simply made the best pitch: the video, the interaction with the audience, the music. As the judges remarked: this is what a hackathon is about: having fun! Also the concept is quite interesting: running around your house together with your kids, disabling appliances with a 'vampire load'. However, the audience and judges rightfully had some reservations about the practicality and safety of the process. Only one way to find out: go test in a real house with a real family!</p>
<p>Read: <a href="https://www.hackerleague.org/hackathons/apps-for-energy-hackathon/hacks/slurpers-wie-niet-weg-is-is-gezien">info of Slurpers on hackerleague.org</a></p>
<p>&nbsp;</p>
<h3>How green is my energy?</h3>
<p><iframe src="//www.youtube-nocookie.com/embed/iNWJR6ktk20?rel=0" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe><br />
Did you know that even when you have a 'green energy' contract with your Utility, a lot of energy that you use is not really green? I had no idea. The video above explains this rather complicated phenomenon.</p>
<p>So the team of this hack took this phenomenon and decided to create an 'awareness app'. Not just dull information, but actually an opportunity for the user to see when actual green energy is entering their home! And act accordingly. I wish the app was really working! In the meantime you can check out how much green energy you are really getting from your utility with the <a href="http://hier.nu/hier/pagina/groene-stroom-tool">"Green Electricity Tool"</a>. Apparently the electricity I am using from Eneco (EcoStroom) is only 10% 'really' green! And yours? Time to change?</p>
<p>Website: <a href="http://hoegroenismijnenergie.nu/">hoegroenismijnenergie.nu</a><br />
Read: <a href="https://www.hackerleague.org/hackathons/apps-for-energy-hackathon/hacks/hoegroenismijnenergie-dot-nu">info on hackerleague.org</a></p>
<p>&nbsp;</p>
<h3>Solv.it, invented Sungevity</h3>
<p><iframe src="//www.youtube-nocookie.com/embed/N9LRvE02yfA?list=UUI9I2uq-kvtpBuaqWMU3EFw" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p>As judge Robbert Mica pointed out clearly: this team invented a system for easily dimensioning and calculating solar panels for your roof. Exactly the thing Robbert got started with 4 yours ago with Zonline. A good idea nonetheless, as his company got taken over by <a href="http://www.sungevity.nl/">Sungevity</a>!</p>
<p>Read: <a href="https://www.hackerleague.org/hackathons/apps-for-energy-hackathon/hacks/solv-dot-it">info of Solv.it on hackerleague.org</a></p>
<p>&nbsp;</p>
<h3>Smooth Grid, smoothing local energy demands (2nd prize winner)</h3>
<p><iframe src="//www.youtube-nocookie.com/embed/C2mc7Ih58Hc?rel=0" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe><br />
This team won the 2nd prize because of the 'grand vision' and rightly so: it is a fresh idea on the problem of Grid Operators in the face of renewable energy. As renewable energy is typically generated more locally and the 'old' energy centrally, this creates a demand/supply coordination problem. As already becomes evident in Germany. The idea of Smooth Grid is to make 'energy portable' by a simple connector that you can take with you and with which you can use electricity at another location but charged to your bill. A new Value Proposition for energy consumers and a possible solution for Grid Operators: making winners of all stakeholders! Will it work in reality? Only 1 way to find out! But as the judges pointed out: it is going to take a steep investment to create the market!</p>
<p>Read: <a href="https://www.hackerleague.org/hackathons/apps-for-energy-hackathon/hacks/smooth-grid">info of Smooth Grid on hackerleague.org</a></p>
<p>&nbsp;</p>
<h3>Scanergy, augmented reality energy savings</h3>
<p><iframe src="//www.youtube-nocookie.com/embed/H5spy-RmBXY?rel=0" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p>One awesome demo this team had! Just point the camera of your phone on a 'marker' of an appliance and see an overlay of the appliance's energy usage! One swipe shows a dashboard of costs, averages, alternative appliances, possible savings etc. This app makes the energy your appliances use really tangible and insightful. But how to get the markers on your appliances? Perhaps the camera could scan the brand name and type instead. That would require some serious image recognition (<a href="https://itunes.apple.com/en/app/word-lens/id383463868">Word Lens</a> comes to mind). Or scan the bar code? A quick walk through my house learned that monitors, laptops etc. have them, however fridges, washing machines, dishwashers do not. At least not at the front.</p>
<p>Read: <a href="https://www.hackerleague.org/hackathons/apps-for-energy-hackathon/hacks/scanergy">info of Scanergy on hackerleague.org</a></p>
<p>&nbsp;</p>
<h3>And the rest?</h3>
<p>Okay, that is all the hacks I will cover here. And the rest? Read their <a href="https://www.hackerleague.org/hackathons/apps-for-energy-hackathon">info on hackerleague.org</a> and watch <a href="https://www.youtube.com/playlist?list=PLN09qhlueynf6AUp6rFmQSyKSAAUS9JwL">all pitches on YouTube</a>. They are mostly about: giving a household more insight into their energy usage, give tips for energy savings, compare usage to neighbors and do social competitions/games.</p>
<h3>Excited?</h3>
<p>Did you get excited about one of these ideas? Do not hesitate to <a href="https://www.hackerleague.org/hackathons/apps-for-energy-hackathon/">contact the team</a> directly! Or <a title="Contact" href="/contact/">contact me</a> to get you the technical/product results you are looking for! Also, in case you want to develop your solution on the Dutch smart meters, the Ectual device and/or any other P1-device, check out the free to use <a href="https://www.slimmemetertestlab.nl/">Smart Meter Test Lab of Enexis</a>.</p>
