---
layout: page
status: publish
published: true
title: You got QR!
author:
  display_name: Diderik van Wingerden
  login: diderik
  email: diderik@think-innovation.com
  url: ''
author_login: diderik
author_email: diderik@think-innovation.com
wordpress_id: 309
wordpress_url: http://think-innovation.com/?page_id=309
date: '2013-08-31 09:22:59 +0200'
date_gmt: '2013-08-31 07:22:59 +0200'
categories: []
tags: []
comments: []
---
<p>Nice! You scanned the QR code on my business card!</p>
<p>So we must have met and you already know a bit about me. Have a look around on my website or go to <a href="http://nl.linkedin.com/in/diderikvanwingerden/">my LinkedIn Profile</a> and connect.</p>
<p>You are welcome to <a title="Contact" href="/contact/">make an appointment with me</a> for a <strong>free consult</strong> so we can go over your innovative idea or project and see how I could contribute. This always results in a draft Business Model Canvas for you to take away! A lot of times I will also be using principles from Lean Start-up to create actionable and practical next steps to take for you.</p>
<p>In the meantime I will give you some resources here that have greatly influenced my ideas. Perhaps you also find them interesting:</p>
<p><a href="http://www.amazon.com/Life-Inc-Corporatism-Conquered-World/dp/0812978501"><img class="alignnone size-medium wp-image-330" alt="life-inc" src="http://think-innovation.com/wp-content/uploads/2013/08/life-inc-201x300.jpg" width="201" height="300" /></a></p>
<p><a href="http://www.amazon.com/Common-Wealth-Economics-Crowded-Planet/dp/0143114875/"><img class="alignnone size-medium wp-image-331" alt="common-wealth" src="http://think-innovation.com/wp-content/uploads/2013/08/common-wealth-195x300.jpg" width="195" height="300" /></a></p>
<p><a href="http://www.amazon.com/China-Study-Comprehensive-Nutrition-Implications/dp/1932100660/"><img class="alignnone size-medium wp-image-336" alt="The-China-Study-small" src="http://think-innovation.com/wp-content/uploads/2013/08/The-China-Study-small-197x300.jpg" width="197" height="300" /></a></p>
<p><a href="http://www.amazon.com/New-Earth-Awakening-Purpose-Selection/dp/0452289963/"><img class="alignnone size-medium wp-image-339" alt="a-new-earth" src="http://think-innovation.com/wp-content/uploads/2013/08/a-new-earth-199x300.jpg" width="199" height="300" /></a></p>
