---
title: How to get a Unique Business Card that People Remember
categories:
- Blog
tags: []
comments: []
---
<p>The idea: a really original business card that people would remember.</p>
<p><!--more--></p>
<p>The problem: I am creative, but not a designer.</p>
<p>The solution: writing out a challenge on a crowdsourcing platform <a href="http://www.ontwerpen-voor-geld.nl/">ontwerpen-voor-geld.nl.</a></p>
<p>The result: well, see on the left (front) and below (inside).</p>
<p><a href="http://think-innovation.com/wp-content/uploads/2013/08/Think-Innovation-Business-Card-inside-1024x5121.png"><img class="alignnone size-full wp-image-47" style="border: 1px solid black;" alt="Think-Innovation-Business-Card-inside-1024x512" src="http://think-innovation.com/wp-content/uploads/2013/08/Think-Innovation-Business-Card-inside-1024x5121.png" width="539" height="270" /></a></p>
<p>There were various good creations to choose from and the winning card went to several iterations before it ended up like this. Also, the price for cutting out the circle would drive the price up to 2 euros per card. Way too much in my opinion. So after some trial and error the designer found a device that exactly fit the circle, so I could do it myself. The designer did an excellent job, in the design itself, helping with the iterations, finding the device and assisting in the printing process. Thanks to <a href="http://agatapilip.com/">Agata Pilip</a> for doing such a great job!</p>
<p>Do you also want an original business card? I highly recommend trying a crowdsourcing platform. It is a good experience, if well managed. To give you an idea what happened, below the best entries and the original text of the challenge:</p>
<p><a href="http://think-innovation.com/wp-content/uploads/2013/08/5001-216774-business-card-new1.jpg"><img class="alignnone size-full wp-image-65" alt="5001-216774-business-card-new" src="http://think-innovation.com/wp-content/uploads/2013/08/5001-216774-business-card-new1.jpg" /></a></p>
<p><a href="http://think-innovation.com/wp-content/uploads/2013/08/pacman-voorkant.jpg"><img class="alignnone size-full wp-image-63" alt="pacman voorkant" src="http://think-innovation.com/wp-content/uploads/2013/08/pacman-voorkant.jpg" /></a> <a href="http://think-innovation.com/wp-content/uploads/2013/08/pacman-achterkant.jpg"><img class="alignnone size-full wp-image-62" alt="pacman achterkant" src="http://think-innovation.com/wp-content/uploads/2013/08/pacman-achterkant.jpg" /></a> <a href="http://think-innovation.com/wp-content/uploads/2013/08/turn-things-around.jpg"><img class="alignnone size-full wp-image-61" alt="turn things around" src="http://think-innovation.com/wp-content/uploads/2013/08/turn-things-around.jpg" /></a> <a href="http://think-innovation.com/wp-content/uploads/2013/08/social-card.jpg"><img class="alignnone size-full wp-image-60" alt="social card" src="http://think-innovation.com/wp-content/uploads/2013/08/social-card.jpg" /></a> <a href="http://think-innovation.com/wp-content/uploads/2013/08/puzzel.jpg"><img class="alignnone size-full wp-image-59" alt="puzzel" src="http://think-innovation.com/wp-content/uploads/2013/08/puzzel.jpg" /></a> <a href="http://think-innovation.com/wp-content/uploads/2013/08/qr-code.jpg"><img class="alignnone size-full wp-image-58" alt="qr code" src="http://think-innovation.com/wp-content/uploads/2013/08/qr-code.jpg" /></a> <a href="http://think-innovation.com/wp-content/uploads/2013/08/5001-216831-diderik.jpg"><img class="alignnone size-full wp-image-57" alt="5001-216831-diderik" src="http://think-innovation.com/wp-content/uploads/2013/08/5001-216831-diderik.jpg" /></a></p>
<p><em><strong>Challenge: idea and design for 'viral' business card</strong></em></p>
<p><em>Are you a creative soul and an elite designer? Then here's the challenge: design a unique, creative, 'viral' business card, illustrating my 'personal brand.'</em></p>
<p><em>With viral I mean: the idea and design should be so creative that people will talk about my card and hand it over to others, just because of its creativity and uniqueness, expressing me and my personal brand!</em></p>
<p><em>My personal brand: I apply innovative technology for organizations and create results. </em><br />
<em>Payoff: "More results with digital innovation". </em><br />
<em>Keywords: web 3.0, social media, mobile devices, concept creation, business models, business cases, innovation, technology, creativity, internet</em></p>
<p><em>Feel free to bring up any idea that comes to mind. An idea that can be expressed on a business card and that will 'stick in your mind'.</em></p>
<p><em>Requirements, the business card should contain the following information:</em><br />
<em>- My name: Diderik van Wingerden</em><br />
<em>- My phone number: 06 - 21 639 148</em><br />
<em>- My website: www.diderikvw.nl</em><br />
<em>- My e-mail address: contact@diderivw.nl</em><br />
<em>(you can leave out the "- My name:" part of course; use icons if you need to, but people will understand which is which)</em></p>
<p><em>Additional requirements, here's for the extra challenge: the design should be usable/printable on a regular sized business card, using regular business card paper. Round edges or cut-off of edges are okay. Reason for requirement: people should be able to keep the business card in their wallet and/or together with their other business cards. So if it's very oddly shaped (size of thickness), they will discard of it. And also: I want to keep printing costs acceptable.</em></p>
<p><em>In case you would need to use a certain style and colors for your design (which is not necessarily the case), this is my personal style:</em><br />
<em>- modern, design, minimalistic, professional</em><br />
<em>- lots of white, blue is my favourite color, green as support color (look at my current website www.diderikvw.nl for a broad idea, but keep in mind: the website is not perfect yet, it will change)</em><br />
<em>- straight lines, primary forms (cicle not oval, square not rectangle, ...)</em><br />
<em>- less is more</em></p>
<p><em>To make sure that your ideas are safe and nobody will 'steal' them, I have made this a closed project.</em></p>
<p><em>Also have a look at: http://www.boredpanda.com/unusual-and-interactive-business-cards/ </em><br />
<em>(none of these are applicable for my personal brand, but you'll get an idea of what I am looking for)</em></p>
<p><em>I am looking forward to your ideas and creations!</em></p>
<p><em>Best regards,</em><br />
<em>Diderik</em></p>
<p><em>Some ideas to get your creative process started (Spoiler! If you read this it will influence your creative process, so maybe better skip it at first):</em><br />
<em>- Old vs. new technology: e.g. MC vs. iPad</em><br />
<em>- The 'next generation mobile device' (with the size of a business card)</em><br />
<em>- Nano technology</em><br />
<em>- Printed circuit board</em><br />
<em>- USB-device/stick</em><br />
<em>- Creative use of QR code</em></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
