---
title: Katie Marie Jones - White, Professional International Wedding Planner
categories:
- Testimonials
tags: []
comments: []
---
<p><i>"A personal session with Diderik and filling out the Lean Canvas helped me identify in which areas I need to improve and modify my product and business model in order to move forward further."</i></p>
