---
title: Gwenol&eacute; Laurent, Founder & Talent Agent, 0to1-Solutions
categories:
- Testimonials
tags: []
comments: []
---
<p><em>&ldquo;The 1-on-1-session I had with Diderik helped me to confront my views on the future development of my company with someone with a different and higher point of view. This is something invaluable when you are working day in and day out on your own ideas. This is particularly true when you can have this conversation with someone like Diderik who has experience in such a wide range of industries. The Lean Canvas template I left the meeting with helped me to forecast more accurately my future revenues and costs and ultimately to build a stronger business.&rdquo;</em></p>
<p>http://fr.linkedin.com/in/gwenolelaurent</p>
