---
title: Waar is Collaborative Consumption in Nederland?
categories:
- Blog
tags: []
comments: []
---
<p>This post is in Dutch. You can use <a href="http://translate.google.com/translate?sl=auto&amp;tl=en&amp;js=n&amp;prev=_t&amp;hl=en&amp;ie=UTF-8&amp;u=http%3A%2F%2Fwww.think-innovation.com%2Fblog%2Fwaar-is-collaborative-consumption-in-nederland%2F&amp;act=url">Google Translate</a> to read it in English.</p>
<p>*** Update van de initiatieven in Nederland dankzij&nbsp;<a href="http://www.linkedin.com/pub/david-demper/16/75b/aa1">David Demper</a>&nbsp;van&nbsp;<a href="http://snappcar.nl/">Snappcar.nl</a>&nbsp;op 12 maart 2012.</p>
<p><!--more--></p>
<p>Na het lezen van het&nbsp;<a href="http://www.bol.com/nl/p/what-s-mine-is-yours-the-rise-of-collaborative-consumption/1001004009803557/">fantastische boek "What's mine is yours"</a>&nbsp;over&nbsp;<a title="Uitleg Collaborative Consumption op Wikipedia" href="http://en.wikipedia.org/wiki/Collaborative_consumption">Collaborative Consumption</a>&nbsp;vroeg ik me af: hoe ver zijn we in Nederland? Ik kwam wel wat enthousiaste verhalen tegen van bijvoorbeeld&nbsp;<a href="http://www.hnwb.nl/friday-ted-talk-collaberative-comsumption/">Bas van de Haterd</a>&nbsp;en&nbsp;<a href="http://www.extendlimits.nl/nieuws/artikel/6858/">Tony Bosma</a>, maar miste een overzicht van de Nederlandse initiatieven.</p>
<p>Daarom&nbsp;<strong>hieronder een overzicht</strong>&nbsp;van de buitenlandse, internationale en Nederlandse producten, diensten en platforms die uitgaan van de principes van Collaborative Consumption. Deze ingedeeld volgens de typering uit het boek: product service systems, redistribution markets en collaborative lifestyles.</p>
<p>Als startpunt heb ik de voorbeelden uit What's mine is yours genomen, zoals onder andere opgesomd in de&nbsp;<a href="http://www.collaborativeconsumption.com/the-movement/snapshot-of-examples.php">snapshot of examples op collaborativeconsumption.com</a>. Deze heb ik aangevuld met de initiatieven die ik inmiddels ben tegengekomen.</p>
<p><strong>Mis je initiatieven in de lijst?</strong>&nbsp;Plaats dan een reactie bij dit artikel of neem&nbsp;<a title="Neem contact op met Diderik" href="http://www.diderikvw.nl/contact/">contact</a>&nbsp;met mij op.</p>
<p><strong>Weet je nog niet wat Collaborative Consumption is</strong>&nbsp;en wil je een introductie? Bekijk dan onderstaand filmpje van Rachel Botsman, auteur van het boek, op TED:</p>
<p>http://www.youtube.com/watch?v=AQa3kUJPEko</p>
<h3>Product Service Systems</h3>
<p>Je hebt wel de voordelen en niet de nadelen. Dus je hebt het 'gat' zonder dat je de 'boor' als eigendom hoeft te hebben.</p>
<p>*** Update 26 februari 2012<br />
*** Update 12 maart 2012</p>
<table border="1">
<tbody>
<tr>
<td><strong>Categorie</strong></td>
<td><strong>Buiten NL</strong></td>
<td><strong>Internationaal</strong></td>
<td><strong>Nederland</strong></td>
</tr>
<tr>
<td>Auto delen</td>
<td><a href="http://www.zipcar.com/">Zipcar</a>&nbsp;(US, UK)</td>
<td><a href="http://www.studentcar.nl/nl/">StudentCar</a>&nbsp;(ook NL)</td>
<td><a href="http://www.greenwheels.com/">Greenwheels</a></td>
</tr>
<tr>
<td></td>
<td><a href="http://www.goget.com.au/">GoGet</a>&nbsp;(Aus)</td>
<td></td>
<td><a href="http://www.wheels4all.nl/">Wheels4All</a></td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td><a href="http://www.connectcar.nl/">ConnectCar</a></td>
</tr>
<tr>
<td>Auto delen P2P</td>
<td><a href="http://www.whipcar.com/">Whipcar</a>&nbsp;(UK)</td>
<td></td>
<td><a href="http://www.snappcar.nl/">SnappCar</a></td>
</tr>
<tr>
<td></td>
<td><a href="http://relayrides.com/">RelayRides</a>&nbsp;(US)</td>
<td></td>
<td><a href="http://www.mywheels.nl/">My Wheels</a></td>
</tr>
<tr>
<td></td>
<td><a href="http://www.spride.com/">Spride Share</a>&nbsp;(US)</td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td><a href="http://www.drivemycarrentals.com.au/">DriveMyCar</a>&nbsp;(Aus)</td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td><a href="http://www.getaround.com/">Getaround</a>&nbsp;(US)</td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td><a href="http://www.autodelen.net/">Autopia</a>&nbsp;(BE)</td>
<td></td>
<td></td>
</tr>
<tr>
<td>Fiets delen</td>
<td><a href="http://www.velib.paris.fr/">Velib</a>&nbsp;(FR)</td>
<td></td>
<td><a href="http://www.ov-fiets.nl/">OV-fiets</a></td>
</tr>
<tr>
<td></td>
<td><a href="https://bixi.com/">BIXI</a>&nbsp;(CA)</td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td><a href="http://www.tfl.gov.uk/roadusers/cycling/14808.aspx">Barclays Cycle Hire</a>&nbsp;(UK)</td>
<td></td>
<td></td>
</tr>
<tr>
<td>Carpoolen</td>
<td><a href="http://www.zimride.com/">Zimride</a>&nbsp;(US)</td>
<td></td>
<td><a href="http://www.carpooldate.nl/">CarpoolDate</a></td>
</tr>
<tr>
<td></td>
<td><a href="http://www.nuride.com/">NuRide</a>&nbsp;(US)</td>
<td></td>
<td><a href="http://www.meerijden.nu/">Meerijden</a></td>
</tr>
<tr>
<td></td>
<td><a href="https://www.liftshare.com/">Liftshare</a>&nbsp;(UK)</td>
<td><a href="http://goloco.org/">GoLoco</a></td>
<td><a href="http://www.backseatsurfing.com/">Backseatsurfing</a></td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td><a href="http://www.carpoolplein.nl/">Carpoolplein</a></td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td><a href="http://samenrijden.nl/">Samenrijden</a></td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td><a href="http://www.toogethr.com/">Toogethr</a></td>
</tr>
<tr>
<td>Zonnepanelen</td>
<td><a href="http://www.solarcity.com/">SolarCity</a>&nbsp;(US)</td>
<td><a href="http://www.solarcentury.com/">SolarCentury</a>&nbsp;(NL niet)</td>
<td>?</td>
</tr>
<tr>
<td></td>
<td><a href="http://www.pretasol.com/">PretaSol</a>&nbsp;(SP)</td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td><a href="http://1bog.org/">1BOG</a>&nbsp;(US)</td>
<td></td>
<td></td>
</tr>
<tr>
<td>Speelgoed</td>
<td><a href="http://www.dimdom.fr/">Dimdom</a>&nbsp;(FR)</td>
<td></td>
<td>?</td>
</tr>
<tr>
<td></td>
<td><a href="http://www.babyplays.com/">BabyPlays</a>&nbsp;(US)</td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td><a href="http://rent-a-toy.com/">Rent-A-Toy</a>&nbsp;(Sng)</td>
<td></td>
<td></td>
</tr>
<tr>
<td>Mode</td>
<td><a href="http://www.bagborroworsteal.com/">Bag Borrow or Steal</a>&nbsp;(US)</td>
<td></td>
<td>?</td>
</tr>
<tr>
<td></td>
<td><a href="http://www.fashionhire.co.uk/">Fashion Hire</a>&nbsp;(UK)</td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td><a href="http://frombagstoriches.com/">From Bags to Riches</a>&nbsp;(US)</td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td><a href="http://www.renttherunway.com/">Rent The Runway</a>&nbsp;(US)</td>
<td></td>
<td></td>
</tr>
<tr>
<td>Films</td>
<td><a href="https://www.netflix.com/">Netflix</a>&nbsp;(US)</td>
<td></td>
<td>?</td>
</tr>
<tr>
<td>Huren P2P</td>
<td><a href="http://www.rentoid.com/">Rentoid</a>&nbsp;(Aus)</td>
<td><a href="http://nl.zilok.com/">Zilok</a>&nbsp;(ook NL)</td>
<td></td>
</tr>
<tr>
<td></td>
<td><a href="http://www.ecomodo.com/">Ecomodo</a>&nbsp;(US)</td>
<td><a href="http://www.thingloop.com/">Thingloop</a></td>
<td></td>
</tr>
<tr>
<td></td>
<td><a href="http://www.hirethings.co.nz/">Hire Things</a>&nbsp;(NZ)</td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td><a href="http://www.rentalic.com/">Rentalic</a>&nbsp;(US)</td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td><a href="http://www.rentcycle.com/">Rentcycle</a>&nbsp;(US)</td>
<td></td>
<td></td>
</tr>
<tr>
<td>Huur in de buurt</td>
<td><a href="http://www.sharesomesugar.com/">Share Some Sugar</a>&nbsp;(US)</td>
<td></td>
<td><a href="http://www.spullendelen.nl/">SpullenDelen</a></td>
</tr>
<tr>
<td></td>
<td><a href="http://u.neighborrow.com/">Neighborrow</a>&nbsp;(US)</td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td><a href="http://neighborgoods.net/">NeighborGoods</a>&nbsp;(US)</td>
<td></td>
<td></td>
</tr>
</tbody>
</table>
<h3></h3>
<h3>Redistribution markets</h3>
<p>Gebruikte spullen gaan van iemand die ze niet meer nodig heeft naar iemand die ze wel kan gebruiken.</p>
<table border="1">
<tbody>
<tr>
<td><strong>Categorie</strong></td>
<td><strong>Buiten NL</strong></td>
<td><strong>Internationaal</strong></td>
<td><strong>Nederland</strong></td>
</tr>
<tr>
<td>Marktplaatsen</td>
<td><a href="http://www.gumtree.com/">Gumtree</a>&nbsp;(UK)</td>
<td><a href="http://amsterdam.nl.craigslist.org/">Craigslist</a>&nbsp;(ook NL)</td>
<td><a href="http://www.marktplaats.nl/">Marktplaats</a></td>
</tr>
<tr>
<td></td>
<td></td>
<td><a href="http://www.ebay.com/">eBay</a></td>
<td></td>
</tr>
<tr>
<td>Gratis spullen</td>
<td></td>
<td><a href="www.freecycle.org/">Freecycle</a>&nbsp;(ook NL)</td>
<td><a href="http://www.gratisoptehalen.nl/">Gratis op te Halen</a></td>
</tr>
<tr>
<td></td>
<td></td>
<td><a href="http://www.swap.com/">Swap</a>&nbsp;(US)</td>
<td></td>
</tr>
<tr>
<td><a href="http://www.swap.com/">&nbsp;</a></td>
<td><a href="http://www.swap.com/">Swap</a>&nbsp;(US)</td>
<td></td>
<td></td>
</tr>
<tr>
<td>Boeken</td>
<td><a href="http://www.bookhopper.com/">BookHopper</a>&nbsp;(UK)</td>
<td><a href="http://bookmooch.com/">BookMooch</a>&nbsp;(NL niet)</td>
<td>?</td>
</tr>
<tr>
<td></td>
<td><a href="http://www.thebookswap.com.au/">The Book Swap</a>&nbsp;(Aus)</td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td><a href="http://www.paperbackswap.com/">PaperBack Swap</a>&nbsp;(US)</td>
<td></td>
<td></td>
</tr>
<tr>
<td>Babyspullen en speelgoed</td>
<td><a href="http://www.toyswap.com/">Toyswap</a>&nbsp;(US)</td>
<td></td>
<td>?</td>
</tr>
<tr>
<td></td>
<td><a href="http://www.thredup.com/">thredUP</a>&nbsp;(US)</td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td><a href="http://www.swapitbaby.com.au/">SwapItBaby</a>&nbsp;(Aus)</td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td><a href="http://www.swapkidsclothes.com.au/">Swap Kids Clothes</a>&nbsp;(Aus)</td>
<td></td>
<td></td>
</tr>
<tr>
<td>Kleding</td>
<td><a href="http://www.swapstyle.com/">Clothing Exchange</a>&nbsp;(Aus)</td>
<td><a href="http://www.swapstyle.com/">Swapstyle</a>&nbsp;(ook NL)</td>
<td><a href="http://littlegreendress.nl/">Little Green Dress</a></td>
</tr>
<tr>
<td></td>
<td><a href="http://99dresses.com/">99 Dresses</a>&nbsp;(US)</td>
<td><a href="http://www.bigwardrobe.com/">Bigwardrobe</a></td>
<td></td>
</tr>
<tr>
<td></td>
<td><a href="http://www.dignswap.com/">Dig N'Swap</a>&nbsp;(US)</td>
<td></td>
<td></td>
</tr>
<tr>
<td>DVD's, boeken, games</td>
<td><a href="http://www.swapsimple.com/">SwapSimple</a>&nbsp;(US)</td>
<td><a href="http://www.swap.com/">Swap</a>&nbsp;(NL niet)</td>
<td>?</td>
</tr>
</tbody>
</table>
<h3></h3>
<h3>Collaborative Lifestyles</h3>
<p>*** Update 24 september 2012</p>
<p>Mensen met dezelfde soort interesses ontmoeten elkaar en delen minder tastbare goederen zoals tijd, ruimte, expertise en geld.</p>
<table border="1">
<tbody>
<tr>
<td><strong>Categorie</strong></td>
<td><strong>Buiten NL</strong></td>
<td><strong>Internationaal</strong></td>
<td><strong>Nederland</strong></td>
</tr>
<tr>
<td>Eten</td>
<td></td>
<td></td>
<td><a href="http://www.thuisafgehaald.nl">Thuisafgehaald</a></td>
</tr>
<tr>
<td>Co-werken</td>
<td><a href="http://www.citizenspace.com/">CitizenSpace</a>&nbsp;(UK)</td>
<td><a href="http://www.the-hub.net/">The Hub</a>&nbsp;(ook NL)</td>
<td><a href="http://www.seats2meet.com">Seats2Meet</a></td>
</tr>
<tr>
<td></td>
<td><a href="http://www.hubculture.com/">Hub Culture</a>&nbsp;(UK)</td>
<td></td>
<td></td>
</tr>
<tr>
<td>Geld lenen</td>
<td><a href="http://uk.zopa.com/">Zopa</a>&nbsp;(UK)</td>
<td></td>
<td><a href="http://www.trundo.nl/">Trundo</a></td>
</tr>
<tr>
<td></td>
<td><a href="http://www.prosper.com/">Prosper</a>&nbsp;(US)</td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td><a href="http://www.lendingclub.com/">Lending Club</a>&nbsp;(US)</td>
<td></td>
<td></td>
</tr>
<tr>
<td>Sociaal geld</td>
<td><a href="http://www.hubculture.com/">Ven</a>&nbsp;(UK)</td>
<td></td>
<td>?</td>
</tr>
<tr>
<td></td>
<td><a href="http://theliquiditynetwork.org/">The liquidity Network</a>&nbsp;(IR)</td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td><a href="http://www.timebanks.org/">TimeBanks</a>&nbsp;(US)</td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td><a href="http://justaddspice.org/">Spice Timebank</a>&nbsp;(UK)</td>
<td></td>
<td></td>
</tr>
<tr>
<td>Reizen P2P</td>
<td></td>
<td><a href="http://www.couchsurfing.org/">CouchSurfing</a>&nbsp;(ook NL)</td>
<td></td>
</tr>
<tr>
<td></td>
<td></td>
<td><a href="http://www.airbnb.com/">Airbnb</a>&nbsp;(ook NL)</td>
<td></td>
</tr>
<tr>
<td></td>
<td></td>
<td><a href="http://roomorama.com">Roomorama</a>&nbsp;(ook NL)</td>
<td></td>
</tr>
<tr>
<td></td>
<td></td>
<td><a href="http://www.crashpadder.com/">Crashpadder</a>&nbsp;(ook NL)</td>
<td></td>
</tr>
<tr>
<td></td>
<td></td>
<td><a href="http://gidsy.com/">Gidsy</a>&nbsp;(ook NL)</td>
<td></td>
</tr>
<tr>
<td>Taxi delen</td>
<td></td>
<td><a href="http://www.taxi.to/">Taxi2</a></td>
<td>?</td>
</tr>
<tr>
<td>Bartering</td>
<td><a href="http://www.barterquest.com/">BarterQuest</a>&nbsp;(US)</td>
<td><a href="http://www.bartercard.com/">Bartercard</a>&nbsp;(NL niet)</td>
<td>?</td>
</tr>
<tr>
<td></td>
<td><a href="http://www.ourgoods.org/">OurGoods</a>&nbsp;(US)</td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td><a href="http://www.itex.com/">ITEX</a>&nbsp;(US)</td>
<td></td>
<td></td>
</tr>
<tr>
<td>Tuinieren</td>
<td><a href="http://www.urbangardenshare.org/">Urban Garden Share</a>&nbsp;(US)</td>
<td></td>
<td>?</td>
</tr>
<tr>
<td></td>
<td><a href="http://www.landshare.net/">Landshare</a>&nbsp;(UK)</td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td><a href="http://www.sharedearth.com/">SharedEarth</a>&nbsp;(US)</td>
<td></td>
<td></td>
</tr>
<tr>
<td>Expertise</td>
<td><a href="http://brooklynskillshare.tumblr.com/">Brooklyn Skillshare</a>&nbsp;(US)</td>
<td></td>
<td>?</td>
</tr>
<tr>
<td></td>
<td><a href="http://www.teachstreet.com/">TeachStreet</a>&nbsp;(US)</td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td><a href="http://tradeschool.ourgoods.org/">Trade School</a>&nbsp;(US)</td>
<td></td>
<td></td>
</tr>
<tr>
<td>Werkplaats / atelier</td>
<td><a href="http://www.3rdspacestudios.co.uk/">3rd Space Studios</a>&nbsp;(UK)</td>
<td></td>
<td>?</td>
</tr>
<tr>
<td></td>
<td><a href="http://www.techshop.ws/">TechSchop</a>&nbsp;(US)</td>
<td></td>
<td></td>
</tr>
<tr>
<td>Parkeerplaatsen</td>
<td></td>
<td><a href="http://www.parkatmyhouse.com/">ParkAtMyHouse</a>&nbsp;(NL niet)</td>
<td>?</td>
</tr>
<tr>
<td>Buurtondersteuning</td>
<td><a href="http://www.sharesomesugar.com/">ShareSomeSugar</a>&nbsp;(US)</td>
<td><a href="http://www.wannastartacommune.com/">WeCommune</a></td>
<td>?</td>
</tr>
<tr>
<td></td>
<td><a href="http://www.brightneighbor.com/">Bright Neighbor</a>&nbsp;(US)</td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td><a href="http://blockboard.org/">Blockboard</a>&nbsp;(US)</td>
<td></td>
<td></td>
</tr>
<tr>
<td>Vrijwilligerswerk</td>
<td></td>
<td><a href="http://www.jumo.com/">Jumo</a></td>
<td>?</td>
</tr>
<tr>
<td>Funding</td>
<td><a href="http://www.kickstarter.com/">Kickstarter</a>&nbsp;(US)</td>
<td></td>
<td><a href="http://hku.crowdaboutnow.com/">CrowdAboutNow</a></td>
</tr>
<tr>
<td></td>
<td><a href="https://www.profounder.com/">ProFounder</a>&nbsp;(US)</td>
<td></td>
<td><a href="http://startersversnelling.nl/">Startersversnelling</a></td>
</tr>
<tr>
<td>Ontmoeten</td>
<td></td>
<td><a href="http://www.meetup.com/">Meetup</a>&nbsp;(ook NL)</td>
<td></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
