---
title: Robert de Wolff, Agile Software fellow
categories:
- Testimonials
tags: []
comments: []
---
<p><em>"Diderik is an excellent member of a software development team. He can quickly understand new technologies and also understand the benefits and concerns for using it into projects. Diderik is good in asking the right questions to the customer for clarifying the needs. Diderik is also keen in managing the project organizational aspects of the development projects."</em></p>
