---
title: Martijn Arts, Managing Director, Total Active Media
categories:
- Testimonials
tags: []
comments: []
---
<p><em>"Diderik excels in his down-to-earth approach. He stays on track and remains calm in challenging projects and circumstances. Combined with a large dose of intelligence he can solve anything. His motto: "I think through a solution until I (or others) need to develop the least amount of code", and that is the only right attitude. And finally he quickly sees opportunities in the market and finds the most direct route towards them. Good!"</em></p>
