---
title: Mary Sorber, Founder, NightingaleRx
categories:
- Testimonials
tags: []
comments: []
---
<p><em>"I had the pleasure of meeting Diderik at an entrepreneur's weekend. He was great to work with because of his easy-going nature, his initiative, his willingness to do what needed to be done, and his flexibility to roll with changing direction. Throughout the weekend he shared his vast technical and start-up expertise in a very professional and respectful manner. I am confident Diderik will be a valuable asset to any entrepreneurial effort he decides to pursue."</em></p>
