---
title: 10 tips to connect to people at business events
categories:
- Blog
tags: []
comments: []
---
<p>In this post a crash course in business networking: 10 tips and tricks I have learned over many years and that still help me in every networking opportunity I get!</p>
<p><!--more--></p>
<ol>
<li><strong>Networking is about giving, not receiving</strong>. Find out what you can do for the other!</li>
<li><strong>Everyone at the event is equally important to network with.</strong>&nbsp;Networking in 90% of the cases is not what you can do for the other person directly or vice versa! It is about that person you know that knows someone who may be able to help! (Unless of course you know in advance that someone of interest is there who you would like to talk to directly.)</li>
<li>Make sure you are in control of the conversation:&nbsp;<strong>you ask the questions!</strong></li>
<li><strong>Be genuinely interested</strong>&nbsp;in the other person. Make a connection.</li>
<li><strong>Ask the other</strong>: what is your name? What do you do? Why do you like this work? Ask a few clever questions to get the other to talk about their passion, or find an interest that you share. Connect!</li>
<li><strong>Prepare a 1 minute talk about yourself</strong>: who you are, what you do, what makes you unique, what your ambition is and what you are looking for. Be specific! The more specific you are, the easier it is for the other to help you (now or later)!</li>
<li><strong>Ask how you can help the other</strong>, what can you look out for? Ask additional questions until you have a specific idea of what the other is looking for.</li>
<li>At the end of the conversation,<strong>&nbsp;always ask for a business card</strong>. Better to receive the card than to give. Now you are in control.</li>
<li>Don't spend too long taking to someone.&nbsp;<strong>Don't waste time</strong>. You have more people to talk to! Exchange of business cards is a natural moment to say: "Nice talking to you! Enjoy the rest of the event! We will be in touch!"</li>
<li><strong>Follow up the next day</strong>: connect on LinkedIn or send an e-mail thanking him/her for the conversation and remind him/her that you will be on the look out for&hellip; (what they said).</li>
</ol>
<p>Oh and a bonus tip:</p>
<p><strong>Don't waste time talking to your friends/colleagues!!! I know you are scared. Just do it.</strong>&nbsp;After a few tries you will feel so much more confident. You are on your way to become a networking expert!</p>
<p><strong>Happy networking! Enjoy!</strong></p>
