---
title: Privacy, who cares?
categories:
- Blog
tags: []
comments: []
---
<p>Are you becoming more and more aware and concerned about your on-line privacy and related security of your digital data? I have... Of course due to the media attention to Snowden and related news, but also because of some very good documentaries on Tegenlicht and <a href="http://www.documentairenet.nl/tags/privacy/">documentairenet.nl</a>.</p>
<p style="text-align: center;"><em>"it just not seems feasible to really be in control of your on-line privacy and data security."</em></p>
<p><!--more--></p>
<p>Concerned up to the point that I did quite a lot of research on how to take control over these matters (more) and experimented here and there with some tools. My preliminary conclusion: it takes quite a lot of time and knowledge to understand what is going on and then to effectively use available tools. Hereby potentially cutting yourself off from the 'benefits' that the mainstream privacy-invading tools have (like Facebook, Gmail). All in all, for the 'average you' it just not seems feasible to really be in control of your on-line privacy and data security.</p>
<p>"Is there a business opportunity here?", I thought. Given the gap between the lack of privacy and security people typically have and the time and knowledge needed to do something about it. As an engineer immediately various types of applications, services, devices, etc. come to mind: solutions! But wait... there is Lean Start-up...</p>
<p>Validate the Problem first! Are people really concerned? Up to a point that they are willing to spend money on solutions? I did some very quick research among friends and found the following (disclaimer! only 11 persons from my peer group, so in no way statistically significant, randomized, etc.):</p>
<p style="text-align: center;"><em>"Is there a business opportunity here?"</em></p>
<p>Most people are not concerned about their on-line privacy and data security. Almost half of the people I surveyed do have some worries, but believe that being careful with passwords and what they do on-line is sufficient. There may be an occasional moment-of-worry, but that is not sufficient to investigate the matter further.</p>
<p>One person indicated to be worried about the government eavesdropping and that influenced what he shared digitally with friends (text messages, photos, even on a 'private' channel). Another person indicated to have researched purchasing a 'private cloud' solution, but found that to be too expensive ($400 for a kind of private Dropbox, with smartphone app etc).</p>
<p>Perfectly understandable responses (thanks for providing one, if you are reading this!), although they left me feeling a bit disappointed. Problem to solve not found! Maybe focus on another Customer Segment?</p>
<p>There happened to be a big IT Security Expo near with free admission, so I went over there to do some Problem and Customer Discovery. Surely these people must be concerned with their privacy and personal data security, right? It is their job to be aware!</p>
<p>Well... nothing could be further from the truth. I randomly questioned about 8 people, both visitors and people at the booths, and then gave up. On-line privacy and personal data security wasn't top-of-mind for any of them. Apart from a few encrypting their hard drive, 'being careful' (see above) and 'I know what I am doing on-line' they had no special concern and took no special measures. One of them used a Password Manager, but only because he managed customer accounts. And another tried TOR, but gave that up for being too slow.</p>
<p style="text-align: center;"><em>"nothing could be further from the truth."</em></p>
<p>Fortunately I then stumbled upon a talk by <a href="http://www.alexanderklopping.nl/">Alexander Kl&ouml;pping</a> right there at the Expo. Excellently informative talk about the (future?) possibilities of Big Data in the hands of the Big Tech Companies (Google, Apple, etc.). Of course he raised some privacy issues and the question "Do we want these companies to know everything about us?", but then focused more about the possibilities and benefits. Understandable, because his product is giving inspirational, positive, futuristic speeches.</p>
<p>That's it for now... I will continue my research and experimentation into this fascinating topic. Perhaps material for another post...</p>
<p>- <a title="About Think. Innovation." href="http://think-innovation.com/uncategorized/think-innovation/">Diderik</a></p>
<p>photo credit: <a href="http://www.flickr.com/photos/kaptainkobold/4180172507/">Kaptain Kobold</a> via <a href="http://photopin.com">photopin</a> <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/">cc</a></p>
