---
title: Your Laptop wants to be Free
categories:
- Blog
tags: []
comments: []
---
<p>Do you want your laptop to free? Well, 'free' as in 'freedom' that is. If you looking for 'gratis', then this is not the article you want to read (or is it...?). But if you are fed up like me with Microsoft Windows and Apple Mac OS with their increasing restrictions, <a href="https://en.wikipedia.org/wiki/Planned_obsolescence">Planned Obsolescence</a>, selling your personal data and giving it to the NSA, then read on.</p>
<p><!--more--></p>
<h3>The antidote: Free and Open Knowledge</h3>
<p>After watching the news, some documentaries, reading several books and talking to friends about our current socio-economic and political structure and forthcoming incredible problems all over the place, I became convinced it was time to make the shift. One of the antidotes: moving towards a free society, based on free and <a href="http://okfn.org/">open knowledge</a> (also read <a title="How the 99% will have it all" href="http://think-innovation.com/blog/how-the-99-will-have-it-all/">this previous article</a>). Of course for a techie like me starting with my electronic stuff.</p>
<h3>GNU/Linux is not Linux, free is not open</h3>
<p>Diving a bit into the obvious alternative 'Linux' taught me that <a href="https://gnu.org/gnu/why-gnu-linux.html">we should call it 'GNU/Linux'</a> and we should make a distinction between "<a href="https://gnu.org/philosophy/free-sw.html">Free Software</a>", which is really free (as in freedom) and "Open Source Software", which a lot of times <a href="https://gnu.org/philosophy/open-source-misses-the-point.html">is not really free</a> (Ubuntu and most other popular Linux distributions are not really free). So that led me to the <a href="https://fsf.org/">Free Software Foundation</a> (FSF), recommending <a href="https://trisquel.info/">Trisquel</a> as one of the <a href="https://gnu.org/distros/free-distros.html">free GNU/Linux distro's</a>.</p>
<p>Finding a laptop that can run a truly free GNU/Linux version turned out to be not that easy. Most laptops need proprietary drivers of which the source code is not available, meaning you are dependent on the manufacturer to keep supporting your device (Planned Obsolescence again) and you don't know if the NSA put some spy backdoor in there (<a href="http://hackersnewsbulletin.com/2013/12/nsa-compensated-10-million-get-backdoor-access-extensively-used-rsa-software.html">not a fictitious scenario</a> <a href="http://www.washingtonsblog.com/2013/06/microsoft-programmed-in-nsa-backdoor-in-windows-by-1999.html">at all</a>).</p>
<h3>Free Software Foundation and h-node.org</h3>
<p>Through the FSF I found <a href="http://h-node.org/">h-node.org</a>, a community maintained website for free hardware and only 2 (web)shops that sell laptops pre-installed with Free Software: <a href="http://laclinux.com/gnu/Start">Los Alamos Computers</a> and <a href="https://www.thinkpenguin.com/">Think Penguin</a>. These didn't help me: I wanted a fully functioning 13" or 14" laptop: Alamos has a 13" model, but Wifi will not work; Think Penguin only has 15" and 17" models.</p>
<p>So that meant searching for a laptop with Microsoft installed (the "Microsoft tax") and then installing GNU/Linux myself. I spent an awful lot of time finding a suitable laptop on-line and going to physical shops. To save you this time, here is the process I followed in the end, along with some roads that didn't work for me.</p>
<h3>This doesn't work</h3>
<p>What didn't work: going to some local stores, noting the laptop brands and models, searching them on h-node.org. The models that are available in The Netherlands simply are not present in the h-node database. What also didn't work is going through all the <a href="http://h-node.org/wiki/page/en/compatibility-classes#Notebooks">A-Platinum, B-Gold and C-Silver</a> models in h-node.org and trying to find them in Dutch webshops or used through <a href="http://www.marktplaats.nl/">marktplaats.nl</a> (our national version of ebay.com). Sometimes I found a model on ebay.com, but the import tax and possible problems with warranty made me decide against that.</p>
<h3>The steps to make it work</h3>
<p>What did work in the end, was sort-of an interactive process that could be laid down as follows:</p>
<p><strong>1. Determine the requirements for the laptop that you want.</strong></p>
<p>For me that was: 13 or 14 inch, nice case design (I'm coming from a MacBook Pro, still the most beautiful case around), solid firm case (I travel a lot), good battery life (4+ hours), minimum 320 GB hard disk (preferably 500+ GB), Dual Core processor or better, all for well under 1000 euro's (given the Apple Premium I figured that should be possible going to a 'normal' laptop).</p>
<p><strong>2. Make a list of the best (known) webshops and comparison sites that link to sellers in your country.</strong></p>
<p>For The Netherlands I came to: <a href="http://www.kieskeurig.nl/">kieskeurig.nl</a> (comparison + user reviews + sellers), <a href="https://tweakers.net/">tweakers.net</a> (the same) and <a href="http://www.laptopshop.nl/">laptopshop.nl</a> (a very good webshop that also has stores around).</p>
<p><strong>3. Find laptops that you like and that meet your requirements for the brands: Acer, Asus, Samsung and Toshiba. </strong></p>
<p>Acer, Asus, Samsung and Toshiba are the best known brands that have a good chance of containing hardware supporting free software. Other brands can also work, but in general avoid Dell, Hewlett Packard, IBM, Lenovo, Apple and Sony. These companies often use proprietary connections and digital restrictions making it impossible to change components like the Wifi Card.</p>
<p><strong>4. For each laptop that you like read some reviews (obviously) and figure out the brand and type of the Video Card and of the Wifi card. </strong></p>
<p>The Video Card and Wifi Card are the most problematic with Free Software. An Intel Video Card is much more likely to work than an Nvidia ATI/AMD Card (and is better for battery life), especially the 3D acceleration. For Wifi Cards, find Atheros: it will probably work. Intel and Broadcom will probably not work. You can check the compatibility on <a href="http://h-node.org/hardware/catalogue/en">h-node.org</a>. Also, I found <a href="http://www.notebookcheck.net/">notebookcheck.net</a> the only website that consistently lists the brands and types of the components in their reviews (right column); an awesome source of info. Oh, and of course see if the laptop happens to be listed on <a href="http://h-node.org/notebooks/catalogue/en">h-node.org</a>, you never know!</p>
<p><strong>5. Check if the laptop works on a popular GNU/Linux distribution on <a href="http://www.linlap.com/">linlap.com</a> and several other websites. </strong></p>
<p>Finding a laptop working on <a href="http://www.linlap.com/">linlap.com</a> by no means guarantees that it will also work on a free distro (because of the proprietary drivers that non-free distro's use), but if the laptop doesn't work on Ubuntu or Debian, you can be sure it also doesn't work on a free distro.</p>
<p><strong>6. Make a Live USB Stick and/or Live DVD of the free GNU/Linux distribution of your choice.</strong></p>
<p>For personal and small business use, I recommend <a href="https://trisquel.info/en/wiki/installation-guide">making a Live USB or DVD for Trisquel</a> or <a href="http://www.gnewsense.org/Documentation/3/InstallationManual/CreatingTheLiveMedium">gNewSense</a>. You are making the stick and DVD so you can test if the laptop will boot into GNU/Linux before you buy the laptop.</p>
<p><strong>7. With your shortlist in hand, find webshops that also have a physical store so you can see, feel, smell and test the laptops of your choice.</strong></p>
<p>I ended up with this shortlist: the <a href="http://www.notebookcheck.net/Review-Acer-Aspire-S3-391-53314G52add-Ultrabook.81619.0.html">Acer Aspire S3 391-53334G52add</a>, <a href="http://www.techradar.com/reviews/pc-mac/laptops-portable-pcs/laptops-and-netbooks/acer-aspire-v5-1088578/review#null">Acer Aspire V5</a>-472 33214G50aii, <a href="http://www.notebookcheck.net/Review-Asus-VivoBook-S300CA-Subnotebook.90864.0.html">Asus Vivobook S300CA</a>-C1084H, <a href="http://www.notebookcheck.net/Review-Samsung-ATIV-Book-9-Lite-905S3G-K01DE-Subnotebook.106346.0.html">Samsung ATIV Book 9 Lite NP905S3G-K01</a>NL and <a href="http://nl.hardware.info/reviews/3166/samsung-series-5-np535u3c-a02nl-review-echt-geen-ultrabook">Samsung NP535U3C</a>-K02NL.</p>
<p><strong>8. Visit the shop and give the laptop a try with the Live USB or DVD.</strong></p>
<p>In the shop always ask if you can test: most of the times they are a bit reluctant, but will let you do it (explain that no harm is done; and they want to sell a laptop, right?). One shop (laptopshop.nl) did not have the models of choice on display, but indicated that I could buy the laptop, test it and bring it back with full refund. So I did that for several models.</p>
<p>Another web shop indicated that I could order, test and send it back within 2 weeks without a problem. However, it turned out it was a problem and I could NOT send the laptop back. The reason: I ordered as a company, not as a consumer. So for The Netherlands: always order as a consumer, test, send it back. Then if you like and want the product, order it again but then on your company.</p>
<p><strong>9. See if the laptop boots from Live USB/DVD with your free GBU/Linux distro and test the most important components and functions.</strong></p>
<p>Play around, see if you like the screen, keyboard, touch pad, connections, etc. Then do a test for these things: LAN (if you can), Wifi, Sound including volume up/down/mute buttons, Brightness control, Suspend with power button and lid close, Bluetooth, Webcam (install Cheese) and any other physical buttons or connections the laptop has (as far as you can test them there in the shop).</p>
<p><strong>10. Start the <a href="http://h-node.org/wiki/page/en/client-for-h-node-org">h-node client</a> and see if the hardware is known and working.</strong></p>
<p>You can only use the <a href="http://h-node.org/wiki/page/en/client-for-h-node-org">h-node client</a> if you have an Internet connection (LAN/Wifi, I used the mobile hotspot from my smartphone) there. The h-node client tests for Video, Ethernet, Wifi and Bluetooth and I found that of the laptops I tested, the components were present in h-node.org.</p>
<p><strong>11. If the laptop seems to work adequately, get the output of lspci command for inspection later at home.</strong></p>
<p>Open a command line (Ctrl-Alt-T) and save the output to a text file. I was quite extensive with this and used the following commands: "lspcu > lspcu.txt", "sudo lspci -nnk > lspci-nnk.txt", "sudo lspci - vmmnn > lspci-bmmnn.txt" and "sudo lsusb > lsusb.txt".</p>
<p><strong>12. Decide which laptop you are most happy and confident with that you will get it to work 100% with free GNU/Linux and buy it.</strong></p>
<p>For me the two Samsungs wouldn't even boot in Trisquel, so those were an immediate "no, the Asus Vivobook I took home, but the case was much too fragile (keyboard bending) and I found the touchpad not that great. The Acer Aspire V5-472 I found to have a crappy touchpad and too much heat emanating from the vents in the bottom, so I ended up with the Acer Aspire S3 391.</p>
<p><a href="http://think-innovation.com/wp-content/uploads/2013/12/acer-aspire-s3-391.jpg"><img class="size-medium wp-image-425 aligncenter" alt="acer-aspire-s3-391" src="http://think-innovation.com/wp-content/uploads/2013/12/acer-aspire-s3-391-300x198.jpg" width="300" height="198" /></a></p>
<p>The <a href="http://www.linlap.com/acer_aspire_s3-391">Acer Aspire S3 391</a> is a very nice looking MacBook Air-type of laptop. Trisquel works pretty well right from the start, although not 100%. The Brightness controls were not working, but I got that fixed easily following well-known instructions. The only issue now is getting the Suspend to work properly: somehow it wakes itself up after 20 minutes or so.</p>
<p><strong>13. Be careful with the Recovery Partition(s), protection foil and stickers.</strong></p>
<p>Even after deciding for and buying the Acer Aspire S3, I <a href="http://www.linuxforums.org/forum/miscellaneous/172096-solved-restoring-windows-recovery-after-linux-installation.html">kept the Recovery Partitions</a>, protection foil and stickers intact as long as I could, to be able to bring it back if I wanted within the stated 2 weeks for a full refund. The Recovery Partitions you may want to keep forever, so you can restore the "factory" Windows 8 if you ever want to sell the laptop to a sane person.</p>
<h3>Go for it!</h3>
<p>If you also want to set your laptop free: go for it! Hopefully this post will help you a bit. And if you have any questions or remarks (for improvement?), do <a title="Contact" href="/contact/">contact me</a>! As for now, I am pushing my Acer Aspire S3 to 100% functionality, getting free alternatives for all the programs I use personally and professionally and moving away from Mac OS. A long way to go still, but that's for a next post!</p>
<p>- <a title="About" href="http://think-innovation.com/about-diderik-van-wingerden/">Diderik</a></p>
<p>photo credit: <a href="http://www.flickr.com/photos/14652282@N04/4536411663/">Ma Jose O.</a> via <a href="http://photopin.com">photopin</a> <a href="http://creativecommons.org/licenses/by-nc/2.0/">cc</a></p>
