---
title: Richard Schot, Owner & Partner, BLiS
categories:
- Testimonials
tags: []
comments: []
---
<p><em>"Diderik helped our company BLiS greatly with both managing and implementing web projects and the strategy for our product development. For product development Diderik introduced new processes and methods to us, resulting in products which are better tuned to the demands of users and are developed more efficiently. Working with Diderik is pleasant, inspiring and both results focused and personal."</em></p>
