---
title: How the 99% will have it all
categories:
- Blog
tags: []
comments: []
---
<p>This post contains some of my random thoughts about a subject that has been going through my mind for quite some time now. It is coming from my deep inner conviction of optimism about our future as humanity, when we shed ourselves from our limitations and live up to our full potential.</p>
<p>It is about how I believe that "the 99%", which is you and me and pretty much all of us, will have unlimited opportunity for happiness, connection, peace and personal development. I see glimpses of this future sprouting everywhere. The biggest hurdle is our own limited beliefs: our thoughts create the world, our thoughts limit what is possible (well, at least for 99%), so once we start unraveling the illusion, once we start realizing we are inside "The Matrix", we can all fly.</p>
<p><!--more-->Or to use Nelson Mandela's quote (which I understand originates from Marianne Williamson):</p>
<p style="text-align: center;"><em>&ldquo;Our deepest fear is not that we are inadequate. Our deepest fear is that we are powerful beyond measure. It is our light, not our darkness, that most frightens us. We ask ourselves, who am I to be brilliant, gorgeous, talented, and fabulous? Actually, who are you not to be? You are a child of God. Your playing small doesn&rsquo;t serve the world. There&rsquo;s nothing enlightened about shrinking so that other people won&rsquo;t feel insecure around you. We are all meant to shine, as children do. We are born to make manifest the glory of God that is within us. It&rsquo;s not just in some of us, it&rsquo;s in everyone. And as we let our own light shine, we unconsciously give other people permission to do the same. As we are liberated from our own fear, our presence automatically liberates others.&rdquo;</em></p>
<p>This statement resonates with me. It resonates with that deep conviction I have. As many books, movies, people, ideas, quotes and statements have resonated. It is all connected, it is a whole complex system of interconnections that together make it happen. Perhaps I am the one who is delusional. What better way to find out than to get my ideas out there...</p>
<p>I am not saying that we "just" can and should change our minds and all will be "happy, happy, joy, joy": terrible things are happening and will happen. I just believe these terrible tings are unnecessary and created by our collective ignorance. Of which we are all part, perhaps more than we realize. Also, I am of course, like everyone, talking from my own "bubble", my own very limited and flawed world-view. But that does not mean that it should stop there. Or to quote Uncle Ben (or Voltaire?): "With great power, comes great responsibility". So if we can agree that we at least have power (not necessarily great power), we also have responsibility. Like me and probably you having a higher education, not struggling for mere survival everyday, we have enormous opportunity to take this responsibility, to do something. And because we can, we should. It seems easy to "reason it away", using my creativity to come up with arguments why I should not have to do something. Of which of course the social component (peer behavior) is the strongest one.</p>
<p>But before going into this argument to deeply: the goal of this post is only to share some of my thoughts, some of the sources and ideas that have resonated with me, a stepping stone perhaps to a more elaborate work. The complete brainstorm-associative-mind-map is here (hope you can read it...;):</p>
<p><a href="http://think-innovation.com/wp-content/uploads/2013/10/brainstorm-mind-map-99-percent1.jpg"><img class="alignnone size-large wp-image-369" alt="brainstorm-mind-map-99-percent" src="http://think-innovation.com/wp-content/uploads/2013/10/brainstorm-mind-map-99-percent1-1024x780.jpg" width="445" height="338" /></a></p>
<p>A short elaboration on some of the pieces:</p>
<ul>
<li>Financial Crisis: I hear and read more and more stories that the Financial Crisis, along with the Economic Crisis proves to be evidence of a system that was broken in the first place. A system that our politicians, banks and big institutions want us to fix, using our votes and tax money, but that fundamentally cannot be fixed. It should be rebuilt from the ground up. Sources: Tegenlicht and other documentaries, the book "Life Inc", the more in-depth discussions in popular media. Trends: alternative currencies, local movements (Urban Farming, Collaborative Consumption, various Community initiatives).</li>
<li>Search for meaning: more and more people are on a personal quest for motivation, meaning, spirituality, passion, etc. They feel that something fundamentally is missing, which they relate to themselves and (a lot of times) their work. Me included. The core feeling, the intuition that something is missing I believe to be genuine. The mistake is, at least partly, that given our culture, education, marketing, etc. that we search for a fix-me-solution in our own person, to what we are 'doing'. Surces: see most of the TED Talks, popularity of Soul Searching and Spirituality books, like Eckhart Tolle and Oprah's Soul Series.</li>
<li>Privacy discussions: these have been going on for quite some time, but were fueled even further when our hero Snowden blew the whistle. I see people increasingly starting to dislike "the system", the government, big corporations, wanting to get away from it all. The "Big Brother" idea seems to resonate more and more, the number of discussions is increasing, with on the one hand people believing that "Privacy is over" (Mark Z.) and "I have nothing to hide", while on the other hand people believing that we are moving towards a police state, losing our freedoms step-by-step, like the frog in slowly heating water, only to find ourselves in a situation on some point when it is already too late. Sources: Tegenlicht and other documentaries (documentairenet.nl), the Anonymous movement.</li>
</ul>
<p>My conclusion is, relating to the title of this post, that we see big and opposing forces and trends that are interrelated. And these are becoming more and more important and relevant to everyone, the pressure is building up. This pressure already sprouts a lot of small initiatives and experiments, realizing alternatives. A lot of these may have only limited or local success, until now that is. It is only a matter of time as pressure keeps increasing that more and more people come aware of what is real, of what truly matters, realize that they can easily take matters into their own hands (again) and together make the old system irrelevant. Along with the 1% that owns is.</p>
<p>- <a title="About Think. Innovation." href="http://think-innovation.com/uncategorized/think-innovation/">Diderik</a></p>
