---
title: Where is that green MacBook?
categories:
- Blog
tags: []
comments: []
---
<p>Late last year I bought a new Apple MacBook Pro. An amazing device that I love to work with every day. The design, the feel of the keys, the clarity of the screen are simply great. Mac OS is pretty good as well (not as good as it was apparently, but that is another story).</p>
<p>However, somewhere I did feel and still do feel somewhat guilty for buying it.</p>
<p><!--more--></p>
<p>You may think: ah, because of the high price? No, that is not it (even though I see an opportunity for a new kind of laptop that is cheaper and cooler). It is for the environmental impact of my purchase and the trend to buy a new laptop every 3 or 4 years. And an ever increasing number of people doing so all over the world. And not just a MacBook, but a whole range of personal devices. And the increasing amount of infrastructure (network, servers) that is needed to keep them all connected and store their data. Not to mention the whole "Internet of Things" and "Big Data" trends that open up a whole new market for electronics.</p>
<p><a href="http://think-innovation.com/wp-content/uploads/2013/03/e-waste.jpg"><img class="wp-image-179 aligncenter" alt="e-waste" src="http://think-innovation.com/wp-content/uploads/2013/03/e-waste.jpg" width="362" height="271" /></a></p>
<p>Don't get me wrong: I am a huge fan of new technology and innovation and I believe that innovative technology plays a huge 'enabling' role in 'saving the planet' (which actually means: 'saving our human society'). Having ever more sophisticated technology for ever lower prices is great! But why could this not be ecologically sustainable? I believe it should.</p>
<p>Of course the problem has to do with 'external costs', the notion that all the (environmental, social) costs of a product are not in the price of it. And people's willingness to buy a 'green' product at possibly a higher price and lower performance.</p>
<p>Well, to put a long story short: governments and large corporations will make sure that all costs of computers will never be internalized (or only in the course of many decades of fighting against environmental NGO's) and people are definitely not willing to pay for a product that is inferior and more expensive just because it is environmentally sustainable (as evidence shows).</p>
<p>So what is left? Provide an alternative. Of course. A product that is perceived as superior, at least for a specific target audience, and has sustainability as one of its features. Has sustainability as one of its distinguishing brand identity features. Show that it can be done. And that people want to buy it. And things will go from there.</p>
<p>Compare it to the Toyota Prius and the acceleration of innovation and products it brought about. Noted that the Prius is not really environmentally sustainable. So a better, but less known example would the Herman Miller Aeron Chair. If you ever sat in it while working, you want nothing else (well, at least I don't). This chair is Cradle to Cradle certified. Not 100% recyclable unfortunately, but 94% is a pretty good start.</p>
<p><a href="http://think-innovation.com/wp-content/uploads/2013/03/220px-Aeron_chair_JN.jpg"><img class="size-full wp-image-181 aligncenter" alt="220px-Aeron_chair_JN" src="http://think-innovation.com/wp-content/uploads/2013/03/220px-Aeron_chair_JN.jpg" width="220" height="236" /></a></p>
<p>But can it be done? Is it possible to create a fully ecologically sustainable (green) laptop? A Cradle to Cradle certified laptop? The "Aeron Chair of laptops"?</p>
<p>I have no idea. I know some things about Internet technology and economy, but not nearly enough about electronics design, manufacture and sustainable development. But I do know how Google Search works, so I did some research.</p>
<p><strong>The question: are people working on a sustainable, Cradle to Cradle laptop?</strong></p>
<p>You can read my findings in a next blog post&hellip;</p>
<p>- <a title="About Think. Innovation." href="http://think-innovation.com/uncategorized/think-innovation/">Diderik</a></p>
