---
title: Rock Stars? No way!
categories:
- Blog
tags: []
comments: []
---
<p>Having witnessed the first <a href="http://rockstart.com/accelerator/smart-energy-program/demo-day/">Rockstart Smart Energy Accelerator Demo Day</a> in Amsterdam, I can conclude only one thing. Are these guys (yes, not a single girl, how unfortunate) rock stars? Well, their stage performance can lead me to only one conclusion: no way!</p>
<p><!--more--></p>
<p>I have only one word that adequately describes the start-up entrepreneurs on stage: Superheroes! Yes, being witness to the make-it-happen mentality of combining sustainability, innovation and profit is simply awe-inspiring. Best Demo Day I ever visited, including those in Silicon Valley. An overview of what happened there.</p>
<h3>Most disruptive: Bundles</h3>
<p>This was the only truly disruptive start-up, in my opinion. These guys are going to shake up the home appliance market by offering appliances as 'Product Service Systems' (read up on Collaborative Consumption for the meaning). Goodbye Planned Obsolescence!</p>
<p>Oh my... imagine the industry forcing itself to manufacture ever better, longer-living, stronger, cheaper, recyclable, energy-efficient machines! Why? Because finally they will have an incentive to do so! The profit will be in selling us more washes (with the same machine) than selling us more machines. Here the value of IoT and appliance-level (energy) data becomes very obvious.</p>
<p><strong>Problem</strong>: people buy low-grade appliances that break and they regret it<br />
<strong>Solution</strong>: let people pay for using appliances (pay per use) instead of buying<br />
<strong>Signed up a deal with Miele</strong> (who doesn't want to wash their clothes with one of those?)<br />
<a href="http://www.wasbundles.nl/">www.wasbundles.nl</a></p>
<h3>Most impressive: We Share Solar</h3>
<p>These guys are attacking some 'system failures' in solar adoption. Not everyone who wants, can have solar panels for their roof (renters, people who don't have their own roof) and not everyone who has suitable roofs, can afford to invest in solar panels (schools, sports stadiums). We Share Solar is a crowdfunding platform to bring these parties together. But not just that: they also take care of the whole life-time servicing, including contracting, administration, financing, etc</p>
<p><strong>Problem</strong>:<br />
- owners without suitable roofs and renters of homes cannot benefit from solar power<br />
- owners of buildings with large roofs don't have the money to invest in solar<br />
<strong>Solution</strong>: bring these parties together on a crowdfunding platform<br />
<strong>Innovation</strong>: incremental in solar and renewable energy<br />
<a href="http://wesharesolar.com/">wesharesolar.com</a><br />
<strong>Competitors</strong>:<br />
<a href="http://www.oneplanetcrowd.nl/">www.oneplanetcrowd.nl</a><br />
<a href="http://www.solargreenpoint.nl/">www.solargreenpoint.nl</a><br />
<a href="http://www.greenspread.nl/">www.greenspread.nl</a></p>
<h3>Simple but important: Dreamups</h3>
<p>With the explosion of open hardware design and creation, these people need a kind of GitHub tailored to the specifics of hardware design. That's Dreamups.</p>
<div><strong>Problem</strong>: value is lost in open hardware design and creation, because hardware engineers cannot effectively and efficiently share, collaborate and create together.</div>
<div><strong>Solution</strong>: Github for hardware</div>
<div><strong>Innovation</strong>: infrastructural for IoT, DIY, P2P</div>
<div><a href="http://www.dreamups.org/">www.dreamups.org</a></div>
<p>&nbsp;</p>
<h3>Coolest technology: PowerTags</h3>
<p>I have no idea how they pulled this off... and I do know a something about technology. A small 'Home box' and a small sensor make it happen: accurate location pinpointing in your home. First value proposition: a bracelet for 'fall detection alarm' for elderly people. Yes, important. And boring. I can't wait for a hackathon and get creative with this stuff!</p>
<div><strong>Problem</strong>: elderly who fall down cannot press their panic button or don't have one</div>
<div><strong>Solution</strong>: bracelet that detects falling down by knowing location of person</div>
<div><strong>Innovation</strong>: in technology, using special kind of RF base box and sensor that very accurately determines location</div>
<div><strong>Unique</strong>: many possibilities for this tech, in Green Buildings and Smart Energy</div>
<div><a href="http://www.power-tags.com/">www.power-tags.com</a></div>
<div></div>
<p>&nbsp;</p>
<h3>Putting the Smart in Energy: Bobo (Care to Save)</h3>
<div>These three Musketeers (called Andy) created an adorable polar bear called Bobo that will educate children about energy, energy efficiency and the interconnectedness of 'us, the world'. Bobo is a device with LED's that looks like a polar bear and creatively interacts with children and relates to the home's energy usage. Making energy consciousness and efficiency a family matter... <a title="Ice Cream Ohmmeter: Saving Energy in Oakland!" href="http://think-innovation.com/blog/ice-cream-ohmmeter-saving-energy-in-oakland/">sounds familiar</a> ;)</div>
<p>&nbsp;</p>
<div>
<div><strong>Problem</strong>: get children to understand and behave energy-conscious at home</div>
<div><strong>Solution</strong>: a polar bear toy that communicates electricity usage</div>
<div><strong>Innovation</strong>: very nice angle at making energy awareness and saving a family matter, with the children</div>
<div><a href="http://caretosave.me/">www.caretosave.me</a></div>
<div></div>
<p>&nbsp;</p>
<h3>Most anti-disruptive: giveO2</h3>
<div>I hate to say it, but to me giveO2 is actually about keeping the current faulty system in place. So not disruptive at all, instead I called it 'anti-disruptive' (perhaps a bit too harsh). What is the problem? Well, a lot of people are not happy with their jobs. But their bosses want to keep them, so they come up with free massages, special fitness programs etc. Does this work? No! So what is the solution? Come up with another program: let's play a game together by trying to behave as sustainable as possible in our everyday life (giveO2).</div>
<p>&nbsp;</p>
<div>Does that solve anything? I believe not. It is a surrogate, as these people will remain to feel miserable from their unsatisfactory jobs. I mean, how can an employee of Royal Dutch Shell ever come to feel happy by 'behaving sustainable' on the side, while his core job is ruining the planet's ecosystems?</div>
<p>&nbsp;</p>
</div>
<div><strong>Problem</strong>:</div>
<div>- companies do a lot to make employees happy, like work-out programs, massages, etc. but these are not often used</div>
<div>- employees want happy employment</div>
<div><strong>Solution</strong>:</div>
<div>- Social game with points and incentives to motivate more sustainable living</div>
<div><strong>Innovative</strong>: another try at behavioral change for more sustainable living, but this is actually keeping the existing system in place. So anti-disruptive.</div>
<div><strong>Unique</strong>: involve employers</div>
<div><a href="http://www.giveo2.com/">www.giveo2.com</a></div>
<p>&nbsp;</p>
<h3>Seriously uncool: miniPower</h3>
<div><strong>Problem</strong>: trash wind turbines</div>
<div><strong>Solution</strong>: re-use them</div>
<div><strong>Innovation</strong>: uncool, but serious and business-smart in Renewable energy, necessary!</div>
<div><a href="http://www.minipower.net/">www.minipower.net</a></div>
<p>&nbsp;</p>
<h3>Smart buildings: QwikSense</h3>
<p>Deplying a mesh network of sensors in a building for continuous fine-grained monitoring. IoT + Smart Energy in 'optima forma'! Nice! The concept makes sense too: unhealthy working conditions are related to energy inefficient buildings. Fix both at the same time.</p>
<div><strong>Problem</strong>: poor offices make employees sick and unhappy and use more energy</div>
<div><strong>Solution</strong>: use sensors in mesh network to gather data and turn that into actionable information</div>
<div><strong>Innovation</strong>: IoT with (cheap) sensors approach to more energy efficient and better workplaces</div>
<div><strong>Unique</strong>: continuous data stream from mesh network</div>
<div><a href="http://www.qwiksense.nl/">www.qwiksense.nl</a></div>
<p>&nbsp;</p>
<h3>So necessary: The City Game</h3>
<div>So one of the biggest challenges towards sustainability is everyday behavior of everyday people (oh... really?). How to make 'them' do 'that'? As people are not rational beings, but emotional, irrational, herd followers (sorry, it's called 'social proof'), worried more about status and concerned about what this random person said the other day.</div>
<p>&nbsp;</p>
<div>Well, some serious applied 'behavioral psychology' of course. Make it easy, accessible, make it about social proof, status and reputation. That is The City Game. I'm not sure why they are approaching the thing city-by-city, but they must have a good reason for that. Let's play!</div>
<p>&nbsp;</p>
<div>
<div><strong>Problem</strong>: people could easily behave more sustainable, but don't, because of: it feels like a "drop in the ocean", they forget, they have no time etc.</div>
<div><strong>Solution</strong>: make it easier, more fun, social by using a game</div>
<div><strong>Innovation</strong>: another try at influencing behavior for sustainability by an app/website</div>
<div><strong>Unique</strong>: city-by-city approach</div>
<p>&nbsp;</p>
<h3>Bottled water... why?!</h3>
<div>If Smart Energy has anything to do with striving for a sustainable future, then why serve bottled water...?</div>
<p>&nbsp;</p>
<div><a href="http://think-innovation.com/wp-content/uploads/2014/04/spa.jpg"><img class="size-medium wp-image-461 aligncenter" src="http://think-innovation.com/wp-content/uploads/2014/04/spa-300x225.jpg" alt="spa" width="300" height="225" /></a></div>
<div>The fruit and snacks were great!</div>
<div></div>
<div></div>
</div>
