---
title: Free Software, Free Society
categories:
- Blog
tags: []
comments: []
---
<p>Free software is a requirement for a modern free society. At least, according to the theme at the <a href="https://libreplanet.org/2014/">LibrePlanet Conference</a> this year in Boston. I attended this excellent conference and had a great time, meeting lots of great people, listening to interesting speakers and learning a lot about what free software is about, and why it is important.</p>
<p>This post sums up the take-away points of LibrePlanet. Read my <a title="Your Laptop wants to be Free" href="http://think-innovation.com/blog/your-laptop-wants-to-be-free/">previous post about 'free software'</a>, if you have no idea yet of what it is (or if you think it has something to do with freeware).</p>
<p><!--more--></p>
<h3>1. Free software is essential in a free democracy</h3>
<p>So, of course we are talking about a contemporary, computer-intensive democracy here. Free software is essential because it provides the one and only means of giving citizens the ability to communicate freely which each other besides face-to-face. This is because with free software everyone can 'look into the box' at the inner workings of the communication technology being used, as to inspect and verify that indeed it does as the makers say it does and no data is transmitted or stored unknowingly.</p>
<p>And why is free communication important? Well, besides research and history showing that the possibility of being spied upon changes what you think, communicate or do (which means: limiting your freedom), free communication is essential for a democracy to work. It is essential for journalists to do their work independently, for whistle blowers to actually blow that whistle before being caught and for 'regular' citizens to organize themselves without being stopped before the act by a malignant government.</p>
<h3>2. It is hard to briefly and convincingly explain the 'why' of free software</h3>
<p>If you are not yet convinced of the importance of free software, then my explanation at point 1 probably didn't convince you either. Perhaps the movement needs some more very smart marketeers who can create new memes and messages. It can also be that because we are not taught any of this at school or university, one has quite a lot of reading up to do in order to grasp what is going on. Responses like "I have nothing to hide.", or "Yes, but I just think a Mac works better and is prettier." etc. can be counter-argumented quite effectively, including some basic education of what is going on behind the scenes.</p>
<p>Perhaps it is indifference of people ("My computer and smartphone should just work.") or it is the contemporary complacency of "every good and bad thing will happen anyway, whether I care about it or not". It could also be that the subject is so multi-faceted: it is about the proper workings of a democracy, about complex technologies, about laws, regulations and politics, about copyright, patents and DRM, about mass surveillance by the government, about privacy and information trading by big corporations and last but not least about micro-influencing our very perception of reality, our thoughts, responses and behaviors by forces that do not have our best interests in mind (but their own).</p>
<p>This problem was mentioned quite often by the speakers and some good sessions were devoted to finding practical solutions.</p>
<h3>3. Usability is key in broader free software adoption</h3>
<p>One of the issues when trying to get people to use free software is that it just takes them a lot of time and effort to migrate. This is partly because any new system takes time to learn. You are familiar with the old and unfamiliar with the new. It took me some effort to migrate from Windows to Mac OS a few years back, sometimes to frustration that I couldn't figure out the simplest of things. But partly it is also because the free software creators are 'nerds' (obviously) who need nothing else than a command line on a computer. And always seem to say: "Oh, but that is easy, you just set the blahblah to be blah and then the blah blah will blah." (as I catch myself doing when explaining something). They just don't need usability, they already know it all. User-friendly free software that 'just works' and 'looks pretty' still doesn't get the attention it should, although that is changing.</p>
<p>Another point to remember is that as spoiled consumers who won't spend more than 3 seconds at trying something out until discarding it as useless, maybe we could spend a bit more time on figuring it out. Sure, that free software alternative may looks less shiny and may miss that or that feature, but wouldn't that be a small sacrifice to get freedom in return? Think of what some people sacrificed to obtain their freedom.</p>
<h3>4. We need more products where secure and private communications are the 'default'</h3>
<p>This relates to the previous point about usability: at the moment getting your computer to be (more) secure and your communications to be (more) private takes an awful lot of learning, time and effort. No wonder many people just can't get it to work. Why should we have to do so much effort in order to get secure and private communications?</p>
<p>Why can't we buy a computer or a smartphone that is secure by default? Fortunately, there are some small companies that are offering this right now. And we see some start-ups working on 'secure' smartphones (even though they don't use free software yet).</p>
<h3>5. Better business models should be found to support free software development</h3>
<p>Developing free software, like developing any software, costs money. At the moment this is financed by subsidies and grants, donations and by corporations who benefit from the software that is developed. This is all fine, but it leaves an enormous gap between the means the proprietary software organizations have and what an organization like the FSF has.</p>
<p>In my view the sustainable way of free software development, and additionally free hardware development, would be that the people developing this stuff make a good living by selling products. Again, some small companies are doing this, also some larger examples exist, but it is not enough to start making a real dent. Some scalable innovations are needed here. Not technical innovations perse, more smart business and marketing people who put their mind to it.</p>
<h3>6. The FSF is winning the battle on software patents</h3>
<p>This is not really a take-away point as in a realization I had about the what &amp; why of free software, but more of a thing that I had no idea about was going on. And that the FSF has been fighting this battle for years. And it is not about patent trolls. Apparently for the past 20 years big corporations like Apple, Amazon and Microsoft have been patenting nifty ideas of software at the US Patent Office and patent bureaus in other countries.</p>
<p>The FSF standpoint is that patenting software is simply not possible. Software falls outside the range of the definition of 'novel invention' etc. Their claim is that I should be free to let my computer do the calculations that I want it to do. They compare it to cooking recipes: I am allowed to make a lentil soup in any which way I want, looking at existing recipes, remixing what I see, using advice from others, etc. And at no point should the result be that I am cooking a lentil soup that is patented and therefor not allowed.</p>
