---
title: We need Radical Innovation
categories:
- Blog
tags: []
comments: []
---
<p>It is not hard to see that many things have fundamentally gone wrong in our world. Just think of how rapidly we are: destroying nature, depleting natural resources and using nonrenewable fossil fuels.</p>
<p>Furthermore, so many of us are living in complete and increasing poverty, war, sickness and just utter misery, while so many others (including me) can live life so comfortably and even a very small percentage owns most and an ever increasing part of all there is on earth.</p>
<p>My stance is that it is our common responsibility as the human species to strive for conditions that give the opportunity of a happy life to all that lives on this planet.<!--more--></p>
<p>What I mean is that while one cannot force someone to be happy, one can provide conditions that make it possible to be happy (food, shelter, education, etc.) and take away conditions that cause suffering (disease, war, starvation, etc.).</p>
<h3>Is that even possible?</h3>
<p>One question is: is that even possible? That can be answered on two levels: (1) is it physically/technologically possible to let the earth produce enough food, energy, things, etc. to provide these conditions and (2) can we change the systems of our society and our behavior to make it so?</p>
<p>No-one can give the answer to these questions in a definitive way. That would be like predicting the future with 100% certainty. Hence, I believe that this is enough: we have a 'maybe', so then then there is no other option then to just go for it. Let's see how far we get. What choice do we have then to make the (perhaps) near-impossible possible? Personally, I believe that if all of us had the wisdom, insight and bravery to take the right actions starting today, we would solve (1) within 10 years.</p>
<h3>Sparks of hope</h3>
<p>At the moment there seem to be two diverging forces at work: on the one hand the old societal systems are failing, resulting in ever more insane situations when they are desperately trying to preserve themselves, while on the other hand we have a small and increasing group of 'innovators' who already display changed morality, attitude and behavior and are inventing new systems and technologies. These 'innovators' are the sparks of hope, the promise made tangible of how things can be.</p>
<h3>Radical Innovations for Systemic Failures</h3>
<p>The problems we are facing, are the result of systemic failures: the flaws are at the core of the basic systems of our society. So it is not enough to improve incrementally, to shave on the edges, to fight symptoms.</p>
<p>We need "Radical Innovation": developing new systems from the ground up. How? By experimentation. Using all that we think we know and learned and using that to 'design and implement' will fail as it always has. Reality is too complex for that. We already see the alternatives proven in applying technology: iterative development, agile, lean start-up. And in other areas the way to 'experiment, learn, scale' is gaining momentum too.</p>
<p>In the following years and decades Radical Innovation needs to take place in these areas:</p>
<h3>Energy</h3>
<p>Going from fossil fuels to renewables. Fortunately, the momentum already seems to increase here. Electric cars, solar power, wind power, grid operators investing in smart grids, energy storage, etc. are taking a flight. But there is still much to be done, especially in scaling: fossil fuels are still very dominant, both at home, office, factories and transportation. Systemic change is necessary, countering the balance of power from the major oil &amp; gas companies and governments back to us, the people.</p>
<h3>Monetary Systems</h3>
<p>Banks have greatly proven to be immensely destructive to society and humanity, after being privatized and operating in the 'free market'. But it is not just that: our monetary system is defective at its core, resulting in the never ending need to grow, be fiercely competitive and unavoidable bankruptcy. We see the negative consequences on nature, human attitude towards himself and others and the way money is equated with value and the only ideal to strive for is 'become rich'.</p>
<h3>Education</h3>
<p>Our current educational systems are focused on making us fit for the wrong society: a society where money is the ideal and we are taught to be good consumers and good 'slaves to the system'. That this leaves us empty and unsatisfied is good, because it makes us better consumers. We are taught to be competitors to our fellow humans, that one's duty is to make money in order to 'make a living' (buy more stuff). Education of the future needs to completely shift away from this model and will have: practical ethics, learning the nature of reality and happiness (a bit like Buddhism) and the pitfalls of the human mind and psychology, along with practical stuff useful in everyday life and teaching about the core of our (new) societal systems in order to take responsibility in public governance as a citizen. Also, current technological trends and trends in attitude of the greatest universities in the world will make education of incredible higher quality and lower costs, available for everyone.</p>
<h3>Production</h3>
<p>Our corporate system, with its basis in our monetary system, has resulted in the need to ever increasing sales, revenue and profit. With disastrous results to nature, our political system and the way we see ourselves and each other. Corporations are amoral, resulting in things like Planned Obsolescence, short-term profit over human values and continuous 'window dressing' to cover up true identity. We need a so-called Circular Economy (or: the Cradle-to-cradle paradigm) instead. This is the only possible sustainable solution. Progress is being made, but the existing corporations, together with their lobbying power, still have too much power to resist.</p>
<h3>Transportation</h3>
<p>Because transportation are mostly extrinsic, we have developed a very harmful system of transportation, both of goods and people. It is simply impossible to keep flying using kerosene-fueled aircrafts or every vacation with an increasing number of people and it is insane to transport materials and finished goods several times around the globe before they are at their final destination (including recycling/trashing). Using renewable energy for transportation, we need to create local systems of base materials, production, consumption, re-use and re-cycling.</p>
<h3>Public Governance</h3>
<p>We are increasingly realizing that we are living in a post-democratic era, with a small political and corporate elite while we have the illusion of people's rule when we vote. It is the illusion of freedom, which is the result of ignorance (see Education). We need to reinvent democracy, including privacy, corporate law and intellectual property laws.</p>
<h3>Nature</h3>
<p>This is a well-known area for attention. Just focusing on preserving what is left and reducing our negative impact is greatly insufficient. We need to understand that nature is not 'external' to us, we are part of it; we live in it. Sending our waste and toxic chemicals far away doesn't do us any good, as we come to understand. We need to understand our role and interactions on ecosystems so we can evolve in co-existence.</p>
<h3>Food</h3>
<p>Although it seems we are on the right track with seemingly healthy and sustainable foods, this is mostly just marketing by corporations who have a vested interest in keeping things as they are, or even increasing their power and profit. Just have a look at GMO and the vast amounts of subsidies on unsustainable agriculture, both in Europe and the US. Also corporations are working hard to label things 'sustainable' and 'healthy' when clearly they are not, like the vast meat and dairy lobbies do. Things we already know about growing food in a sustainable way and about eating healthy need to be applied and dissipated.</p>
<h3>Health care</h3>
<p>Health care is not about health care at all, it is about sick care. Costs of sick care are exploding when average age increases and people are unhealthier than ever. With the promise of (ethical) application of technology and removal of lobbying in the food industry, we can apply all that we already know about good health on a day-to-day basis. This relating to food, exercise and attitude towards life (countering stress) and preventing all the major diseases that kill us now, like cancer, heart disease and diabetes by a better life style.</p>
<h3>Technology</h3>
<p>It is often debated if technological development is 'good' or 'bad'. The conclusion is that it can be both, depending on intent and practice of the people applying the technology. Corporations make us believe that their technological products are good, when they clearly have a lot of negative effects (reason: corporate interests by definition diverge from humanity's and corporations have the necessity to cover up their true identity). What is missing in our society is the need of the people working on these technologies to make ethical choices. They are not taught to do so (see Education). Technology holds great promise at providing the conditions of a happy life for everyone, like it already has brought so many great things, but also so many bad things and as of yet still left so many people in abdominal conditions.</p>
<h3>Connecting trends</h3>
<p>Of course these areas are all interconnected, so upon closer investigation the boundaries are just artificial ways to allows us to talk about them. Also, there is a number of trends that can be seen recurring in various areas, like: local/social, DIY, P2P, openness, sharing and cooperation (innovation, knowledge, data). Additionally, I am not advocating on 'going back' to the old days. We need to move forward in a radically new direction, using the wisdom and knowledge from humanity in its enirety, also the 'old days'. One of the fallacies of our contemporary failing society is that 'old' is 'bad' and 'new/young' is 'good'.</p>
<h3>Sparks of light yet to share</h3>
<p>In a future post I will give examples of existing experiments, the sparks of light in the darkness.</p>
<p>For now, in case you have something to add, ask or change, please <a title="Contact" href="/contact/">let me know</a>!</p>
<p>photo credit: <a href="http://www.flickr.com/photos/feuilllu/5918642683/">Pierre Metivier</a> via <a href="http://photopin.com">photopin</a> <a href="http://creativecommons.org/licenses/by-nc/2.0/">cc</a></p>
