---
title: The top-10 "open" tech and digital moments in 2014
categories:
- Blog
tags: []
comments: []
---
<p>What happened in a year of &ldquo;free and open technology&rdquo;? This post highlights the main &ldquo;open&rdquo; tech and digital moments in 2014 for you. This top-10 is the &ldquo;open&rdquo; alternative specifically to The Guardian's &ldquo;<a href="http://www.theguardian.com/technology/audio/2014/dec/24/podcast-tech-weekly-2014-tech-roundup">Top 10 tech and digital moments in 2014</a>&rdquo;, as well as to countless other 2014 top tech lists.</p>
<p><!--more--></p>
<p>But before giving you the list, something that I noticed about The Guardian's Tech Weekly top-10 podcast. For this podcast the tech editors and journalists of The Guardian got together to rate their top 10 moments in 2014 on a 1 to 5 stars scale. On average they never rated one of those moments above 3 stars! They all ended up with 1, 2 or 3 stars on average, with pretty blas&eacute; remarks on the side. And this was their own list of the top moments! What does that say about the relevance of the typical tech stuff (fluff?) covered in popular media? In any way an inspiration to make this alternative top-10.</p>
<p>So what were the top newsworthy moments in 2014 regarding open tech? This top-10 was top-of-mind:</p>
<h3>1. UK Government adopts the Open Document Format (ODF)</h3>
<p>Finally it happened, a country <a href="http://www.theregister.co.uk/2014/07/23/uk_government_officially_adopts_open_document_format">fully adopts open formats for all of its digital files</a>. This is if course awesome news for LibreOffice, but also for many other projects providing open standards solutions, check out the <a href="https://www.youtube.com/watch?v=DHQGP9Ncg3s">LibreOffice interview at OSCON 2014</a>. In The Netherlands, the government has been talking about it for years but no results so far. As we have a saying in The Netherlands: "When one sheep crosses the dam, more will follow." So which country is next?</p>
<blockquote><p><em>&ldquo;Using an open standard will mean people won&rsquo;t have costs imposed on them just to view or work with information from government.&rdquo;</em></p></blockquote>
<h3>2. Kids learn how to code</h3>
<p>The trend has been going on for several years, but now it is becoming more recognized, structured and widespread: children learning how to write software. Especially <a href="http://codeweek.eu/">Codeweek.eu</a> as a major international event has put this topic in the map in Europe. If you understand Dutch, check out this <a href="http://dewerelddraaitdoor.vara.nl/media/322626">De Wereld Draait Door (DWDD) episode</a> about the event, with Neelie Kroes and Jiami teaching herself how to code with 'copy and paste'.</p>
<h3>3. Mozilla is experiencing turbulence</h3>
<p>Two major events for Mozilla: the <a href="https://blog.mozilla.org/blog/2014/04/05/faq-on-ceo-resignation/">public controversy</a> around their change of <a href="https://blog.mozilla.org/blog/2014/07/28/chris-beard-named-ceo-of-mozilla/">CEO</a> and their new <a href="http://www.theguardian.com/technology/2014/nov/20/firefox-google-yahoo-mozilla">deal with Yahoo instead of Google</a> as the default search engine for FireFox. With FireFox not doing so well on mobile (yet), the existential dependency on a single business deal (90% of Mozilla's $311m revenue came from Google in 2012, so now Yahoo) and FireFox OS not yet making a dent, I am curious to see how things will develop. Personally, I would love to see FireFox OS getting a chunk of market share, as a balance for Apple's and Google's enormous power in mobile OS.</p>
<h3>4. Hardware running free and open source software 'by design' taking off</h3>
<p>Of course, geeks have been able to run free and open source software on their computers and smartphones for a while. However, this has hardly been mainstream yet and the 'default' for products any person can buy. This seems to be changing with some interesting options, like the <a href="https://www.crowdsupply.com/purism/librem-laptop">Librem laptop</a>, a "Free/Libre Software Laptop That Respects Your Essential Freedoms". And there is time to chip in and get one! At $1649 perhaps a bit pricy for the most of us. But if you can: buy it! This will stimulate more production and competition, lowering prices and increasing quality. Also, there is the <a href="http://www.geeksphone.com/">GeeksPhone Revolution</a> running FireFox OS that you can buy at 123 eur (ex VAT). And very promising: the first <a href="http://www.omgubuntu.co.uk/2014/12/bq-ubuntu-phone-launches-in-europe-this-february">Ubuntu Phone will launch in February</a> 2015.</p>
<h3>5. Freedombox releases working software, for developers</h3>
<p>The promise of the <a href="http://freedomboxfoundation.org/">Freedombox project</a> is to deliver a private and secure free and open source solution for running your own home server, providing a user-friendly experience. Release version 0.2 of the software became available, which should 'actually work' on the Dreamplug, Raspberry Pi or VirtualBox. Check out the <a href="http://lwn.net/Articles/600373/">hands-on review</a> or give it a try. But remember, the release is still 'for developers', so don't go depending on it for everyday use!</p>
<h3>6. Indienet is taking us into the Stratosphere</h3>
<p>Besides "open" alternatives for laptops, smartphones and home servers becoming available, Team Indie is taking on a different challenge. And an ambitious one! The goal is to replace the problematic "cloud" solutions of companies like Google and Facebook and create "<a href="https://ind.ie/">Indienet</a>" that provides privacy, security and user control by design. At the moment the team is crowdfunding for the development of their milestone projects Pulse, Heartbeat and Waystone. Simply put, a distributed system for file storage and sharing, messaging and social networking. And then there is the non-functional prototype for the phone as well!</p>
<h3>7. Tesla opens its patents</h3>
<p>What a remarkable and noble move of Elon Musk: electric car company Tesla has over 200 <a href="http://www.teslamotors.com/blog/all-our-patent-are-belong-you">patents that are now free for everyone to use</a>! The reason is simple and typical of a 'goal driven' (versus 'profit driven') company. Tesla set out to revolutionize the car industry and aspires to have every new car be 'zero emission'. The company expected that the big players would jump on once Tesla had proven the demand for and possibility of great mass produced electric cars. But that was not the case at all: the big players have proven to be the old-fashioned, self-protecting dinosaurs that everyone already believed them to be. So then Tesla embraced "open": inviting anyone to come along and develop those cars with their IP free of charge.</p>
<h3>8. OSVehicle releases TABBY design and starts collecting pre-sales interest</h3>
<p>Perhaps this one is even cooler than Tesla and its free patents: <a href="https://www.osvehicle.com/">Italian company OSVehicle</a>'s open platform for electric cars. Despite the somewhat nerdy name "Open Source Vehicle" the initiative is just amazing. The company released the designs of the TABBY "open source hardware" chassis for anyone to build on and is polling pre-sales interest for purchasing the physical thing.</p>
<h3>9. Outernet broadcasts "best of the internet" from space</h3>
<p>[updated 21 January 2015]<br />
<a href="https://www.outernet.is/en/">Outernet</a> could be the most ambitious endeavor in the list: launching a bunch of satellites to provide a "broadcast-internet" for everyone on the planet, free to use, forever! Yes, similar in goals to Google's (bal)loons and Facebook's satellite-laser-drones, with one tiny difference: it already works today! You can <a href="https://www.indiegogo.com/projects/lantern-one-device-free-data-from-space-forever">buy a "Lantern" receiver</a> for it, or better yet, <a href="http://outernet-project.github.io/orx-install/">build your own</a> with a Raspberry Pi and an old satellite dish. Note 1: one part of the Outernet software <a href="https://outernet-project.github.io/orx-install/">is not "open" at the moment</a>. This concerns the part that transforms the incoming signals into the files. Outernet is looking for an "open" alternative or writing a new library when resources allow it. As I understand, it is a pragmatic choice they had to make and is not in any way an "openwashing" strategy.&nbsp; Note 2: my start-up entered ATG Europe's Fast Forward Program and ATG Europe is a shareholder in Outernet, so my inclusion of Outernet in the list is not independent and could be biased.</p>
<h3>10. Which "open" moment is missing?</h3>
<p>Oh my... I only made it to a top-9! Do you feel that a very important moment is missing in the list? Then please let me know! I am curious to here what you find noticeable in the "world of open".</p>
<p>By the way: opensource.com made a <a href="http://opensource.com/business/14/12/top-10-open-source-projects-2014">top-10 of free and open source projects in 2014</a>, so check them out as well.</p>
<p>Many thanks to <a href="http://nicorikken.eu/blog/">Nico Rikken</a>, a fellow <a href="http://fsfe.org/">FSFE</a> fellow (pun intended) for providing his top-5 top-of-mind "open" tech and digital moments with links, included in this post.</p>
