---
title: The Promise of Quantum Computing
categories:
- Blog
tags: []
comments: []
---
<p>CWI, the Research Center for Mathematics and Computer Science in Amsterdam, did a whole day of <a href="http://www.cwi.nl/lectures2015">lectures on Quantum Computing</a> and I was fortunate to be able to attend these lectures. This post contains some notions I picked up during the day, mainly from the practical applications and impact perspective, as these topics are most interesting to me personally.</p>
<p><!--more--></p>
<h3>Complex; interesting potential</h3>
<p>In summary we could say that quantum computers are extremely complex machines to make and we are only <a href="http://qutech.nl/">just starting to do so</a>, the theory of Quantum Mechanics is also very complex and the way quantum computation works is not easily understood. The scientists and engineers building quantum computers are thinking of ways to apply its power and there are already some theoretical ways a quantum computer can be used, but it is all still very minimal and under heavy development.</p>
<p>Besides the ability of quantum computers to crack pretty much all modern security algorithms we are using today as part of the internet in an instant, the most interesting feature I heard is that these machines are able to do immediate 'pattern recognition'. Aren't humans in one way also pattern recognition machines? What could this mean for the development of 'Artificial Intelligence'? Unfortunately the speakers did not go into this topic and limited themselves to recognizing bar codes as an example.</p>
<h3>State of the art</h3>
<p>So to give an idea of where quantum computers stand today (as far as I have understood it, all disclaimers apply;), just as digital computers have 'bits' a quantum computer has a 'qubit'. A qubit represents a 0 and a 1 at the same time, given some probability of it. Just as digital computers have a 'register' or 'bus' consisting of a number of bits (8-bit computers in the beginning, 64-bit computers now), the capabilities of a quantum computer can be expressed in the number of qubits it has.</p>
<p>At this moment we are starting to see quantum computers which have at least a handful (around 8 I believe) qubits, so for the first time people start thinking about actually doing computations on these machines, which means that quantum computing software needs to be developed. This is where <a href="http://www.volkskrant.nl/wetenschap/amsterdams-instituut-qusoft-ontwikkelt-quantumsoftware~a4200315/">QuSoft comes in</a>: the Research Center for Quantum Software which was launched during the event. <a href="http://www.qusoft.org/">QuSoft</a> is the second institute of its kind, as I was told, after <a href="http://research.microsoft.com/en-us/groups/quarc/">the one Microsoft has</a> in Redmond.</p>
<h3>Randomness generation and certification</h3>
<p>A major problem of cryptography today is that random numbers which are generated are not really random. The proper working of all algorithms you use on the internet (whether you know it or not) depend on creating actual random numbers. A thing which digital computers are not very good at doing, as they are deterministic machines. So computers use pseudo-random number generators or require the use to provide the random input for them.</p>
<p>The interesting thing with quantum computers is that they cannot only <a href="http://www.idquantique.com/random-number-generation/quantis-random-number-generator/">produce an infinite amount of random numbers</a> given a very limited random input (such as putting a lever up or down, or the output of a previous quantum random generator), but applying statistics on the outcome can also determine if the system actually is producing proper randomness! This means that the proper working of a random generator and even the proper working of a quantum computer can be certified statistically without knowing any details of the implementation itself! Think about that!</p>
<p><a href="http://think-innovation.com/wp-content/uploads/2015/12/PCIx2-275x300.jpg"><img class="alignnone size-medium wp-image-669" src="http://think-innovation.com/wp-content/uploads/2015/12/PCIx2-275x300-275x300.jpg" alt="PCIx2-275x300" width="275" height="300" /></a></p>
<p><em>Quantum Random Number Generator you can buy today</em></p>
<h3>Goodbye security and privacy?</h3>
<p>Another topic which was talked about a lot at the QuSoft launch lectures was Cryptography. Apparently some researchers have already made algorithms which can break Diffie-Helman, RSA and other popular crypto algorithms which we rely on with e-commerce, banking, etc. The only wait is for a quantum computer which can actually run these algorithms and then all online security is gone in an instant. And not only that, all encrypted information which was stored in the past, can be cracked.</p>
<p>Using quantum computers to make new algorithms is not going to help us here, but what is possible is to use a quantum channel to communicate securely. The trick is to use relatively simple quantum computers on each end which can ensure that the channel was not eavesdropped on. So as current crypto takes eavesdropping as a given and uses smart algorithms to make a shared key between sender and receiver without the eavesdropper knowing it, with quantum crypto the eavesdropper is always detected and if so, you can take measures for that.</p>
<p>The solution is then to use a quantum channel and these relatively simple quantum computer on each end to create the shared secret and then use a traditional communications channel and computers for communicating with the one time padding approach.</p>
<p>Who will make the first quantum network? And will it be via glass fiber or satellites? Scientists present believe China will do it first.</p>
<p>So with quantum crypto, will the "cat and mouse game" between code makers and code breakers finally be over? Far from it: the weakness will be in the devices used, so the game will continue, albeit in a different form.</p>
