---
title: Can NGOs benefit more from Innovation and Technology?
categories:
- Blog
tags: []
comments: []
---
<p>Recently we applied for <a href="http://wearablesforgood.com/">UNICEF's Wearables for Good Challenge</a> and I <a href="http://www.huffingtonpost.com/lauren-woodman/a-call-for-ngos-to-embrac_b_6489000.html">read some</a> interesting <a href="http://www.unicef.org/videoaudio/PDFs/Innovation_Labs_A_Do-It-Yourself_Guide.pdf">pieces</a> on NGOs and innovation. Since these gave me the impression that NGOs could benefit more from innovation and new technologies, I decided to offer my expertise and part of my time to help NGOs innovate, or at least to assist in evaluating if innovation and technology could benefit them.</p>
<p><!--more--></p>
<p>Below is the open application I am sending to a number of NGOs that are (also) operating in The Netherlands. I am curious to find out if it will stick and if I get any response. In case you are also working in the innovation field and interested in offering help to NGOs, feel free to use my application as a template or <a href="/contact/">contact me</a> to see how we can join forces.</p>
<div>
<hr />
</div>
<p>Dear Sir, Madam,</p>
<p>How could [ORGANIZATION NAME] benefit more from established innovation techniques and technologies such as Open Innovation, Open Data, Internet of Things and Crowdfunding?</p>
<p>My name is Diderik van Wingerden and as a consultant I help my corporate clients innovate. I am also an entrepreneur and with our company we develop innovative products which we release under an 'open source' license.</p>
<p>The reason you receive this e-mail from me is that I offer my expertise and&nbsp;part of my time&nbsp;as a volunteer for your organization, with the intent for assisting in an innovative initiative.</p>
<p>If my offer is of interest to you, then please let me know and we could set up a telephone conversation or meeting to exchange ideas.</p>
<p>This <a href="http://www.huffingtonpost.com/lauren-woodman/a-call-for-ngos-to-embrac_b_6489000.html">recent article in the Huffington Post</a>, our participation in the <a href="http://wearablesforgood.com/">UNICEF Wearables for Good</a> Challenge and UNICEF's <a href="http://www.unicef.org/videoaudio/PDFs/Innovation_Labs_A_Do-It-Yourself_Guide.pdf">Do It Yourself Guide for Innovation Labs</a> inspired me to send you this e-mail.</p>
<p>For more information about me, see my <a href="https://nl.linkedin.com/in/diderikvanwingerden">LinkedIn Profile</a> and <a href="http://think-innovation.com/">Website</a>.</p>
<p>Besides your organization these organizations also received my offer: UNICEF NL, Oxfam Novib, Cordaid, Amnesty International, Greenpeace, Hivos and PAX. This initiative is also published on my website (LINK) and shared on social media.</p>
<p>Warm regards, hartelijke groet,</p>
<p>Diderik van Wingerden<br />
+31621639148<br />
http://www.think-innovation.com/</p>
<p>"Do what is right."</p>
<hr />
<p>&nbsp;</p>
<p>photo credit: <a href="http://www.flickr.com/photos/46886434@N04/6985853660">_D3S9849</a> via <a href="http://photopin.com">photopin</a> <a href="https://creativecommons.org/licenses/by-sa/2.0/">(license)</a></p>
