---
title: The Innovator's Toolbox
categories:
- Blog
tags: []
comments: []
---
<p>Over the past years I have been using various models, methods and frameworks while developing innovative products and services with clients, for our own initiatives and as mentor or participator at hackathons. These have become like a 'toolbox' that I always have with me and can use whenever necessary.</p>
<p>This post gives an overview of my most favorite tools. Use them to your advantage. In the coming months I will write more in-depth posts of each of the tools, giving my personal experience and good practices.</p>
<p><!--more--></p>
<p>Which are your favorite tools? <a href="/contact/">Share</a> and learn!</p>
<p><a href="http://think-innovation.com/wp-content/uploads/2015/10/business-model-canvas.jpg"><img class="alignnone size-medium wp-image-646" src="http://think-innovation.com/wp-content/uploads/2015/10/business-model-canvas-300x189.jpg" alt="business-model-canvas" width="300" height="189" /></a></p>
<h3>1. Business Model Canvas</h3>
<p>The model I still use most often is the <a href="http://www.businessmodelgeneration.com/">Business Model Canvas (BMC) by Alexander Osterwalder</a> and his followers: a great way to quickly draft the most important aspects of a new idea. It is like a Business Plan summarized on one sheet, that is easy to share, easy to create various versions of and quickly do ballpark financial calculations of a complete business. The BMC has inspired many variations for different use cases, one of which the Lean Canvas (see below).</p>
<p><a href="http://think-innovation.com/wp-content/uploads/2015/10/lean-canvas.png"><img class="alignnone size-medium wp-image-647" src="http://think-innovation.com/wp-content/uploads/2015/10/lean-canvas-300x207.png" alt="lean-canvas" width="300" height="207" /></a></p>
<h3>2. Lean Canvas</h3>
<p>The <a href="http://leanstack.com/">Lean Canvas</a> is much like the Business Model Canvas, except that it is more tailored to specific issues that start-up encounter. It fits more with the Lean Start-up type of thinking (see below), like uncovering the problem, the solution to that problem and the early adopters.</p>
<p><a href="http://think-innovation.com/wp-content/uploads/2015/10/lean-startup-cycle.png"><img class="alignnone size-medium wp-image-648" src="http://think-innovation.com/wp-content/uploads/2015/10/lean-startup-cycle-300x225.png" alt="lean-startup-cycle" width="300" height="225" /></a></p>
<h3>3. Lean Start-up</h3>
<p><a href="http://theleanstartup.com/">Lean Start-up by Eric Ries</a> has become "the manual for every start-up entrepreneur" and is also getting a lot of traction at large corporations now. Eric is doing a great job at teaching and coaching these corporates (those that can afford him) while at the same time start-ups buy the book or follow a local 2-day boot camp and get going. To me Lean Start-up is all about managing and reducing risk: innovation and entrepreneurship is a risky endeavor, so you want to identify the biggest risks as quickly as possible and deal with them head-on.</p>
<p><a href="http://think-innovation.com/wp-content/uploads/2015/10/workshop.jpg"><img class="alignnone size-medium wp-image-649" src="http://think-innovation.com/wp-content/uploads/2015/10/workshop-300x225.jpg" alt="workshop" width="300" height="225" /></a></p>
<h3>4. Effective Problem Solving in Groups</h3>
<p><a href="http://www.hartelijkgefaciliteerd.nl/training/ontwerpen-van-interactieve-meetings/">Effective Problem Solving in Groups</a> is a Workshop methodology I learned while I was employed at a Consultancy firm. It is an extremely structured way to do workshops in groups of any size, in order to jointly answer questions (or solve a problem) formulated well beforehand. Because the method structures the workshop process so well, it requires you to prepare the workshop up to the minute, the focus during the workshop can be completely on content, where the moderator serves more like a catalyst or conduit than as an expert knowing the answers.</p>
<p><a href="http://think-innovation.com/wp-content/uploads/2015/10/scrum.png"><img class="alignnone size-medium wp-image-650" src="http://think-innovation.com/wp-content/uploads/2015/10/scrum-300x212.png" alt="scrum" width="300" height="212" /></a></p>
<h3>5. Scrum</h3>
<p><a href="https://www.scrum.org/">Scrum</a> is a framework for Agile Development, solving adaptive problems in changing environments, which has become the de facto standard for Software Development teams. I have been using it as such, in the role of Scrum Master and Information Analyst, but increasingly it is also being used on other contexts. Think of hardware development and even <a href="http://www.scrumatschool.nl/?view=default">at schools</a>!</p>
<p><a href="http://think-innovation.com/wp-content/uploads/2015/10/product-design-canvas.png"><img class="alignnone size-medium wp-image-651" src="http://think-innovation.com/wp-content/uploads/2015/10/product-design-canvas-194x300.png" alt="product-design-canvas" width="194" height="300" /></a></p>
<h3>6. Product Design Canvas</h3>
<p>We have been working with the Product Design Canvas, or at least one if its variations, <a href="http://wearablesforgood.com/finalist-totem-open-health/">for UNICEF Wearables for Good</a>. It is inspired by the Business Model Canvas and allows you to focus more on the specifics of the product, like the users, cost of production, needed resources and product partners.</p>
<p><a href="http://think-innovation.com/wp-content/uploads/2015/10/whiteboard.jpg"><img class="alignnone size-medium wp-image-652" src="http://think-innovation.com/wp-content/uploads/2015/10/whiteboard-300x200.jpg" alt="whiteboard" width="300" height="200" /></a></p>
<h3>7. Blank sheet</h3>
<p>The blank sheet is more of an antithesis of the model, but I want to mention it anyway. Many times I do not know yet which model works best in a given context, as the problem or question is still unclear. Putting ideas and thoughts that are being expressed verbally out there in a visual way still helps a great deal then. So that's why I love just taking flip-over sheets, a whiteboard, markers, post-its and this awesome 'magic white' and just write and draw away!</p>
<h3>More to explore...</h3>
<p>Besides the above I will be exploring <a href="http://wikispeed.org/extreme-manufacturing/">Extreme Manufacturing</a> more, which is a combination of practices and principles that Wikispeed is using in order to make their cars. As the website indicates it promises "to go from an idea to a product or service in the customers hands in less than 7 days". It combines Agile, Kanban, Lean, Extreme Programming and Scrum. And also, I want to be doing more with Personas, as there are some great models for that which can help the discovery process tremendously!</p>
<p>- Diderik van Wingerden</p>
