---
title: Getting hands-on with FireFox OS and Geeksphone
categories:
- Blog
tags: []
comments: []
---
<p>By: Diderik van Wingerden and <a href="https://nl.linkedin.com/pub/mirjam-bekker/5/599/754">Mirjam Bekker</a></p>
<p>While we are developing our own <a href="http://www.wemaketotem.org/">Open Products</a> we also always keep an eye out for cool Open Products that are out there. And once in a while we like to get our hands on one of these products, test it and learn what we can.</p>
<p>A few weeks ago we thought it was time to finally get our hands on one of the most &ldquo;open&rdquo; smartphones currently available: one running Mozilla FireFox OS and see what that is all about. Sure, we ran into the Mozilla guys a <a href="http://www.t-dose.org/">couple</a> of <a href="http://www.softwarefreedomday.org/">times</a>, talking to them about the phones they brought, but we never actually took the opportunity to check it out thoroughly.</p>
<p><!--more--></p>
<p>In short about <a href="https://www.mozilla.org/en-US/firefox/os/2.0/">FireFox OS</a>: it is Mozilla&rsquo;s &ldquo;Free and Open Source&rdquo; version of an Operating System (OS) for a smartphone. The community version of FireFox is called <a href="https://wiki.mozilla.org/B2G">Boot2Gecko</a>, but for simplicity and since everyone calls it that way, we will refer to both as &ldquo;FireFox OS&rdquo;.</p>
<p>By the way: you may think that Google&rsquo;s Android OS is also &ldquo;Free and Open Source&rdquo;. Well, even if technically this is the case, Android is <a href="http://arstechnica.com/gadgets/2013/10/googles-iron-grip-on-android-controlling-open-source-by-any-means-necessary/">looking more</a> like <a href="http://opensource.com/business/14/12/openwashing-more-prevalent">Openwashing</a>.</p>
<h3><b>Is FireFox OS fit for everyday use?</b></h3>
<p>So the question we were asking ourselves was:</p>
<blockquote><p>&ldquo;How far has FireFox OS come being a practical alternative to Android and iOS for everyday use?&rdquo;</p></blockquote>
<p>To answer this question, we needed to get our hands on a smartphone running FireFox OS. There is not too much choice there (yet) unfortunately and we quickly decided on the <a href="http://shop.geeksphone.com/en/">Revolution smartphone</a> <a href="http://www.geeksphone.com/">by Geeksphone</a>: a European startup that has received quite some media attention and is all about &ldquo;leading the mobile revolution&rdquo; and with the &ldquo;passion [...] to give you the choice&rdquo;.</p>
<p><a href="http://think-innovation.com/wp-content/uploads/2015/08/geeksphone-revolution-phone.jpg"><img class="alignnone  wp-image-598" src="http://think-innovation.com/wp-content/uploads/2015/08/geeksphone-revolution-phone-1024x327.jpg" alt="geeksphone-revolution-phone" width="501" height="160" /></a></p>
<p>The remainder of this article contains all we learned from getting our hands on the Geeksphone Revolution, testing FireFox OS and doing some research into the Geeksphone initiative.</p>
<h3><b>In short: keep an eye on FireFox OS for now and forget about Geeksphone</b></h3>
<p>We are jumping to conclusions now. Well, not really: you can read all our findings and arguments, but for those of you only interested in the main message, we put that right here:</p>
<p>FireFox OS is not yet a realistic alternative yet for Android or iOS, when looking at it from our and probably also from most of your perspectives. The reason is simple: too many of our favorite apps are missing from the Mozilla Marketplace. Being able to add bookmarks of websites to the home screen is a nice fall-back feature, but does not solve that.</p>
<p>However, the idea of using a smartphone with a real free and open source community-supported OS is just so cool that we are keeping an eye on developments and hope that in the near future FireFox OS can be a practical alternative. Hopefully with an Open Hardware phone to go with it!</p>
<p>Surprisingly, as we were testing the Revolution phone, Geeksphone published a <a href="http://forum.geeksphone.com/index.php?topic=6521.msg66838">press release</a> stating that they would cease to produce phones. As we found that software support for the Revolution was already falling short, Geeksphone made it impossible to have community-made software upgrades and the founders were in fact walking away from their start-up, we state: forget about buying the Revolution and remember Geeksphone as having been a really sympathetic startup with the best of intentions striving for a good cause. Learn from it and try again.</p>
<h3><b>Geeksphone: &ldquo;Join us leading the mobile revolution&rdquo;</b></h3>
<p><a href="http://www.geeksphone.com/">Geeksphone</a> is a Spanish startup founded in 2009 by Javier Ag&uuml;era and Rodrigo Silva-Ramos. The promise of Geeksphone was to offer a smartphone for a &ldquo;mobile revolution&rdquo;: a smartphone that gives users the option to seamlessly switch Operating Systems of their choice.</p>
<p>With that Geeksphone has specialized in development and promotion of smartphones that run Open Source Software Operating Systems, having made it to Android and FireFox OS.</p>
<p>In the six years that Geeksphone has operated, the company has been able to bring five different smartphones to the market. This in itself is an incredible achievement! We have not been able to figure out exactly how many phones Geeksphone has sold, some forum members are talking about numbers less than 10,000, the recent press release mentions &ldquo;several thousands&rdquo;. That is not a whole lot compared to for example the independent phone manufacturer FairPhone which says it sold <a href="https://www.fairphone.com/roadmap/">60,000 units of the FairPhone 1</a> and today already has <a href="https://www.fairphone.com/">pre-sold 7,500</a> with a goal of 15,000.</p>
<p>We have not been able to figure out if Geeksphone designed the phones themselves, or if they licensed existing phone designs. Our guess is they licensed existing ones, looking at the speed and number of products released.</p>
<p>As for current progress: it looks like Geeksphone is going to be a dead end. The company recently published a press release stating that it would stop developing new phone models. Also, the founders are off to their next challenges. The press release does say that support for current phones will continue. However, we can read in the forums that support has not been that great for a while. For example, even though FireFox 2.2 has been out for quite some time, it is not available on the Revolution. Also, Mozilla does not officially support the Geeksphone Revolution and recommends not to get the phone.</p>
<p>Furthermore, the company has locked the device in such a way that it is not possible for the community to take on the task by itself. Geeksphone states that it has &ldquo;done all it can&rdquo; by releasing all materials it is legally allowed to given their contracts, but it looks like that is not going to be good enough.</p>
<p>Reading the comments on the <a href="http://forum.geeksphone.com/index.php?topic=6520.0">Geeksphone forum</a>, there is a small but active group of Revolution owners who understandably are not happy about the company&rsquo;s recent behavior and constructively try to find a solution for the community to take over. We sincerely hope they can and will follow the conversation.</p>
<h3><b>Getting hands-on with the Revolution phone and FireFox OS</b></h3>
<p>Let's continue with some actual product reviewing! What can we learn from the way Geeksphone put the Revolution out there and FireFox OS that is running on it?</p>
<p>First of all, the <a href="http://shop.geeksphone.com/en/phones/9-revolution.html">website with the Revolution information</a>, photos and specifications looks just great! Exactly as expected for a consumer oriented mass market product: simple design, sleek, beautiful photos and an easy on-line purchasing process.</p>
<p>The on-line purchase set us back EUR 141.25 including shipping. This is far less than the original price of the phone and even though the specs are a bit outdated, it seems like a more than reasonable price given what you get. We ordered the Revolution on a Sunday and it arrived on Tuesday in the Netherlands. That was surprisingly fast and already made an excellent start.</p>
<p>The unboxing experience of the Geeksphone is very &ldquo;Appley&rdquo; and therefor amazing: white sturdy box, everything neatly organized inside, a minimalistic and &ldquo;less is more&rdquo; approach. Also, even though tastes vary, we think the phone just looks slick! It has a slim design, with a black front and a white back.</p>
<p><a href="http://think-innovation.com/wp-content/uploads/2015/08/geeksphone-revolution-unboxing.jpg"><img class="alignnone  wp-image-599" src="http://think-innovation.com/wp-content/uploads/2015/08/geeksphone-revolution-unboxing-1024x445.jpg" alt="geeksphone-revolution-unboxing" width="501" height="218" /></a></p>
<p>The Revolution comes with Android pre-installed and it is very easy to switch to FireFox OS, by selecting an option in the settings menu. We did that immediately and then it takes about 30 minutes to let the process finish. We have not tried switching back to Android, but understand that is not so easy and involves installing Google&rsquo;s Android tools and doing command line stuff.</p>
<h3>The phone: solid hardware, some problematic details</h3>
<p>At first sight, the phone&rsquo;s hardware is just great. For <a href="http://shop.geeksphone.com/es/moviles/9-revolution.html">the price</a> you get a really nice looking, solid feeling phone that is rather thin and has a large screen. The hardware buttons feel good and the screen shows everything sharp and bright, be it not at the resolution of more modern phones.</p>
<p>However, we did encounter some issues: it proved to be rather hard to remove the battery cover, messing up our nails in the process and at some point thinking we might break the cover just as it snapped open. When swiping the screen it has a bit of a weird feeling to it. It is difficult to explain, but it is like the surface is not soft or smooth enough and that gives a peculiar experience. Or maybe the surface just needs to become more greasy over time ;).</p>
<p>Furthermore, the touch screen tended to &lsquo;forget&rsquo; swipe movements, resulting in moving your finger over the screen without anything actually happening. And at other times it would register taps and unintentionally open links on a website. These may seem like small issues, but make the whole touchscreen experience rather frustrating.</p>
<p>Also, every once in a while the phone just froze. It was then still possible to turn the screen on and off with the power button, but no touch action would register. Resetting the phone, which was possible with the power button, was the only solution. And we experienced &lsquo;drag&rsquo; when scrolling through web pages. Perhaps these two issues are not hardware related, but have something to do with FireFox OS.</p>
<h3>FireFox OS: too many shortcomings and glitches in version 2.0</h3>
<p>When starting FireFox OS for the first time you get a setup wizard much like you get with Android. It is straightforward and simple, just as it should be. The home screen looks attractive and playful, with many colors and large icons.</p>
<p>After looking around the OS for a few minutes, it presented us with an update for Mozilla Marketplace. After the update the Marketplace only showed a blank screen and was not usable anymore. We had to do a factory reset to get it to work again. Only for the problem to repeat itself, until we found it that it is also possible to open the Marketplace website from the web browser and install apps from there. FireFox OS allows putting bookmarks on the home screen like they are apps, so that was the solution for quickly accessing the Marketplace. However, it is not possible to remove the original non-working Marketplace app icon.</p>
<p>And not being able to remove some apps/icons from the home screen is part of a more generic shortcoming: you do not have a lot of freedom in arranging the home screen. Basically you can just move around the order of icons and create new icon groups, but it is not possible to add additional home screens and remove icons of apps you do are not using.</p>
<p>Browsing around the Marketplace, we were missing many apps that we use everyday, like: OpenStreetMap, Whatsapp, Facebook, Evernote, TextSecure and the apps of our Dutch banks. For Whatsapp two alternative clients exist, however we noticed that these do not have complete functionality and many times messages just arrive much later or out of order. This is to be expected, as these apps are both in &ldquo;beta&rdquo; phase, but that did not help us.</p>
<p>To overcome some of the limitations of the missing apps, it is nice that FireFox OS allows creating bookmark buttons of websites on the home screen. And for websites which have a good mobile version this works quite well: FireFox OS makes switching between websites and apps seamless and transparent. However, many websites are not well optimized for mobile, especially when they have good apps for iOS and Android, and bring extra hurdles, like for banks. Also, FireFox OS uses the favicon of the website and blows it up as the app icon on the home screen, which looks rather ugly.</p>
<p>FireFox OS comes with a number of standard apps like obviously a web browser and also an e-mail client. Using the e-mail client we found some glitches: after setting up e-mail accounts it still displays the &ldquo;set up new account&rdquo; for 1 second when opening the app and then goes to the inbox. It also always opens the inbox of the last account you configured, not the first one or the one you had open the previous time.</p>
<p>We also noticed that during the day the data connection seems to drop from time to time: many messages at once come after some hours in or no messages come in for a long time and then restarting the phone or switching on and off airplane mode results in a message flood.</p>
<p>Another thing we tested as we use it frequently on our normal phones is the sharing functionality. Especially Android is good at this: pretty much every app has the 'share' icon which brings up many options for sending content to other apps. We did not find this kind of sharing in FireFox OS. For example, it is not possible to share the link of an interesting web page from the browser to the e-mail or messaging app. As an alternative it is not even possible to copy the URL and paste it into an e-mail or message, as FireFox OS 2.0 does not have a copy/paste function!</p>
<h3>Final words</h3>
<p>You already read our conclusions earlier in this article, so we are not repeating them here. We would like add to that even though our conclusions about FireFox OS and the Geeksphone Revolution are not positive regarding everyday use, the idea of a truly open and community-based Operating System for smartphones is awesome and the work that all the people in the Mozilla community and at Geeksphone have been doing, was and is revolutionary!</p>
<p>Which 'open' product should we put up for review next?</p>
