---
title: Shaping a vision of the future
categories:
- Blog
tags: []
comments: []
---
<p>I met <a href="https://twitter.com/jpereztriana?lang=en">Jes&uacute;s P&eacute;rez</a>, a friend of my wife, while on vacation on Tenerife. He invited to guide us on a trip on the island, driving up the 3000+ meters tall volcano El Teide. While enjoying the amazing Mars-like views up the mountains, we got talking about the things that really interest us.</p>
<p><!--more--></p>
<p>Jes&uacute;s is a sociologist, specializing in and <a href="https://guerrasposmodernas.com/">writing about armed conflicts and security</a>. He explained to me how he recently got more interested into the impact of high-tech on global civil developments. Reading about Tesla and its ambitious vision for global energy, he understood how developments like these are changing the landscape of geopolitical interests.</p>
<p>I continued about how I envisioned a future which I would like to see develop, with not just energy going from global to local distributed, but also manufacturing, construction and food growing. And how the Silicon Valley start-up/investment model is actually an outdated model limiting innovation, how the so-called next industrial revolution is actually something very different, the role of open source in this, what the Singularity folks believe and how a major prohibiter of new social structures is the current heritage of the global monetary system.</p>
<p>Then Jes&uacute;s asked me: "Where can I find all this information?" I began listing some of the books and websites I read and follow, which helped me develop my ideas. But he interrupted me: "That is not what I mean, where can I find your story, these ideas, the things you are telling me now"?</p>
<p>I did not know how to answer that, and mumbled: "Nowhere, I guess. I mean, they are in my head. Maybe I could write more on my blog." All the while thinking about this year-long idea of maybe writing a book... maybe developing a TED-like story to tell... maybe at least write more blog posts. But I had not.</p>
<p>So instead I promised him to at least provide a list of the books, events and documentaries which resonate(d) and from hindsight seem to have helped in shaping my beliefs of the world, a vision of a future society and the task I feel we have at hand in this lifetime.</p>
<p>Jes&uacute;s, this blog post is for you, some resources you undoubtedly know, probably some not and hopefully some will be helpful for you, in somewhat chronological order (oldest to newest read/watched):</p>
<ul>
<li>The book <a href="http://www.amazon.com/Cradle-Remaking-Way-Make-Things/dp/0865475873">Cradle to Cradle</a>, by Braungart and McDonough</li>
<li>The audio book <a href="https://www.eckharttolle.com/books/newearth/">A New Earth</a>, by Eckhart Tolle</li>
<li>The documentary <a href="http://www.imdb.com/title/tt0497116/">An Inconvenient Truth</a>, by Al Gore</li>
<li>The book <a href="https://www.harpercollins.com/9780062119087/built-to-last">Built to Last</a>, by Collins and Porras</li>
<li>The book <a href="http://www.rushkoff.com/books/life-inc/">Life Inc</a>, by Douglas Rushkoff</li>
<li>The book <a href="http://www.triballeadership.net/book">Tribal Leadership</a>, by Logan et al.</li>
<li>The book <a href="http://www.houtekiet.be/boeken/p/detail/de-wereld-redden">De wereld redden</a>, by Michel Bauwens</li>
<li>The documentary <a href="http://www.imdb.com/title/tt3268458/">The Internet's Own Boy</a>, about Aaron Swartz</li>
<li>The documentary <a href="http://www.amazon.com/exec/obidos/ASIN/1451654960/simonsayscom">Who Owns the Future?</a>, by Jaron Lanier</li>
<li>The book <a href="http://www.rushkoff.com/books/throwing-rocks-at-the-google-bus/">Throwing Rocks at the Google Bus</a>, by Douglas Rushkoff</li>
<li>The book <a href="http://www.amazon.com/China-Study-Comprehensive-Nutrition-Implications/dp/1932100660">The China Study</a>, by Campbell</li>
<li>The <a href="https://www.libreplanet.org/2016/">LibrePlanet</a> conference, together with the FSF and Richard Stallman</li>
<li>The <a href="http://www.poc21.cc/">POC21</a> event</li>
</ul>
<p>Probably I forgot to list a few important ones here and some of these made a larger impact than others, but here you go. It would be nice to make this into an annotated list, giving the take away points I got from each and how that influenced my life's philosophy and motivations: the developing 'why' understanding of my life.</p>
<p>And as a bonus for Jes&uacute;s, check <a href="http://www.gendo.nl/en/blog/arjen/book-information-security-for-journalists-v11">this one about opsec for journalists</a>, by Carlo and Kamphuis ;)</p>
<p>-Diderik</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
