---
title: Conquer the World with Open Source
categories:
- Uncategorized
- Blog
tags: []
comments: []
---
<p>Last week I had the privilege and pleasure to do a talk at the <a href="http://www.business-software-event.nl/programma/open-source-software-and-hardware-congres/">Open Source Software and Hardware Congres</a> (OSSH Event) in Den Bosch, The Netherlands. Since I got some positive reactions on this talk, I decided to write this Blog Post about it, containing the main points.</p>
<p>The organization asked me to talk about "earning money with Open Source", a topic I have been talking about at several other conferences. However, this time I decided not to just focus on explaining various Open Source Revenue Models, but instead focus more on the disruptive global successes an Open Source Strategy can bring about. Therefor the somewhat grandiose title of my talk: Conquer the World with Open Source.</p>
<p><!--more--></p>
<p>In the talk I aimed at explaining how some very successful companies have been hugely successful by choosing the unconventional way, by having the guts to do it differently and adopting Open Source as a Strategy. What I mean by this is that Open Source forms a vital part of the Value Proposition of a company. This opposed to mere regarding and using Open Source Software (and increasingly Hardware) as an alternative to Proprietary products for running your business.</p>
<p>Remark: most of the rest of the talks at OSSH were about the pros and cons of using Open Source Software in a regular business, including a lot about security-related matters. Interesting exceptions were the talk by <a href="https://www.redhat.com/">RedHat</a> about Internet of Things and by <a href="http://smart-robotics.nl/?lang=en">Smart Robotics</a> about <a href="http://www.ros.org/">ROS Open Source Robotics</a>.</p>
<p>My talk included three case studies of "Big Conquerers", from Open Source Software, three case studies of "Small Conquerers", from the upcoming Open Source Hardware movement and some tips for those who are interested in becoming an Open Source Conquerer.</p>
<h3>The Big Conquerers in Open Source Software</h3>
<p>As the Innovation Model of Open Source was invented as a Software Development and Distribution practice and has been around for a long time, this is where the biggest successes can be found:</p>
<h4 style="text-align: center;"><em><span style="color: #808080;">"Build a Multinational with Open Source" (RedHat)</span></em></h4>
<p><a href="https://www.redhat.com/">RedHat</a> has shown that building a multinational company is possible and its clients, employees and the entire community are benefiting from their success. This year (2016) RedHat will make over $2 billion revenue, being the first Open Source company to do so.</p>
<p>Starting in 1993, it now has 9300 employees and serves its customers in 35 countries. For this unfamiliar with the company: RedHat mainly provides support and services around Open Source Software like GNU/Linux, but also provides Cloud and IoT solutions, consultancy and training.</p>
<p><img class="alignnone wp-image-716" src="http://think-innovation.com/wp-content/uploads/2016/12/android-market-share.png" alt="android-market-share" width="470" height="316" /></p>
<h4 style="text-align: center;"><span style="color: #808080;"><em>"Become Market Leader by adopting an Open Source Strategy" (Android)</em></span></h4>
<p>About a decade ago (2007) Google released its first version of the Open Source Operating System for smartphones: <a href="https://www.android.com/">Android</a>. Seeing the vastly growing market for mobile phones and particularly smartphones, Google decided it could not afford to leave out and chose an Open Source strategy.</p>
<p>The result: as Apple's iOS starting pushing away Palm, BlackBerry and Windows, the market leaders at the time, Android overtook iOS in just a couple of years. And at the moment almost 90% of all smartphones sold run on an Open Source OS, with GNU/Linux at the core.</p>
<p>However, some critical remarks can also be made about Google's strategy for Android. Google is making more and more of the apps that used to be Open Source as a Proprietary component of the OS and the company has a serious lock-down on all companies producing phones with Android and Google's flagship apps like GMail, Google Play and Google Maps with the Open Handset Alliance. Well, not so Open actually, for example: if a company produces phones with these flagship apps, they have to include ALL of them and are forbidden to produce phones that run a fork (another version) of Android.</p>
<h4 style="text-align: center;"><span style="color: #808080;"><em>"Make Global Impact by Open Sourcing your Product" (Wordpress)</em></span></h4>
<p>It was 2003 and the market of Content Management Systems (CMS) was still highly volatile and in tremendous development. In that time it was still normal to build your own (general purpose) CMS, or at least consider the possibility. <a href="https://wordpress.org/">Wordpress</a> changed that, by becoming the best CMS around and Open Sourcing it to make a global impact.</p>
<p>At the moment 25% of the top 10 million websites run Wordpress and the ecosystem of premium themes, plug-ins, customizations and implementations is said to be a 'Billion Dollar Ecosystem', although it is very hard to calculate this number given the distributed non-centralized nature of Open Source.</p>
<p>The Software as a Service (SaaS) version of the CMS, which is <a href="https://wordpress.com/">wordpress.com</a>, serves 76 million blogs. It is amazing how Wordpress, or Automattic, the company behind this product, has been able to make all of this possible and has just around 400 employees.</p>
<p>By comparison: Twitter has 10 times as many employees and Facebook 40 times.</p>
<h3>The Small Conquerers in Open Source Hardware</h3>
<p>Given the success of Open Source in Software, we now see 'a transition from bits to atoms' where this innovation model is being experimented with, being tested and eventually being re-invented to be compatible and successful with Hardware. Some very promising Open Source Hardware companies exist nowadays and we can learn a lot and get inspiration from these cases:</p>
<h4 style="text-align: center;"><em><span style="color: #808080;">"Define the de-facto Standard" (Arduino)</span></em></h4>
<p>A little over 10 years ago (2005) a group of researchers and university students in Italy were looking for a way to allow their students to quickly include electronics in their art projects. At that time one needed to be a trained embedded systems engineer and a software engineer if you wanted to do some more advanced things with electronics.</p>
<p>For this reason the group developed a small basic micro-controller board which could be easily connected and extended with modules. Furthermore, they built a program to be able to easily develop software for it, called an Integrated Development Environment (IDE).</p>
<p>The <a href="https://www.arduino.cc/">Arduino</a> project was born and the group soon saw a huge demand for the product coming from everywhere. They decided to start producing and selling the Arduino products in larger quantities, expanding globally. Also, because all of the designs, documentation and code were Open Source, many clones came onto the market, hoping to be in the slipstream of this success.</p>
<p>Today Arduino is the de-facto standard for any educational, art, hobby and even professional electronics prototyping project, especially given the huge IoT hype. The Arduino project is believed to have made around &euro; 50 million revenue to date and the webshop <a href="http://adafruit.com/">Adafruit</a> sells &euro; 250.000 in Arduino products each month. And note: these are the official, original or certified Arduino products, not the clones, which are a multitude of that.</p>
<p><img class="alignnone wp-image-719" src="http://think-innovation.com/wp-content/uploads/2016/12/opendesk-office.jpg" alt="opendesk-office" width="416" height="301" /></p>
<h4 style="text-align: center;"><em><span style="color: #808080;">"Disrupt the Supply Chain" (OpenDesk)</span></em></h4>
<p><a href="http://opendesk.cc/">OpenDesk</a> is an interesting case as it is trying to build an open platform for furniture, mainly desks and tables, where the client directly connects with the designer and maker. The idea is that only information is transported globally and the physical products are made locally by manufacturers called 'makers' using computer controlled machinery, like CNC Routers.</p>
<p>A client requests a desk to be made and a request for proposal goes out to local makers. Then when the client decides to buy the product, the local maker is going to make it, where every party involved gets a piece of the financial pie. The designer, the platform, the channel, the maker are all paid a fair share.</p>
<p>OpenDesk calls itself the "IKEA of the 21st century", but since the furniture price is a multiple of IKEA furniture, I think it is mainly an interesting experiment to figure out how to make this rather complicated Open Source platform model work.</p>
<p>A side note: the designers choose the license to share their work under and most of them choose to use a 'non-commercial' license, which means that most of OpenDesk's designs are not Open Source.</p>
<h4 style="text-align: center;"><span style="color: #808080;"><em>"Overtake the Big Boys" (The Things Network)<br />
</em></span></h4>
<p>A few years ago a conglomerate of multinational corporations decided to set a new standard for Machine to Machine (M2M) communications, to be able to service the upcoming Internet of Things industry. This conglomerate is called the LoRa Alliance and the communication protocol is released as an open standard.</p>
<p>Then in 2015 a small group of people in Amsterdam decided to take advantage of this openness and were able to set up a city-wide network in just six weeks, with a relatively small amount of investment. The initiative was a huge success and got tons of media attention: <a href="https://www.thethingsnetwork.org/">The Things Network</a> (TTN) was born.</p>
<p>Now TTN defines itself as a distributed community-owned open source IoT network. The movement has expanded globally, forming local communities everywhere. At the moment the community spans 60 countries, with over 200 communities, having a total of 900 active gateways.</p>
<p>Their Kickstarter campaign, aiming to bring their own developed cheap hardware on the market, was a huge success, bringing in almost &euro; 300,000, twice the intended amount.</p>
<p>Recently TTN announced a deal with Farnell, the global distributor of Raspberry Pi, to distribute their products as well. I think KPN and other corporations are jealously looking at what TTN has accomplished as a grass-roots open source movement and wish they had started this amazing concept.</p>
<p><img class="alignnone size-full wp-image-717" src="http://think-innovation.com/wp-content/uploads/2016/12/become-a-conquerer.jpg" alt="become-a-conquerer" width="400" height="300" /></p>
<h3>Become an Open Source Conquerer</h3>
<p>After reading about the successes of these six Open Source Conquerers, I hope you get inspiration to at least consider this unconventional approach to make your innovative idea a worldwide success! We can learn a lot by studying these companies and in case you are still wondering:</p>
<p>"But how do I make money with Open Source?" here is a list of the options you have:</p>
<p>Sell or rent out physical products<br />
Sell products and services made with Open Source products<br />
Sell per-client installations and customizations<br />
Sell the means to use Open Source<br />
Sell education and consultancy<br />
Sell proprietary premium products<br />
Sell the franchise and certification<br />
Organize events and sell tickets<br />
Benefit from 'open'-oriented subsidies and (research) grants<br />
Start a foundation or consortium</p>
<p>Basically you sell products and services just as any traditional 'closed' company, except that you cannot sell licensed to intellectual property like patents. This list is an adaptation from <a href="https://blog.p2pfoundation.net/open-source-business-models-circular-economy-video-series-9/2016/11/10">Lars Zimmerman's excellent article</a> about the topic.</p>
<p><img class="alignnone wp-image-718" src="http://think-innovation.com/wp-content/uploads/2016/12/makerbot-openwashing.jpg" alt="makerbot-openwashing" width="370" height="283" /></p>
<h4 style="text-align: center;"><em><span style="color: #808080;">"Be Fair, do not OpenWash!"</span></em></h4>
<p>When you are going for Open Source, I recommend you to do it properly and in a fair way. Do not market and promote "Open Source", when it in fact is not. Stick to the widely accepted Open Source Software Definition by the Open Source Initiative and the Open Source Hardware Definition by the Open Source Hardware Association.</p>
<p>If you play tricks I call this "Openwashing" and it can and probably will explode in your face later on. A famous example of this is Makerbot, which several years ago was the market leader for desktop 3D Printers. They had a huge community, which helped them out in many ways and they were developing really innovative printers, completely Open Source. Then somebody decided to take all the 'source' (design files, schematics, etc.) and start a Crowdfunding campaign to have clones made in China.</p>
<p>Even though the campaign failed this scared the Makerbot founders enough to make the unwise decision to make Makerbot proprietary. This caused outrage in the community and destroyed their brand. Combined with bringing several low quality 3D Printers on the market, the company is now marginalized and could very well seize to exist soon.</p>
<h4 style="text-align: center;"><span style="color: #808080;"><em>"Think Big, Act Small"</em></span></h4>
<p>One final advice for when starting out with an Open Source Strategy: "Think Big, Act Small". Since you probably have no or little experience on the topic and how to make a successful Open Source Business Model, start with small experiments and learn on the way.</p>
<p>Look for example at what Texas Instruments and Intel are doing in this regard: big corporations who tip their toes in the waters of Open Source.</p>
<p>If you are wondering about my experience with Open Source Business Models, then check out <a href="http://openhealth.wemaketotem.org/">Totem Open Health</a>, an initiative I started in 2014 and now continues to conquer the world without me.</p>
