---
title: Unbox your Dropbox? Forget about TransIP Stack (for now)
categories:
- Blog
tags: []
comments: []
---
<div>
<p>Do you want to get rid of privacy-invading centralized Silicon Valley Cloud services like Dropbox, Google Calendar and Google Documents? Me too! However, that is easier said than done.</p>
<p><!--more--></p>
<p>The functionality and user experience of them is so great and replacing them for something privacy-respecting, decentralised and preferably Open Source is no easy task.</p>
<p>And in my case, I use Dropbox and Google very intensively for both my work and private life, so I want a smooth transition that is guaranteed to be working and not lose or corrupt my data.</p>
<p>Over the past years the result is that I did discuss the dilemma with some people and always had the idea of De-Googlifying and Un-Dropboxing in the back of my mind, but never really found the time and had the guts to take the plunge.</p>
<p>But recently some people directed me towards "Stack": a file synchronisation cloud service by the successful hosting provider TransIP. I checked out their website and offer and got excited: this looked solid, professional, easy and a big plus for me: done by a Dutch company. And the free 1 TB they give, helps as well! ;)</p>
<p>So over the past few weeks I gave Stack a try and communicated frequently with the TransIP helpdesk. My Dropbox use case: I currently have a little over 200 GB in stored files in Dropbox, containing both private files like holiday pictures and work files like project documents, contracts and administration.</p>
<p>Pretty much all the digital files of my life are in there. And the convenience of always having access to them on 1 place on my laptop, via the web and on my smartphone is a great benefit.</p>
<blockquote><p><strong><em>To put a long story short: forget about Stack for now as a real replacement for Dropbox.</em></strong></p></blockquote>
<p>Summarizing, the reasons are:</p>
<p>1. <strong>The Linux Client app is regularly unresponsive</strong> (resulting in the Wait-Quit window) and takes 100% CPU power, resulting in a lagging laptop. The Dropbox app never gives these problems.</p>
<p>2. <strong>Stack can appearantly not sync all files</strong>, and a few days of uploading resulted in several dozen notifications saying a file could not be uploaded, indicating that the details can be found in the log. Dropbox does not complain about file syncing, it just does it.</p>
<p>3. <strong>It is not possible to recover which files were not synced and fix that file by file</strong>: the log containing the non-synced files actually only exists as the Sync tab in the Client app. As soon as that app closes (see 1), the information is lost.</p>
<p>At 2 I should add that the helpdesk helped out, explaining how hidden file synching is off by default and how I can turn that on and that the complete path and file name should not exceed 148 characters. At 3 I should add that the helpdesk informed me about a way to run the Client app so the complete log would be available for later reviewing (but by then many log entries were already lost).</p>
<p>During the conversation that I had with them, the TransIP helpdesk told me that Stack is based on OwnCloud. Something that would have been good to know from the start, so I could investigate the merits of OwnCloud and let that weigh in on my decision.</p>
<p>Interestingly, at the beginning of this process the TransIP helpdesk indicated that Stack is indeed a good replacement for Dropbox and how I could just point the Stack client app to the Dropbox folder.</p>
<p>But after exchanging several messages with them about various problems, they confirmed that Stack is not a good replacement yet for Dropbox. TransIP informed me that they are working on their own software to replace OwnCloud in Stack.</p>
<p>I hope this is not Proprietary software, because I believe it will be very hard for a small company like TransIP to beat Dropbox at their own game. I believe collaborating with other companies to solve this problem and continuing the Open Source work of NextCloud or similar initiative has a much better chance of succeeding, at a much lower price, with a much larger impact.</p>
<p>As final notes, the TransIP helpdesk has been great at assisting me in this process, they have been very responsive, transparent and showed expertise on the subject.</p>
<p>And I do not greatly enjoy writing this blogpost, I would much rather have written a raving review on how Stack replaced Dropbox for good!</p>
<p><strong>Which service to try next?</strong></p>
<p>- Diderik van Wingerden</p>
<p>This post first appeared on <a href="http://www.think-innovation.com">Think. Innovation.</a></p>
</div>
<p><!--more--></p>
<p><!--more--></p>
<p><!--more--></p>
