---
title: How to feel happy using your Apple MacBook (again)
categories:
- Blog
tags: []
comments: []
---
<p>In short: wipe Mac OS and <a href="https://elementary.io/docs/installation#installation">install Elementary OS</a>. In some more words: read on.</p>
<p>If you are thinking: "I am feeling happy using my MacBook, what is he talking about?", then open your calendar and make an entry for in 2 years to come back to this post. See you then!</p>
<p>Yes, in time your MacBook gets slow, right? Using it just does not feel as swift and smooth anymore as it once did. Everything you do is becoming a bit sluggish. Up to a point where it even becomes almost unusable. High time to go buy that new model!</p>
<p><!--more--></p>
<p>But wait a minute. Your computer does not become slow at all. In fact, it is exactly as fast as it was when you bought it. Unless you have one of those MacBook's that is <a href="https://motherboard.vice.com/en_us/article/xygmyq/new-macbook-pros-mark-the-end-of-upgradeable-apple-computers">still upgradeable</a> (like I do) and you upgraded the RAM and/or HDD to SSD. Then it is even faster! Let me say it again: your MacBook does not become slow!</p>
<p>Then why does it feel like it is? That is because Apple is making you install updates and new versions again and again that take up ever more resources from your laptop. And you do not have a choice. Of course in the name of security, a better user experience, more features or a nicer look. But that is just what Apple tells you: in fact the company has every interest to make you feel that your 'old' laptop is slow, unfashionable, too heavy and in time even unusable.</p>
<p>And it is not just Apple that is doing this (it is always easy to pick on the famous kid), the same happens with laptops that run Windows, with tablet computers and smartphones, regardless if they are made by Apple, Samsung or pretty much any other company (FairPhone is hopefully here to stay as an<br />
enlighning counter example).</p>
<p>It makes <a href="http://www.investopedia.com/terms/p/planned_obsolescence.asp">perfect sense</a>. At least, for them. Their primary responsibility is to grow profits, or more accurately, to infinitely grow shareholder value. And they use any means at their disposal to do so, as long as it has a 'positive business case'. At one time that sounded pretty good, and we benefited from this model a long time, but at the moment it simply is not good enough anymore.</p>
<p>But enough with the rant already! Back to the question, how to feel happy about using your MacBook again?</p>
<p>It started as an experiment a few months ago. I was growing a bit bored with using my <a href="https://www.thinkpenguin.com/">ThinkPenguin</a> Korora laptop. A fine laptop, do not get me wrong, but not a spectacular piece of hardware. The keyboard is a bit spongy, the screen is so-so and given its all plastic dark gray and black casing, not all that eye-catching. And to be honest, even though I have deep respect for what the people at ThinkPenguin have accomplished, it did not provoke any responses from people like my <a href="https://shop.fairphone.com/en/buy-fairphone2-2">FairPhone</a> does, which is a nice conversation starter about things that matter.</p>
<p>So I was considering maybe going for that pretty nice looking <a href="https://slimbook.es/en/store/slimbook-kde">Slimbook KDE laptop</a>. But I found the price a bit steep, and buying a new laptop while I still have a perfectly working one, is not that environmentally conscious. In fact, I have several laptops lying around which I do not use (shame on me; want one?).</p>
<p>And then I saw my annyoingly 'slow' 2012 Apple MacBook Pro lying around and thought: would that run <a href="https://en.wikipedia.org/wiki/Linux">GNU/Linux</a> in any acceptable way? Oh, for anyone not familiar with GNU/Linux: it is a so-called "<a href="https://en.wikipedia.org/wiki/Operating_system">Operating System</a>" like Mac OS and Windows. It comes in over 500 versions (called <a href="https://distrowatch.com/">distributions</a>) instead of the handful that Apple and Microsoft produces. And you can find a GNU/Linux version for pretty much any computer, no matter how old it is. It is also used for servers (90% of the internet runs on it) and is even used in industrial machines.</p>
<p>How is the GNU/Linux company making this possible? Well, it is not, because there is no such company. GNU/Linux is so-called <a href="https://en.wikipedia.org/wiki/Open-source_software">Open Source</a>, which gives anyone the freedom to use, study, change and share the software. And so many people (and companies) do, resulting in a huge ecosystem that creates value for everyone involved. Needless to say the Open Source is by far the superior way to innovate and its principles are vital in the survival of humankind and this planet (perhaps you guessed it, I am a bit of a fan of Open Source).</p>
<p>So, I talked my wife out of continuing to use 'my' MacBook (it suddenly became 'mine' again) and convinced her that another laptop was just as good and I started the experiment (in fact: by the time I am writing this she is using 'her' 2009 MacBook White runnig GNU/Linux as well).</p>
<p>Coincidentally (or?) I stumbled on a fairly new distribution (version) of GNU/Linux called <a href="https://elementary.io/">Elementary OS</a>. The team of Elementary OS intends to create an elegant, stylish, yet superfast version that is perfectly suited for people familiair with Mac OS. What a coincidence indeed!</p>
<p>To keep things simple, I swapped the hard disk (HDD) with a new solid state drive (SSD), so it would be easy to go back to Mac OS if the experiment failed. And as a side benefit, the laptop would even be faster than it was.</p>
<p>Installing Elementary OS was super simple and went very smooth. Since Elementary OS is so new, I expected it to be somewhat unstable, buggy and not actually suited for everyday use. But in fact I have been using my 2012 Apple MacBook Pro running Elementary OS for 2 months now and the system<br />
is very stable and I have been using it every day, mostly for work! And I love it! There are some small nuisances, but I found that these are smoothed out as the Elementary OS team keeps publishing updates which can be easily installed. And which do not result in a slower laptop! ;)</p>
<p>The transition of going from Mac OS and the familiair programs (sorry, I mean apps) you have there is perhaps an entirely new story. As I have been using <a href="https://linuxmint.com/">Linux Mint</a> for quite some time, I did that transition years ago. At first it was not easy, but in the end it is well worth it. Perhaps material for another blogpost? Anyone?</p>
<p>So, if you also want to feel happy about using your MacBook again, give Elementary OS a try! Hopefully you are fortunate enough to also still be able to swap the drives, that makes the experiment a lot easier. Otherwise, you should be a bit more careful not to mess up your Mac OS partition if you ever decide to go back.</p>
<p>I created a <a href="https://linlap.info/apple_macbook_pro_9_2">wiki page</a> on the technical details of running Elementary OS on a 2012 MacBook Pro, you can start from there. Or if you have another model MacBook then the <a href="https://wiki.archlinux.org/index.php/Mac">Arch wiki</a> and <a href="https://ubuntuforums.org/forumdisplay.php?f=328">Ubuntu forums</a> are a great way to start. And of course you can <a href="/contact/">drop me a line</a> as well.</p>
<p>You can also run the beautiful Elementary OS when you are still feeling happy about your MacBook, but would like to add that warm fuzzy feeling to it that comes with using a great piece of free (as in freedom) software that was made with love by an awesome world-wide community! Sorry you had to wait 2 years for this great piece of advice.</p>
<p>Oh, not to forget: once you are running GNU/Linux on your laptop, putting a bunch of stickers is mandatory!</p>
<p><img class="alignnone size-medium wp-image-831" src="/media/images/blog/laptop-stickers-300x220.jpg" alt="" width="300" height="220" /></p>
<p>- Diderik</p>
<p>P.S.: If you like using Elementary OS, then <a href="https://elementary.io/get-involved#funding">consider donating</a>. That keeps up the good work, as the volunteers making this incredible software also need food on the table. I donated EUR 25 recently. Perhaps that should become a standard yearly recurring thing?</p>
