---
title: Stop Trying To End Poverty
categories:
- Blog
tags: []
comments: []
---
<p>In the past months I have started to explore and getting myself involved in Humanitarian Aid organizations (NGOs), from an innovation perspective.</p>
<p>What I find striking is how many times I read and hear about the goal to "End Poverty". Besides the problematic term 'poor', which can mean to have no money for a prolonged time, but can also mean 'of low quality' (low quality people? Do you see the problem here?), I believe thinking about it in this way already limits the solution space tremendously. For one, money is just a proxy for something else, nobody dies of a lack of money, people die because of a lack of food, shelter, safety, healthcare, etcetera. So focusing on solving that money problem, discards opportunities to find solutions in a different way.</p>
<p><!--more--></p>
<p>And second, the big contemporary global problems are not a problem of scarcity, but they are an organizational problem. We do have enough food and stuff, but we organized in such a way that some people have plenty, more than they can ever consume, and other people have almost nothing. And the way our money and our financial system works is one of the fundamental reasons why we organized things in such a poor (=of low quality) way. So by getting into the box of 'Solving Poverty', you are not aware of the box anymore, oblivious to the system you are in that created these problems in the first place.</p>
<p>Related to this observation, yesterday I watched this <a href="http://www.ted.com/talks/peter_singer_the_why_and_how_of_effective_altruism">TED video by Peter Singer</a> on 'Effective Altruism'. I really like this concept, looking at altruism in a more 'business' (as he calls it) way, going for proven effectiveness and transparency. However, I also find his logic and argumentation flawed in several ways. He argues by example that a person who wants to 'do good' should pursue a career as an investment banker, if he/she has the talent and ambition for that.</p>
<p>This person will earn a lot of money and he/she can than donate a portion of that to effective charities, being much more effective than going to work for the charity directly. The problem is this: as our current financial system is one of the main reasons of the poor (=low quality) condition of so many people, who is to say that this person did not more harm than good? Maybe (s)he helped weapons companies, contaminating fossil fuel or chemical corporations or otherwise non-beneficial companies become more successful and hence harmful.</p>
<p>Maybe it would have been better that this person would not pursue that career and not donate anything to charity, but just sit on the couch. This is by the way not a hypothetical problem, but an actual problem that large funds like the Bill and Melinda Gates Foundation have. This topic has been researched and these funds are aware of this investment paradox.</p>
<p>So to sum it up, we need people to think out of the box, to explore and experiment with radically new ways of organizing things, to create systemic change. Bart Romijn, director of Partos, wrote a <a href="https://partos.nl/actueel/nieuws/artikel/news/column-bart-romijn-power-to-the-people/">really interesting column</a> recently on a topic that relates to my point. He makes the observation that the time that people just donate money and NGOs do the rest is gone: NGOs should involve and co-create with their stakeholders, <a href="http://think-innovation.com/blog/can-ngos-benefit-more-from-innovation-and-technology/">an observation I also made several years ago</a> in one of my posts. I call it Volunteering 3.0.</p>
<p>In the column Bart links to <a href="https://hbr.org/2014/12/understanding-new-power">an article of HBR</a>, a long read, but a really interesting elaboration on what the authors call 'old power' and 'new power', relating the two best known but contrasting forms of techno-socio-utopism. I find it striking how the authors of the HBR piece and seemingly also Bart Romijn are oblivious to the way 'old power' has in fact hijacked the 'new power' language, calling the new concepts is own.</p>
<p>Companies like Airbnb, Uber, Lyft and Google are cheered upon as being 'new power' initiatieves, being the poster childs of peer-to-peer, collaboration and open source. It amazes me how the authors do not realize that these molochs are just as 'old power' as Shell and Monsanto, while the true 'new power' initiatives which by definition are not big multinational world-famous corporations, are pretty much ignored.</p>
<p>Or am I seriously mistaken here and did I get things mixed up? If I begin to think that everybody is crazy, there can be only one conclusion...</p>
<p>- Diderik</p>
<p>Image from <a href="https://stocksnap.io/photo/VM313J2PNF">StockSnap.io</a></p>
<p>&nbsp;</p>
