---
title: No Time To Waste!
categories:
- Blog
tags: []
comments: []
---
<p>How are we going to feed 9+ billion people by 2050? Last week this question was at the heart of the <a href="http://summit.tffchallenge.com/">Thought For Food Summit</a> in Amsterdam and I had the honour and pleasure to be giving a <a href="https://www.slideshare.net/DiderikvanWingerden/opening-business-models-thought-for-food">Clinic on Opening Business Models</a> and being invited to co-judge on the special Open Business Model Prize in the TFF Challenge Finals.</p>
<p>In a thrilling finals award ceremony <a href="http://labs.tffchallenge.com/team/2016/wastebuster/">team WasteBuster</a> won the <a href="https://twitter.com/tffchallenge/status/868509419591675904">special Open Business Model Prize</a>. Michael Kock, head of IP of main sponsor Syngenta, awarded the prize mainly for the potential the WasteBuster concept has for opening up their business model and open licensing their technology.</p>
<p><!--more--></p>
<p>As the team put forward in their Finals pitch: they want to share the relatively simple and straightforward process of creating high-quality food powder from fruit and vegetable waste under a Creative Commons license, but left out exactly how they want to do this and what they hope to accomplish with it.</p>
<p>In this post I will be sharing my ideas on what WasteBuster could do with open licensing and opening up their business model in order to get a bigger impact faster. Because with mountains of perfectly good fruit and vegetables being thrown away every day, there is no time to waste!</p>
<p>Note: this is an initial thought experiment; I got only a glimpse of what team WasteBuster is up to by talking to them a few minutes and hearing their 5-minute pitch.</p>
<p>The problem that WasteBuster is solving, is this:</p>
<blockquote><p><em>"Roughly one third of the food produced in the world for human consumption every year &mdash; approximately 1.3 billion tonnes &mdash; gets lost or wasted (<a href="http://(http://www.fao.org/save-food/resources/keyfindings/en/)">fao.org</a>)."</em></p></blockquote>
<p>Of this food 40% to 50% is root crops, fruits and vegetables, which is 585 million tons a year, equivalent to 1.6 million tons per day, or 18.5 tons every second (that is 18,500 kilos of wasted fruit, vegetables and roots every second).</p>
<p>On of the main reasons that this food is wasted, is that there is not enough time for it to reach people who need it: it goes bad in a couple of days.</p>
<p>What team WasteBuster did is find a way to increase the shelf life of this food from 2 days to 2 years by steaming, drying and pulverizing it using a relatively easy process and machinery. The food powder is then put into portion size bags and labeled and can be sold.</p>
<p>Given this great and proven technology, how do we make sure that it is available to anyone who can benefit from it in the shortest possible time, in a way that is beneficial to all stakeholders involved?</p>
<p>I believe a traditional centralized closed operation where one company is in control of designing, developing, manufacturing and distributing/selling the product is not going to lead to the optimal outcome. This process will take too long, marketing will be an enormous expense and manufacturing, finding resellers and shipping will all make the product overly expensive.</p>
<p>The open alternative could be to make all documentation, descriptions, tutorials, building plans and designs available under a Creative Commons By Attribution Share-Alike license (CC-BY-SA). And the product should be designed in such a way that it can be built relatively easy and reliably using locally sourced materials.</p>
<p>The process of prototyping, testing, improving the design could also be done in an open way, initiating and building a community of people solving the same problem. The driving force of this community will be the WasteBuster team, tirelessly improving the process and machinery and communicating with, involving and interacting with the community in every step.</p>
<p>Local food-waste problem-solvers are then empowered to build their own mini-factory and create a viable system of stakeholders around their practice: farmers delivering the food, local companies supplying machine parts and usables (the bags, labels etc.) and local resellers buying the food powder. These problem-solvers can be supported by the community and are encouraged to share their ideas, findings and improvements on-line.</p>
<p>Of course WasteBuster should also be able to earn revenue to keep investing in improving the process and machinery, disseminating the knowledge and supporting the community (as far as it does not support itself). They can do this in the following ways. If a specialized piece of equipment or part is necessary, they can create and sell that directly online, through partner channels and/or local resellers. If special training is necessary to build, maintain, repair and/or operate the machinery, they can provide online and/or local courses, or train-the-trainer programs with certifications, possibly under a franchise model.</p>
<p>The training materials do not need to be under a CC license, but they could be (I am not sure yet about this one). WasteBuster can charge for licensing and certifications using their brand, which should then be protected under a trademark. The brand then stands for guaranteed quality as it comes from the highly-trusted initiators and WasteBuster can also then give access to their channel network for added value. This is partly how Arduino has become successful using a trademarking model with their Open Source Technology.</p>
<p>WasteBuster can also sell additional items that are needed by local enterprises under their own brand, even the complete machinery, assembled or as a kit, for problem-solvers who do not have the time to construct it, but do have the money to buy it. If WasteBuster is successful, it is likely that 'clone' products will come on the market, but this is fine: this is actually the 'bigger faster impact' at work and is how amongst others Arduino has become so successful in such a short time.</p>
<p>An open model like this, with the fundamental technology openly licensed for benefit to everyone, the value added materials not being openly licensed and the brand being protected with a trademark, could scale up really fast, making the desired impact in just a few years, without having to deal with the traditional lineair growth problems of production, marketing, sales and distribution, while still creating a profitable, sustainable, healthy company.</p>
<p>The challenge is to make an open system where all stakeholders can benefit: fruit and vegetable growers, waste collectors, waste processors, suppliers of equipment, distributors and buyers of the food powder and last but not least: the WasteBuster co-founders and company.</p>
<p>What do you think? Let's open up the conversation and support the WasteBuster team in their idea process!</p>
<p>- Diderik</p>
<div class="moz-forward-container">
<p>&nbsp;</p>
</div>
