---
title: Do European Governments Publish Open Source Software?
categories:
- Blog
tags: []
comments: []
---
<p>From time to time I come across news articles about Governmental bodies in Europe adopting the use of Open Source Software. This seems to be a slowly increasing trend. But if European Governments make software for themselves, or are having it made for them, do they publish that software as Open Source?</p>
<p><!--more--></p>
<p>This was a question that came up in a meeting at one of my clients. To find an answer, I asked my friends at the <a href="https://fsfe.org/index.nl.html">FSFE NL</a>-team and did a Quick Scan. Here are the results.</p>
<p>The short answer: Yes, they do!</p>
<p>The longer answer: read on.</p>
<p>Note: these results are by no means complete, they are just preliminary evidence that we found in a quick search.</p>
<p>*** Update 24 May 2018: added "GitHub and Government" link, incoming tip from FSFE NL.</p>
<h3>GitHub and Government</h3>
<p>GitHub has an entire subsite on the use of GitHub in Government. It lists amongst others all Governemental bodies in the world that use GitHub (as far as they know). See the <a href="https://government.github.com/community/#the-netherlands">"Who's using GitHub?" page here</a>, jumps directly to The Netherlands.</p>
<h3>The Netherlands</h3>
<p>We found the following initiatives in The Netherlands:</p>
<ul>
<li>ICTU: various coding tools and infrastructural components, available on the <a href="https://github.com/ICTU">ICTU GitHub Page</a></li>
<li>Ministry of Internal Affairs:
<ul>
<li>All <a href="https://github.com/MinBZK/OperatieBRP">source code</a> of the software for Operation Base Registration for People (operatie Basisregistratie Personen, BRP)</li>
<li>Area Law, available on <a href="https://gitlab.com/omgevingswet">GitLab</a></li>
<li>Data.overheid.nl,&nbsp;The Dutch National Data portal. "This <a href="https://github.com/dataoverheid">Git provides all code</a> used for the portal than can be open sourced."</li>
<li>Geonovum, a Governmental foundation aiming to make the government more effective with geo information, with <a href="https://github.com/geonovum">code on GitHub</a>.</li>
<li>House of Representatives (Tweede Kamer), <a href="https://github.com/tweedekamer">4 GitHub repos</a> with 1 actually containing something, an extension to an existing video player, latest update in 2015</li>
</ul>
</li>
<li>City of Amsterdam:&nbsp;"The City of Amsterdam is both a user and contributor to and developer of, Open Source projects. Our projects range from a 360&deg; panorama processing system to an OAuth 2.0 server written in Go.", consisting of a <a href="https://github.com/Amsterdam">set of repos</a> and a <a href="https://amsterdam.github.io/">GitHub Pages website</a>.</li>
<li><a href="https://www.pdok.nl/nl">Public Service on the Map</a>, a centralized service providing geo data in national interest, <a href="https://github.com/PDOK">repos on GitHub</a>.</li>
<li>Police, various infrastructural software components, <a href="https://github.com/politie">on GitHub</a>.</li>
<li>Kadaster, available <a href="https://github.com/kadaster">on GitHub</a>.</li>
</ul>
<p>Besides these Open Source repositories we also found two reports on Open Source relating to the Dutch Government, <a href="https://www.rijksoverheid.nl/documenten/rapporten/2017/10/11/onderzoek-open-source-software">one by Gartner</a> and the other on the possibility of an <a href="https://www.rijksoverheid.nl/documenten/rapporten/2017/02/15/rapport-kenniscentrum-open-source-software">Expertise Center on Open Source Software</a>. Both reports are in Dutch.</p>
<h3>Europe</h3>
<p><a href="https://joinup.ec.europa.eu/">Joinup</a> is an initiative financed by the European Commission, meant for "interoperability solutions". I did not delve into it, but it looks like a code repository for various kinds of solutions. A bit like GitHub, but then more clumsy in the user-interface.</p>
<h3>Spain</h3>
<p><a href="https://github.com/ctt-gob-es/datos.gob.es">https://github.com/ctt-gob-es/datos.gob.es</a></p>
<h3>France</h3>
<p>The <a href="https://git.framasoft.org/openfisca/calculette-impots-m-source-code">source code</a> of the income tax application, there is a <a href="https://joinup.ec.europa.eu/news/france-unveils-source-code">news article in English</a>.</p>
<h3>Belgium</h3>
<p>An <a href="https://github.com/timble/openpolice-platform">Open Source</a> Web Publishing Platform for police forces, created by the company <a href="https://www.timble.net/platform/open-police/">Timble</a> and used by the Belgian Police.</p>
<h3>To be continued?</h3>
<p>It would be interesting to do a complete scan and analysis or even a (maturity) benchmark of European Governments publishing Open Source Software. I am sure things can be learned from each other and "good practices" can emerge. At the moment the <a href="https://fsfe.org/index.nl.html">FSFE</a> is doing their <a href="https://publiccode.eu/">Public Money Public Code</a> Campaign, pushing the Open Sourcing agenda forward.</p>
<p>And the United States Government is way ahead of Europe in publishing Open Source Software, have a look at this <a href="https://18f.gsa.gov/2016/08/08/facts-about-publishing-open-source-code-in-government/">18f page</a> as a starting point.</p>
<p>&nbsp;</p>
