---
layout: page
status: publish
published: true
title: Mentoring Entrepreneurs in your Innovation Hub
author:
  display_name: admin
  login: adminti
  email: d.vanwingerden@gmail.com
  url: ''
author_login: adminti
author_email: d.vanwingerden@gmail.com
wordpress_id: 892
wordpress_url: http://think-innovation.com/?page_id=892
date: '2018-07-17 17:13:39 +0200'
date_gmt: '2018-07-17 15:13:39 +0200'
categories: []
tags: []
comments: []
---
<p>My offer is simple: in Q4 of 2018 or Q1/Q2 of 2019 I come over to your Innovation Hub for 2 to 3 weeks and mentor entrepeneurs/start-ups move forward with their initiative. All my expenses paid for by myself.</p>
<p>I believe that I can be of value to the entrepreneurs and start-ups with my expertise and experience in:</p>
<ul>
<li>Software Development</li>
<li>Scrum</li>
<li>Information/Business Analysis</li>
<li>Business Modeling</li>
<li>Lean Start-up/Service Design/Design Thinking</li>
<li>Technical Product/Service Development</li>
<li>Open Source Innovation</li>
</ul>
<p>The past few years I have been mentoring entrepeneurs and start-up teams in: <a href="https://www.meetup.com/madrid-international-entrepreneurs/">Guiripreneurs</a> (Spain), <a href="http://utrechtinc.nl/">UtrechtInc</a>, <a href="http://www.hortiheroes.com/">HortiHeroes</a>, <a href="http://foodstars.net">FoodStars</a> and various hackathons and innovation competitions (all The Netherlands).</p>
<p>Note: I have many years of experience in Software Development, but do not code (anymore).</p>
<p>For a more complete list see&nbsp;<a href="http://think-innovation.com/">my website</a> and <a href="https://www.linkedin.com/in/diderikvanwingerden/">LinkedIn profile</a></p>
<p>What I am looking for:</p>
<ul>
<li>An active vibrant accelerator with start-up teams preferable in-house, in a phase (of the program and of their company) where I can be of value.</li>
<li>More technically oriented products and services (software, apps, back-ends, data, APIs, ...or even physical products with a digital component like IoT), where there is active development on these products/services, linking to customer experience/journey and business model.</li>
<li>A country that is safe to travel to (according to the Dutch government).</li>
<li>A place that has basic infrastructure, for my personal comfort (sanitary, an indoors bed; I can book a hotel near for example), but also for getting somewhere with digital development (reliable power and internet connection, computers).</li>
<li>Good preperation of my trip, with you and possibly the intended entrepeneurs/start-ups, so we can make the most of my visit.</li>
</ul>
<p>Are you interested in my offer? Then <a href="/contact/">contact me</a>.</p>
