---
layout: page
status: publish
published: true
title: Supporting Open
author:
  display_name: Diderik van Wingerden
  login: diderik
  email: diderik@think-innovation.com
  url: ''
author_login: diderik
author_email: diderik@think-innovation.com
wordpress_id: 539
wordpress_url: http://think-innovation.com/?page_id=539
date: '2014-12-05 22:25:20 +0100'
date_gmt: '2014-12-05 20:25:20 +0100'
categories: []
tags: []
comments: []
---
<p>I am an enthusiast of anything adhering to the principles of 'free and open'.</p>
<h3>Proudly using and financially supporting</h3>
<p><a href="http://think-innovation.com/wp-content/uploads/2014/12/linux-mint-logo.png"><img class="alignnone size-full wp-image-542" src="http://think-innovation.com/wp-content/uploads/2014/12/linux-mint-logo.png" alt="linux-mint-logo" width="265" height="79" /></a> <a href="http://think-innovation.com/wp-content/uploads/2014/12/keepassx-logo.png"><img class="alignnone  wp-image-543" src="http://think-innovation.com/wp-content/uploads/2014/12/keepassx-logo.png" alt="keepassx-logo" width="108" height="111" /></a> <a href="http://think-innovation.com/wp-content/uploads/2014/12/nixnote-icon.png"><img class="alignnone size-full wp-image-544" src="http://think-innovation.com/wp-content/uploads/2014/12/nixnote-icon.png" alt="nixnote-icon" width="48" height="48" /></a> <a href="http://think-innovation.com/wp-content/uploads/2014/12/cyanogenmod-logo.png"><img class="alignnone size-full wp-image-545" src="http://think-innovation.com/wp-content/uploads/2014/12/cyanogenmod-logo.png" alt="cyanogenmod-logo" width="285" height="75" /></a><br />
<a href="http://think-innovation.com/wp-content/uploads/2014/12/libreoffice-logo.png"><img class="alignnone size-medium wp-image-546" src="http://think-innovation.com/wp-content/uploads/2014/12/libreoffice-logo-300x96.png" alt="libreoffice-logo" width="300" height="96" /></a></p>
<p><a href="http://think-innovation.com/wp-content/uploads/2014/12/gimp-logo.png"><img class="alignnone  wp-image-548" src="http://think-innovation.com/wp-content/uploads/2014/12/gimp-logo-300x300.png" alt="gimp-logo" width="155" height="164" /></a></p>
<p><a href="http://think-innovation.com/wp-content/uploads/2014/12/thunderbird-logo.png"><img class="alignnone  wp-image-549" src="http://think-innovation.com/wp-content/uploads/2014/12/thunderbird-logo-300x109.png" alt="thunderbird-logo" width="208" height="65" /></a></p>
<p><a href="http://think-innovation.com/wp-content/uploads/2014/12/firefox-logo.png"><img class="alignnone size-full wp-image-551" src="http://think-innovation.com/wp-content/uploads/2014/12/firefox-logo.png" alt="firefox-logo" width="223" height="84" /></a></p>
<p><a href="http://think-innovation.com/wp-content/uploads/2014/12/f-droid-logo.png"><img class="alignnone size-full wp-image-552" src="http://think-innovation.com/wp-content/uploads/2014/12/f-droid-logo.png" alt="f-droid-logo" width="300" height="100" /></a><br />
<a href="http://think-innovation.com/wp-content/uploads/2014/12/kodi-logo.png"><img class="alignnone size-full wp-image-553" src="http://think-innovation.com/wp-content/uploads/2014/12/kodi-logo.png" alt="kodi-logo" width="153" height="55" /></a></p>
<p><a href="http://think-innovation.com/wp-content/uploads/2014/12/olimex-logo.png"><img class="alignnone size-full wp-image-554" src="http://think-innovation.com/wp-content/uploads/2014/12/olimex-logo.png" alt="olimex-logo" width="240" height="65" /></a></p>
<p>&nbsp;</p>
<h3>Fan of movements and initiatives</h3>
<p><a href="http://think-innovation.com/wp-content/uploads/2014/12/open-hardware-logo.png"><img class="alignnone  wp-image-555" src="http://think-innovation.com/wp-content/uploads/2014/12/open-hardware-logo-300x258.png" alt="open-hardware-logo" width="185" height="159" /></a></p>
<p><a href="http://think-innovation.com/wp-content/uploads/2014/12/tux.png"><img class="alignnone  wp-image-556" src="http://think-innovation.com/wp-content/uploads/2014/12/tux-258x300.png" alt="tux" width="107" height="124" /></a><br />
<a href="http://think-innovation.com/wp-content/uploads/2014/12/gnu-logo.png"><img class="alignnone size-full wp-image-557" src="http://think-innovation.com/wp-content/uploads/2014/12/gnu-logo.png" alt="gnu-logo" width="145" height="140" /></a></p>
<p><a href="http://think-innovation.com/wp-content/uploads/2014/12/fsfe-logo.jpg"><img class="alignnone size-medium wp-image-558" src="http://think-innovation.com/wp-content/uploads/2014/12/fsfe-logo-300x156.jpg" alt="fsfe-logo" width="300" height="156" /></a><br />
<a href="http://think-innovation.com/wp-content/uploads/2014/12/privacycafe-logo.png"><img class="alignnone size-medium wp-image-559" src="http://think-innovation.com/wp-content/uploads/2014/12/privacycafe-logo-300x104.png" alt="privacycafe-logo" width="300" height="104" /></a></p>
<p><a href="http://think-innovation.com/wp-content/uploads/2014/12/cc-logo.png"><img class="alignnone size-full wp-image-561" src="http://think-innovation.com/wp-content/uploads/2014/12/cc-logo.png" alt="cc-logo" width="135" height="38" /></a></p>
<p><a href="http://think-innovation.com/wp-content/uploads/2014/12/gplv3-logo.png"><img class="alignnone size-full wp-image-562" src="http://think-innovation.com/wp-content/uploads/2014/12/gplv3-logo.png" alt="gplv3-logo" width="127" height="51" /></a></p>
