---
title: 'Business Case: 10 percent savings with EMR'
header:
#  image: media/images/projects/
  teaser: media/images/publications/emr.jpg
categories:
- Publications
tags: []
comments: []
---
<p>After having made a Business Case for the implementation of a hospital-wide EMR, my colleagues and I at M&amp;I/Partners did an after-go-live measurement of the outcome. We published the results in a Dutch article called "<a href="/media/downloads/publications/0911_AntLu-DidWi-JanHo_EPDLevertBesparingOpVan10Procent_ICTZorg-MaartApril20091.pdf">EPD levert een besparing op van 10 procent</a>" ("Efficiency gain of 10 percent with EMR") in Magazine Zorgvisie (ICTzorg).</p>
