---
title: Quick Reference Card &ndash; 10 Years of IT Benchmarks
header:
#  image: media/images/projects/
  teaser: media/images/publications/itbenchmarks.png
categories:
- Publications
tags: []
comments: []
---
<p>Together with Ies van Rij I created a '<a href="/media/downloads/publications/wtco_quickreferencecard.pdf">Quick Reference Card</a>' (in Dutch), summarizing the benchmark results of 10 years of IT Costs and Benefits Benchmarking in the Housing Association Industry.</p>
