---
title: The Seven Pitfalls of Municipal Shared Service Centers
header:
#  image: media/images/projects/
  teaser: media/images/publications/sevenpitfallsmunicipalssc.jpg
categories:
- Publications
tags: []
comments: []
---
<p>Together with Peter van Dijk and Jos Smits I wrote an article on the costs and benefits of IT partnerships for Municipalities. The article is in Dutch and is called &ldquo;<a href="/media/downloads/publications/1111_dezevenvalkuilenvansharedservicecentrabijgemeenten_tiemnr41-201107.pdf">De zeven valkuilen van shared service centra bij gemeenten</a>&ldquo; ("The Seven Pitfalls of Municipal Shared Service Centers") and was published in TIEM 2.0 Magazine, July 2011, p 50 &ndash; 55.</p>
