---
title: Information Economics in Practice
header:
#  image: media/images/projects/
  teaser: media/images/publications/cycle.jpg
categories:
- Publications
tags: []
comments: []
---
<p>For several years I did a guest lecture on "<a href="http://www.slideshare.net/diderik/information-economics-in-practice-guest-lecture-erasmus-university-rotterdam">Information Economics in Practice</a>" for students in&nbsp;Economics &amp; Informatics at the Erasmus University Rotterdam.</p>
