---
title: Ambition to Action
header:
#  image: media/images/projects/
  teaser: media/images/publications/ambitienaaractie.jpg
categories:
- Publications
tags: []
comments: []
---
<p>Pim van den Broek and I published another article on Green IT and Sustainability in Dutch called "<a href="/media/downloads/publications/1103_pimbr-didwi_vanambitienaaractie_corporatiegidsmagazinenr1-2011021.pdf">Van ambitie naar actie</a>&ldquo; ("Ambition to Action"). This time in CorporatieGids Magazine, edition 1 2011, p 8-9.</p>
