---
title: Presentation about Co-Creation, Crowdsourcing and Social Media
header:
#  image: media/images/projects/
  teaser: media/images/publications/portfolio-thumb-jonge-veranderaars.jpg
categories:
- Publications
tags: []
comments: []
---
<p>For the young professionals at '<a href="http://www.jongeveranderaars.nl/">Jonge Veranderaars</a>' (part of Railforum, Nederlandse Spoorwegen), I held an introductory talk about co-creation, crowd sourcing and social media. And how these concepts relate to each other. I created the <a href="http://prezi.com/wg9lg0gcxn9h/cre8-jv-co-creatie-crowdsourcing-en-social-media/">presentation in Prezi</a> (in Dutch).</p>
