---
title: Questions about Green IT
header:
#  image: media/images/projects/
  teaser: media/images/publications/greenit.jpg
categories:
- Publications
tags: []
comments: []
---
<p>After performing a survey and doing qualitative research on Green IT and Sustainability in the Housing Associations Industry Pim van den Broek and me published an article in Dutch called "<a href="/media/downloads/publications/1101_pimbr-didwi_vragenovergroeneict_aedesmagazinenr3-20111.pdf">Vragen over groene ICT</a>" ("Questions about Green IT") in Aedes Magazine 3 2011, p 14.</p>
