---
title: Social Media Maturity Model (S3M)
header:
#  image: media/images/projects/
  teaser: media/images/publications/S3M_SocialMediaMaturityModel.jpg
categories:
- Publications
tags: []
comments: []
---
<p>Together with Antoon van Luxemburg and other colleagues at M&amp;I/Partners we created the <a href="http://www.socialmediamodellen.nl/social-media-organisatie-volwassenheidsmodellen/social-media-maturity-model/">Social Media Maturity Model (S3M)</a>. This was published on the website www.socialmediamodellen.nl.</p>
