---
title: Benchmarking IT Benefits &ndash; Exploring Outcome and Process Based Approaches
header:
#  image: media/images/projects/
  teaser: media/images/publications/sf.jpg
categories:
- Publications
tags: []
comments: []
---
<p>Egon Berghout, Peter Schuurman and I wrote a paper called "<a href="/media/downloads/publications/Berghout-Schuurman-van-Wingerden-Benchmarking-IT-Benefits.pdf">Benchmarking IT Benefits &ndash; Exploring Outcome and Process Based Approaches</a>" for AMCIS, the Americas Conference On Information Systems in San Francisco. The paper was accepted in the Proceedings and we were invited to present our research at the conference.</p>
