---
title: Sustainable Business and Green IT for Housing Associations
header:
#  image: media/images/projects/
  teaser: media/images/publications/ambitiontoactionreport.jpg
categories:
- Publications
tags: []
comments: []
---
<p>At M&amp;I/Partners and together with NetwIT and Futura, Pim van den Broek and me surveyed 34 Housing Associations and performed two case studies on Sustainable Business and Green IT. Our research report is in Dutch and is called "<a href="/media/downloads/publications/Van-ambitie-naar-actie-Duurzame-bedrijfsvoering-en-groene-ICT-bij-woningcorporaties.pdf">Van ambitie naar actie - Duurzame bedrijfsvoering en groene ICT bij woningcorporaties</a>" ("Ambition to Action - Sustainable Business and Green IT for Housing Associations").</p>
