---
title: Enterprise IT Reference Architecture
header:
#  image: media/images/projects/
  teaser: media/images/publications/cora1.jpg
categories:
- Publications
tags: []
comments: []
---
<p>Together with 11 Housing Associations Marnix van Welie and I created an industry-wide <a href="/media/downloads/publications/CORA-Woningcorporatie-Referentiearchitectuur-v1.0.pdf">Enterprise IT Reference Architecture</a> (in Dutch) called "CORA" (Corporation Reference Architecture).</p>
<p>&nbsp;</p>
