---
layout: page
status: publish
published: true
title: Apps for Energy
author:
  display_name: Diderik van Wingerden
  login: diderik
  email: diderik@think-innovation.com
  url: ''
author_login: diderik
author_email: diderik@think-innovation.com
wordpress_id: 523
wordpress_url: http://think-innovation.com/?page_id=523
date: '2014-11-24 11:01:21 +0100'
date_gmt: '2014-11-24 09:01:21 +0100'
categories: []
tags: []
comments: []
---
<p><a href="http://think-innovation.com/wp-content/uploads/2014/11/logo-apps-for-energy.png"><img class="alignnone  wp-image-525" src="http://think-innovation.com/wp-content/uploads/2014/11/logo-apps-for-energy-300x300.png" alt="logo-apps-for-energy" width="178" height="178" /></a></p>
<p>On 7, 8 and 9 November 2014 Enexis, Liander together with UtrechtInc organized the Apps for Energy Hacakthon. This page contains links to articles, photos and videos to get an idea of the event. To put it short: the hackathon was a huge success!</p>
<ul>
<li>A brief summarizing <a href="https://docs.google.com/presentation/d/10IlZSk8r1hs7nrAL-WQzrtJC6PjE80vzOkYQQPrcmpA/edit?usp=sharing">impression slide deck</a>, also available as <a href="http://appsforenergy.nl/results-apps-for-energy-hackathon.pdf">PDF for download</a></li>
<li>The <a href="http://wiki.appsforenergy.nl">wiki containing all details</a> about the program, mentors, partners, judges etc.</li>
<li><a href="http://www.liander.nl/appsforenergy">Liander summary article</a> (in Dutch)</li>
<li><a href="http://news.utrechtinc.nl/89871-slurpers-beste-app-for-energy">UtrechtInc summary article</a> (in Dutch)</li>
<li>Info of all teams on <a href="https://www.hackerleague.org/hackathons/apps-for-energy-hackathon">hackerleague.org</a></li>
<li>Team <a href="https://www.youtube.com/playlist?list=PLN09qhlueynf6AUp6rFmQSyKSAAUS9JwL">pitches on YouTube</a></li>
<li><a href="https://drive.google.com/folderview?id=0B1ClArPi8BvbcVFFQ1NzRngtNDQ&amp;usp=sharing">The photos</a> of the weekend</li>
<li><a href="http://think-innovation.com/work/apps-for-energy-hackathon/">Blogpost</a> by Think. Innovation.</li>
</ul>
